<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
<!-- <div id="wrapper_setup"> -->
    <!-- <section id="inner_cont"> -->
        <!-- <div class="container form_cont" style="background: white"> -->
            <h4 style="text-align: center; color:white;">{{'PRODUCT_SALES_CHART.PRODUCT_SALES_LAST_MONTH'| translate }}</h4>
            <p-chart class="size-align" type="pie" [options]="options" [data]="data"></p-chart>
        <!-- </div> -->
    <!-- </section> -->
<!-- </div> -->
<app-rightbar></app-rightbar>
</div>