<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<div id="wrapper_setup_new">
		<section class="setsubcont" id="inner_cont">
			<div class="container form-cont">
				<div class="row mt-20 row-style">
					<div class="col-md-4 col-sm-4">
						<div class="box-style">

							<p class="text-center">{{totalSales | currency: "USD": "symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size"> {{'DASHBOARD.TOTAL_SALES'| translate}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="box-style">
							<p class="text-center">{{serviceSales | currency: "USD": "symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size"> {{'DASHBOARD.SERVICE_SALES'| translate}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="box-style">
							<p class="text-center">{{productSales | currency: "USD": "symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.PRODUCT_SALES'| translate}} </p>
						</div>
					</div>
				</div>
				<div class="row row-style">
					<div class="col-md-12 col-sm-12">
						<div class="box-style1">
							<div class="col-md-2 col-sm-2">
								<div class="img-style" *ngIf ="highestServiceSales.image === null">
									<img src="assets/images/user-icon.png">
								</div>
								<div class="img-style" *ngIf ="highestServiceSales.image !== null">
								<img [src]="serviceWorkerImage.srcURL" (error)="imageErrorHandler($event);">
								</div>
							</div>
							<div class="col-md-10 col-sm-10 text-center">
								<div class="row">
									<div class="col-md-12 col-sm-12 res">{{highestServiceSales.workerName}}</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 text-right text-style">{{'DASHBOARD.SERVICE_SALES'| translate}}:</div>
									<div class="col-md-6 col-sm-6 text-left text-style">{{highestServiceSales.serviceSales | currency: "USD": "symbol-narrow"}}</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 text-right text-style">{{'DASHBOARD.PRODUCT_SALES'| translate}}:</div>
									<div class="col-md-6 col-sm-6 text-left text-style">{{highestServiceSales.productSales | currency: "USD": "symbol-narrow"}}</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12">{{'DASHBOARD.HIGHEST_SERVICE_SALES'| translate}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-style">
					<div class="col-md-12 col-sm-12">
						<div class="box-style1">
							<div class="col-md-2 col-sm-2">
								<div class="img-style" *ngIf ="highestProductSales.image === null">
									<img src="assets/images/user-icon.png">
								</div>
								<div class="img-style" *ngIf ="highestProductSales.image !== null">
								<img [src]="productWorkerImage.srcURL" (error)="imageErrorHandler($event);">
								</div>
							</div>
							<div class="col-md-10 col-sm-10 text-center">
								<div class="row">
									<div class="col-md-12 col-sm-12 res">{{highestProductSales.workerName}}</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 text-right text-style">{{'DASHBOARD.SERVICE_SALES'| translate}}:</div>
									<div class="col-md-6 col-sm-6 text-left text-style">{{highestProductSales.serviceSales | currency: "USD": "symbol-narrow"}}</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 text-right text-style">{{'DASHBOARD.PRODUCT_SALES'| translate}}:</div>
									<div class="col-md-6 col-sm-6 text-left text-style">{{highestProductSales.productSales | currency: "USD": "symbol-narrow"}}</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12">{{'DASHBOARD.HIGHEST_PRODUCT_SALES'| translate}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-style">
					<div class="col-md-4 col-sm-4">
						<div class="box-style">
							<p class="text-center">{{totalNetAveregeTicket | currency:"USD":"symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.AVERAGE_TICKET'| translate}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="box-style">
							<p class="text-center">{{averegeNetSales | currency:"USD":"symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.AVERAGE_SERVICE'| translate}}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="box-style">
							<p class="text-center">{{avergeProductSales | currency:'USD':"symbol-narrow"}} </p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.AVERAGE_PRODUCT'| translate}}</p>
						</div>
					</div>
				</div>
				<div class="row row-style">
					<div class="col-md-6 col-sm-6">
						<div class="box-style">
							<p class="text-center">{{ GiftSales | currency:"USD":"symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.GIFT_SALES'| translate}}</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="box-style">
							<p class="text-center">{{ packageSales | currency:"USD":"symbol-narrow"}}</p>
							<br>
							<p class="text-center text-size">{{'DASHBOARD.PACKAGE_SALES'| translate}} </p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<app-rightbar></app-rightbar>
</div>