<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENTS.FULL_NAME' | translate}}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8" style="color:white;">
                    <p>{{clientName}}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CHECK_OUTS.REFUND.REFUND_TYPE' | translate}}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="refundtype" (change)="refundtypeOnChange($event.target.value)">
                        <option value="Service Refund">{{'SETUP_WORKERS_DETAILS.SERVICE'| translate}}</option>
                        <option value="Product Refund">{{'COMMON.PRODUCT'| translate}}</option>
                        <option value="Payment Overcharge">{{'CHECK_OUTS.REFUND.ELECTRONIC_PAYMENT'| translate}}
                        </option>
                    </select>
                    {{ElectronicPayment}}
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CHECK_OUTS.REFUND.REFUNDED_BY'| translate}}
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]="refundedBy" (keypress)="clear();" (keyup.enter)="refundSearch()"
                        maxlength="20" />
                </div>
                <p class="red" style="text-align:center;"> {{refundByError | translate}}</p>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CHECK_OUTS.REFUND.SELECT_FROM_HISTORY'| translate}}
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <div style="float:left;width: 219px;">
                        <input type="text" [bsConfig]="datePickerConfig" [maxDate]="maxdate" [(ngModel)]="startDate"
                            bsDatepicker class="datefield" [disabled]="Electronicdisabled" (click)="clear();">
                    </div>
                    <div style="float:left;width: 219px;margin-left: -82px;">
                        to &nbsp;
                        <input type="text" [bsConfig]="datePickerConfig" [maxDate]="maxdate" [(ngModel)]="endDate"
                            bsDatepicker class="datefield" [disabled]="Electronicdisabled" (click)="clear();">
                    </div>
                </div>
            </div>
            <p class="red" style="text-align:center;"> {{dateError | translate}}</p>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" class="btn btn-primary" (click)="refundSearch()">
                        <i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'CLIENTS.SEARCH' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="row mt-20 res-mt-15 setsubcont" *ngIf="searchList">
            <div class="col-md-12" *ngIf="servicelist">
                <div class="table-responsive">
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'COMMON.SELECT' | translate }} </th>
                                <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.PRODUCT_LOG.TICKET' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.APPOINTMENTS.WORKER' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.APPOINTMENTS.SERVICE' | translate }}</th>
                                <th class="thcss">{{'COMMON.AMOUNT' | translate }}</th>
                                <th class="thcss">{{'SETUP_SERVICES.TAXABLE' | translate }}</th>
                                <th class="thcss">{{'COMMON.DEDUCT_WORKER' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundData;let i = index;">
                                <td>
                                    <input type="checkbox" [checked]='item.selectVal' [(ngModel)]="item.selectVal"
                                        [disabled]='item.seleCheckBox'
                                        (change)="calculateRefundAmount($event.target.checked,item,i)">
                                </td>
                                <td>{{item.disaplayDate[0]}}</td>
                                <td>{{item.apptName}}</td>
                                <td>{{item.workerName}}</td>
                                <td>{{item.serviceName}}</td>
                                <td>
                                    <input type="number" step="0.01" min="0" [(ngModel)]="item.Net_Price__c"
                                        (blur)="calculateRefundAmount(item.selectVal,item)" (keypress)="clear();">
                                </td>
                                <td>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 1" checked>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 0">
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.deductFromWorker"
                                        *ngIf="item.deductFromWorker === 1 || item.deductFromWorker === true" checked>
                                    <input type="checkbox" [(ngModel)]="item.deductFromWorker"
                                        *ngIf="item.deductFromWorker === 0 || item.deductFromWorker === false">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-12" *ngIf="productlist">
                <div class="table-responsive">
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'COMMON.SELECT' | translate }} </th>
                                <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.PRODUCT_LOG.TICKET' | translate }}</th>
                                <th class="thcss">Product</th>
                                <th class="thcss">Quantity</th>
                                <th class="thcss">{{'COMMON.AMOUNT' | translate }}</th>
                                <th class="thcss">{{'SETUP_SERVICES.TAXABLE' | translate }}</th>
                                <th class="thcss">{{'COMMON.DEDUCT_WORKER' | translate }}</th>
                                <th class="thcss">Return to Inventory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundData;let i = index;">
                                <td>
                                    <input type="checkbox" [checked]='item.selectVal' [(ngModel)]="item.selectVal"
                                        [disabled]='item.seleCheckBox'
                                        (change)="calculateRefundAmount($event.target.checked,item,i)">
                                </td>
                                <td>{{item.disaplayDate[0]}}</td>
                                <td>{{item.apptName}}</td>
                                <td>{{item.Name}}</td>
                                <td>
                                    <input type="number" [(ngModel)]="item.Qty_Sold__c" (keypress)="clear();">
                                </td>
                                <td>
                                    <input type="number" [(ngModel)]="item.newPrice"
                                        (blur)="calculateRefundAmount(item.selectVal,item)" (keypress)="clear();">
                                </td>
                                <td>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 1" checked>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 0">
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.deductFromWorker"
                                        *ngIf="item.deductFromWorker === 1 || item.deductFromWorker === true" checked>
                                    <input type="checkbox" [(ngModel)]="item.deductFromWorker"
                                        *ngIf="item.deductFromWorker === 0 || item.deductFromWorker === false">
                                </td>
                                <td>
                                    <input type="checkbox"
                                        *ngIf="item.returnToInventory === 1 || item.returnToInventory === true" checked
                                        [(ngModel)]="item.returnToInventory">
                                    <input type="checkbox"
                                        *ngIf="item.returnToInventory === 0 || item.returnToInventory === false"
                                        [(ngModel)]="item.returnToInventory">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-12" *ngIf="electroniclist">
                <div class="table-responsive">
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'COMMON.SELECT' | translate }} </th>
                                <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.PRODUCT_LOG.TICKET' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.PAYMENT_TYPE' | translate }}</th>
                                <th class="thcss">{{'COMPLETED_TICKET.AMOUNT_PAID' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundData;let i = index;">
                                <td>
                                    <input type="checkbox" [checked]='item.selectVal' [(ngModel)]="item.selectVal"
                                        [disabled]='item.seleCheckBox'
                                        (change)="calculateRefundAmount($event.target.checked,item,i)">
                                </td>
                                <td>{{item.apptTime[0]}}</td>
                                <td>{{item.apptName}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Amount_Paid__c | currency: "USD": "symbol-narrow"}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <span *ngIf="!electroniclist">
            <div style="height: 25px;">
                <div style="float: right;width:30%;border-bottom: 1px solid grey;">Tax &nbsp; {{totaltaxAmt}}</div>
                <div style="float: right;width:70%;"></div>
            </div>
            <div>
                <div style="float: right;width:30%;">Total &nbsp;{{totalfixAmt}}</div>
                <div style="float: right;width:70%;"></div>
            </div>
        </span>
        <div class="row mt-20 res-mt-15 setsubcont" *ngIf="refundto">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">
                    Refund To
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'CLIENT_EDIT.ACCOUNTS.PAYMENT_TYPE' | translate }} </th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.ORI_PAY_AMO' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.MER_ACC_NAME' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.REF_NUM' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.AMO_TO_RE' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundTOData">
                                <td>{{item.Name}}</td>
                                <td *ngIf="!item.Ineligible">{{item.OriginalPaymentAmount | currency: "USD": "symbol-narrow"}}</td>
                                <td *ngIf="item.Ineligible">$0.00</td>
                                <td>{{item.Merchant_Account_Name__c}}</td>
                                <td>{{item.Reference_Number__c}}</td>
                                <td *ngIf="!item.Ineligible">
                                    <input type="number" step="0.01" min="0" [(ngModel)]="item.Amount_Paid__c"
                                        (keypress)="clear();">
                                </td>
                                <td *ngIf="item.Ineligible">
                                    {{item.Ineligible}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <p class="red" style="text-align:center;"> {{amountMatcherror | translate}}</p>
            Cash Drawer &nbsp;
            <span style="font-weight: normal;">{{local}} </span>
        </div>
        <div style="text-align: center;">
            <button class="save-btn" type="button" (click)="save()" *ngIf="refundSaveBut">{{'BUTTON.SAVE' | translate}}</button>
            <button class="cancel-btn" type="button" [routerLink]="['/checkout']">{{'BUTTON.CANCEL' | translate}}</button>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>
<!-- Start of code for Clover -->
<div bsModal #cloverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" (keyup.esc)="cloverModal.hide()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Connect to Clover device to refund</h4>
                <button type="button" class="close" (click)="cloverModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <canvas ref="canvas" width="300" height="175" id="verify-signature-canvas"></canvas> -->
            </div>
            <div class="modal-body" style="background-color:#FFFFFF ">
                <div id="cloverPopupId">
                    <div class="row">
                        <div class="clearfix">
                            <div class="col-md-4" class="margin-css">
                                <label>Select Device</label>
                                <!-- <select id="select--clover-device-serials"></select> -->
                                <select [(ngModel)]="cloverDevice" style="border-color: #000 !important;">
                                    <option *ngFor='let list of cloverDeviceList' value="{{list.id}}">{{list.name}}
                                    </option>
                                </select>
                                <div id="status-message"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-40">
                            <button class="save-btn" type="button" (click)='connectCloverDevice()'
                                id="contDevId">Connect</button>
                            <button class="cancel-btn" type="button" (click)="cloverModal.hide()" id="cancelTransId">
                                {{'BUTTON.CANCEL' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="completeTrsId" (click)="cloverRefund()">
<input type="hidden" id="toastMsgId" (click)="displayToast()">
<input type="hidden" id="paymentId">
<input type="hidden" id="orderId">
<input type="hidden" id="amtId">
<input type="hidden" id="refundId">
<!-- End of code for Clover -->