.form_cont select:focus{
    border:1px solid #000;
    background-color: #fff;
    color:#000;
}
/* styles for ipad*/
#inner_cont {
    margin-right: 4%;
}
#box-align {
    margin-right:-2%;
}
.button-align {
    margin-left:35%;
}
.appt-box {
    border: solid 1.5px #3583a1;
    margin-bottom: 9px;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}
.form_cont12{
    text-align: center;
    margin-top: -28px;
}
.form_cont12 h1 {
    font-family: 'AvenirLTStdRoman';
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.color-active {
    color: white;  /* dont put important this. it is dependency */
}
.form_cont .row-selected>td:nth-child(n) {
    font-size: large;
    font-weight: bold;
    color:#007286 !important;
    background: white !important;
}
.table>tbody>tr>td {
    vertical-align: top !important;
}
@media (device-width: 768px) {
    #box-align {
        margin-right:0px;
    }
    #inner_cont {
        margin-right: 10%;
    }
}
@media (device-width: 1024px) {
    #inner_cont {
        margin-right: 5%;
    }
    .button-align {
        margin-left:3%;
    }
    #box-align {
        margin-right:-2.5%;
    }
    .col-md-12 {
        width: 105%;
        margin-left: -10px;
    } 
}
.logo-active {
    cursor: pointer;
    opacity: 1 !important;
}
.b-0 {
    border: 0 !important;
}
.d-inline-block {
    display: inline-block !important
}
.v-alm {
    vertical-align: middle !important;
}
.br-5 {
    border-radius: 5px !important;
}
.m-0 {
    margin: 0px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.form_cont .btn-default {
    color: #fff !important;
    background-color: #1496c9;
}
.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.wt-line {
    width: 100%;
    border:0;
    height: 1px;
    background: #fff;
}
.pl-0 {
    padding-left: 0 !important;
}
.table-border-0 td {
    border: 0 !important;
}

.form-text {
    background: transparent !important;
    color:#fff !important;
    border:1px solid #fff !important;
}
.btn-new-wt {
    background: #fff !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-blue {
    background: #30afe0 !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-lgt-trans {
    background: rgba(255,255,255,0.9) !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-wt.big-btn, .btn-new-blue.big-btn, .btn-new-lgt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:18px !important;
    line-height: 25px !important;
    font-weight: normal;
}
.table-bg-trans tbody {
    background: rgba(255,255,255,0.2) !important;
}
.td-para {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 10px 0 0 15px !important;
    margin: 0px 0 0 0 !important;
}
.td-para-main {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 0px 0 0 0px !important;
    margin: 0px 0 0 0 !important;
    font-weight: bold;
}
@media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
       .w90 {
           width: 100% !important;
       }
   }
/* end of ipad styles */