::-webkit-file-upload-button {
    background: #b1d6ec;
    outline: none;
    border: solid 1px #0285b9;
    background: #03a4e4;
    color: #fff;
    border-radius: 3pc;
    padding: 4px;
}

a.white {
    cursor: pointer;
}

.hideinactive {
    display: none !important;
}

.showinactive {
    display: table-row !important;
}

.activelabel span {
    display: none;
}

.activelabel span.labelshow {
    display: inline-block;
}

.activelabel span.labelhide {
    display: inline-block;
}
.setsubcont label{font-size:15px !important;letter-spacing:1px;}
p-calendar[inputStyleClass="timezone-calendar calendar"] .ui-calendar button {
    background: #000 !important;
    border-color: #000 !important;
}

p-calendar[inputStyleClass="timezone-calendar calendar"] {
    display: block;
}

p-calendar[inputStyleClass="timezone-calendar calendar"] span.ui-calendar {
    display: block;
}

p-calendar[inputStyleClass="timezone-calendar calendar"] span.ui-calendar {
    width: 100%;
}

p-calendar[inputStyleClass="timezone-calendar calendar"] .ui-calendar button {
    right: -1px;
}

.tabcontent {
    display: none;
}

.setupworkerdetails-password {
    background: none;
    border: solid 1px #fff;
    padding: 5px 15px 5px 15px;
    height: 35px;
    width: 70%;
    outline: none;
    color: #000;
}

.setworkdtl-show-password {
    top: 10px;
    cursor: pointer;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.setup-wrk-inactive-label {
    margin-left: 35px;
    margin-top: 5px;
}
/* used for responsive */
.setsubcont {
    margin-right: 10% !important;
}
.table-bordered-white>tbody>tr>td {
    color: white;
}
.table-bordered-light>tbody>tr>td {
    color: white;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setupworkerdetails-password, .setsubcont select,
.setsubcont textarea {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus,.setupworkerdetails-password:focus,
.setsubcont textarea:focus {
    color: black;
}
.wd-25 {
	width:16%!important;
}
.tab-content {
	font-size: 15px;
}
.pd-lr {
    padding: 5px 5px 5px 5px!important;
}
.table-bordered-light>thead>tr>th {
	border: solid 1px #444;
	vertical-align: middle !important;
}
.ccode-style{
	font-size: 10px;
	color: white;
}
/*hours tab css*/
.select-align {
	padding-right: 0px!important;
    padding-left: 0px!important;
}
.input-padding {
	padding:5px!important;
}
.checklist {
	display:inline-block; vertical-align:top; margin-right: 5px; margin-bottom: 5px;
}
.checklist input[type="checkbox"]{
	line-height:1.5em;content:'';display:inline-block;width:22px;height:22px;
	-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;
	border:solid 1px #fff;outline:none;
}
.checklist input[type="checkbox"]:checked{
	width:22px;height:22px;
	background:url('../../../../assets/images/checkmark.png') no-repeat center;
}
.checklist label {
	display:inline-block; vertical-align:top; line-height: 31px;
}
.check label {
	display:inline-block; vertical-align:top; line-height: 31px;
}
.border-black {
	border-color:#000;
}
.cursor-css {
	color: white;
	cursor: pointer;
}
/*hours tab css end*/
/* service css */
.border-less>tbody>tr>td, .border-less>tbody>tr>th, .border-less>tfoot>tr>td, .border-less>tfoot>tr>th, .border-less>thead>tr>td, .border-less>thead>tr>th {
	border:0 !important;
}
.col-sm-offset-3 {
    margin-left: 37%;
}
.fa-caret-right {
	font-size: 20px;
}
.fa-caret-down {
	font-size: 20px;
	margin-left: -4px;
}
.checkbox-custom {
	width: 15px !important;
	height: 15px !important;
}
.check-align {
	margin:0;
	vertical-align: middle;
	border-color: #000 !important;
}
.align-fields {
	border-color:#000; width:100%; border-width:1px; box-shadow: none;
}
.select-b{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0 !important;
    width: 75% !important;
    background: url(/assets/images/select-arrow.png) no-repeat calc(100% - 10px) center rgba(7, 130, 151, 1) !important;
    color: #fff !important;
    padding: 2px 35px 8px 2px;
    font-size: 15px;
    line-height: 18px;
    height: 24px;
    background-size: 20px auto !important;
}
.bg-grey {
	background-color:grey!important;border-color: gray!important;
}
.setsubcont .btn-default {
    color: #1496c9 !important;
    background-color: #fff!important;
    border-color: #4bc1ef;
	margin-right: 04px;
	font-weight: bold;
	
}
.removeButton {
	background: red;
	outline: none;
	border: solid 1px red;
	/* background: #03a4e4; */
	color: #fff;
	border-radius: 3pc;
	padding: 4px;
	float: left;
}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
        .table-bordered-light {
            border: solid 1px #ccc;
            /* text-transform: uppercase; */
            font-family: 'AvenirLTStdRoman';
            font-size: 14px;
            letter-spacing: 1px;
		}
		.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
			background: none;
			border: solid 1px #fff;
			padding: 5px 5px 5px 5px !important;
			height: 35px;
			width: 70%;
			outline: none;
			color: #000;
		}
		.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setupworkerdetails-password, .setsubcont select,
			.setsubcont textarea {
    		color: white;
		}
		.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus,.setupworkerdetails-password:focus,
		.setsubcont textarea:focus {
    		color: black;
		}
		.col-sm-offset-3 {
			margin-left: 36%;
		}
	
		/* Force table to not be like tables anymore */
		 
		/* Hide table headers (but not display: none;, for accessibility) */
		.mobile-table table, .mobile-table thead, .mobile-table tbody, .mobile-table th,  .mobile-table td, .mobile-table tr {
			display: block;
		}
	  .mobile-table	thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.ccode-style{
			font-size: 8px;
		}
		
		 
		/* goals mobile versions table foramt */
		.mobile-table td { 
			/* Behave  like a "row" */
			border: none;
			 
			position: relative;
			padding-left: 50% !important;  
            border-bottom:1px solid #fff;
            min-height: 30px!important;
		}
		.mobile-table tr td:last-child {
			border-bottom: 0;
		}
		
		.mobile-table td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.mobile-table td:nth-of-type(1):before { content: "Goals"; }
		.mobile-table td:nth-of-type(2):before { content: "Start Date"; }
		.mobile-table td:nth-of-type(3):before { content: "End Date"; }
		.mobile-table td:nth-of-type(4):before { content: "Goal Target"; }
		.mobile-table td:nth-of-type(5):before { content: "Calculated Goal"; }
		.mobile-table td:nth-of-type(6):before { content: "% of Goal"; }
		.mobile-table td:nth-of-type(7):before { content: ""; }
		.mobile-table td:nth-of-type(8):before { content: ""; }
		
		/* goals mobile versions table foramat end */
	}
	