<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont">
			<div class="row mt-20" style="margin-bottom: 10px;padding:5px;">
				<div class="col-md-12">
					<label>{{'MARKETING.MARKETING_SET' | translate}}</label>
				</div>
				<div class="col-md-12">
					<label>{{'MARKETING.RUN_DATE'| translate}}</label>
				</div>
			</div>
			<div class="row mt-5">
				<div class="pull-right col-md-15 mt-5" style="margin-right:15px;">
					<button class="btn btn-default" (click)="myFunction()"><i
							class="fa fa-print">{{'BUTTON.PRINT' | translate}}</i></button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th class="thcss">{{'SETUP_WORKERS_DETAILS.FIRST_NAME' | translate}}</th>
							<th class="thcss">{{'SETUP_WORKERS_DETAILS.LAST_NAME' | translate}}</th>
							<th class="thcss">{{'SETUP_WORKERS_DETAILS.PRIMARY_PHONE' | translate}}</th>
							<th class="thcss">{{'SETUP_WORKERS_DETAILS.MOBILE_PHONE' | translate}}</th>
							<th class="thcss">{{'SETUP_WORKERS_DETAILS.PRIMARY_EMAIL' | translate}}</th>
							<th class="thcss">{{'CLIENT_EDIT.SECONDARY_EMAIL' | translate}}</th>
							<th class="thcss">{{'COMMON.CURRENT_BALANCE' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Laura</td>
							<td>Petry</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>.00</td>
						</tr>
						<tr>
							<td>Rob</td>
							<td>Petry</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>.00</td>
						</tr>
				</table>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>