<div id="wrapper_setup_new">
	<app-header [newMenu]="'nav'"></app-header>
	<section id="inner_cont" class="setsubcont">
		<div class="container form_cont">
			<div class="col-md-10 top-select">
				<select class="select-bg pull-right" [(ngModel)]="filterBy"
					(change)="changeFiltersBy($event.target.value);">
					<option *ngFor="let data of FilterData;" value="{{data.option}}">{{data.option}}</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-3 apointmnet-left">
					<div class="row mt-10">
						<div class="col-sm-12">
							<button class="btn bt-default" style="min-width: 100%;" (click)="showCliModal()">
								<i class="fa fa-plus"
									aria-hidden="true"></i>{{'WAITINGLIST_APPOINTMENT.NEW' | translate}}</button>
						</div>
					</div>
					<div class="row mt-10">
						<div class="col-sm-12 filter-align mt-30">
							<div class="apont-head">{{'WAITINGLIST_APPOINTMENT.FILTERS' | translate}}</div>
							<div class="col-sm-12 date-align mb-20">{{'WAITINGLIST_APPOINTMENT.DATE' | translate}}</div>
							<div class="col-sm-12" style="text-align: center;">
								<input type="text" [(ngModel)]="toDate" bsDatepicker [bsConfig]="datePickerConfig"
									class="datefield" (onblur)="changedata()" (ngModelChange)="changedata()">
							</div>
							<div class="col-sm-12 date-align mt-20 mb-10">
								<label>{{'WAITINGLIST_APPOINTMENT.WORKER' | translate}}</label>
							</div>
							<div class="col-sm-12 mt-10 mb-30">
								<ng-multiselect-dropdown [placeholder]="'All'" (click)="changedata()"
									[data]="workerList" [(ngModel)]="selectedWorkers" [settings]="dropdownSettings">
								</ng-multiselect-dropdown>
							</div>
							<div class="col-sm-12 date-align mt-20 mb-20">
								<div>
									<input type="checkbox" (click)="showExpRcrds($event.target.checked)">
									<span
										style="vertical-align: super;">{{'WAITINGLIST_APPOINTMENT.SHOW_EXPIRED_ONLY' | translate}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-10">
						<div class="col-sm-12 mb-10">
							<button class="btn bt-default" (click)="deleterecord('delAllExp')"
								style="min-width: 100%;background:#580707;">{{'WAITINGLIST_APPOINTMENT.DELETE_ALL_EXPIRED' | translate}}</button>
						</div>
					</div>
				</div>
				<div class="col-md-9 apointmnet-right">
					<div class="table-responsive">
						<table class="table table-align">
							<thead>
								<tr class="apont-head-large">
									<th>{{'WAITINGLIST_APPOINTMENT.DELETE' | translate}}</th>
									<th>{{'WAITINGLIST_APPOINTMENT.CREATED' | translate}}
										<br>{{'WAITINGLIST_APPOINTMENT.DATE:' | translate}}</th>
									<th>{{'WAITINGLIST_APPOINTMENT.DATE' | translate}}
										<br>{{'WAITINGLIST_APPOINTMENT.RANGE' | translate}}</th>
									<th>{{'WAITINGLIST_APPOINTMENT.CLIENTS' | translate}}</th>
									<th>{{'WAITINGLIST_APPOINTMENT.SERVICES' | translate}}</th>
									<th>{{'WAITINGLIST_APPOINTMENT.NOTES' | translate}}</th>
									<th>&nbsp;</th>
									<th>{{'WAITINGLIST_APPOINTMENT.EDIT' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of waitingList; let i='index'">
									<td>
										<i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"
											(click)="deleterecord(data.Id)"></i>
									</td>
									<td>{{data.createdDt[0]}}
										<br>{{data.createdDt[1]}}</td>
									<td>{{data.stdate[0]}}
										<br>{{data.endate[0]}}</td>
									<td>
										<span class="c-align" [routerLink]="['/client/edit/'+ data.clientId]"
											[queryParams]="{ actionMethod: 'waitinglist', date: toDate}">{{data.clientName}}</span><br>
										<span *ngIf="hideClientInfo === 0">
											<div class="text-style" *ngIf="data.MobilePhone" style="font-size: 12px;">M:
												{{data.MobilePhone}} </div>
											<div class="text-style" *ngIf="data.Phone" style="font-size: 12px;">P:
												{{data.Phone}} </div>
										</span>
									</td>
									<td style="width: 30%">{{data.services}}</td>
									<td *ngIf="data.Note__c !=''">
										<img alt="img" title="{{data.Note__c}}" data-placement="top"
											src="assets/images/notes.png" width="25">
									</td>
									<td *ngIf="data.Note__c ==''">
										&nbsp;
									</td>
									<td>
										<button class="btn btn-gradient-txt"
											[routerLink]="['/appointment/findAppt/' + data.clientId + '/' + data.Id]"
											[queryParams]="{bookingType:'waitingList'}">
											<span>{{'WAITINGLIST_APPOINTMENT.FIND_APPT' | translate}}</span>
										</button>
									</td>
									<td>
										<img *ngIf="data.Name!=='package'" alt="img" style="cursor: pointer;"
											(click)="editWaitingListModal(data)" src="assets/images/edit.png"
											width="16">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>
<!-- client Modal starts -->
<div bsModal #clientModal="bs-modal" class="modal fade bluemodal small-modal" style="padding:100px 0;" tabindex="-1"
	role="dialog" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false}">
	<div class=" modal-content" style="margin:0 auto">
		<div class="modal-dialog">
			<span id="cancel1" (click)="closeCliModal()" class="close close-list">&times;</span>
			<div class="modal-body">
				<div class="mb-10 mt-20 clearfix staff-search">
					<div class="input-group">
						<input class="search-input-list form-control" type="text" id="waitingSearch"
							[formControl]="searchField" placeholder="Name, Phone, Email" [(ngModel)]="cSearch">
						<span class="input-group-addon">
							<button style="cursor: pointer;" type="submit" (click)="closeOpenModel()">
								<img alt="Search" src="assets/images/plus-icon.png" width="14">
							</button>

						</span>
					</div>
				</div>
				<perfect-scrollbar style="max-height:300px;">
					<div class="staff-search-details mt-10">
						<div class="staff-search-details-in">
							<div class="staff-search-list" *ngFor="let client of autoList; let i='index'">
								<div class="staff-search-list-img" *ngIf="(client.image && client.image !== '')">
									<img src="{{imgPath | translate}}{{client.image}}" width="61"
										(error)="errorHandler($event,i)" height="61" alt="Profile">
								</div>
								<div class="staff-search-list-img"
									*ngIf="(client.image === null || client.image === '' || client.image === undefined)">
									<div class="appnt-pro-letter" style="width:61px;height:61px;line-height: 57px;">
										<strong> {{ client.FirstName[0].toUpperCase() }} </strong>
									</div>
								</div>
								<div class="staff-search-list-name" (click)="displayWaitPopUp(client)">
									<span id="bookStandingClear">{{client.FirstName}} &nbsp; {{client.LastName}}</span>
									<span *ngIf='hideClientInfo===0'>
										<div class="staff-search-list-mobile"
											*ngIf="!client.Phone || !client.MobilePhone">{{client.Phone}} |
											{{client.MobilePhone}}
										</div>
										<div class="staff-search-list-email">{{client.Email}}</div>
									</span>
								</div>

							</div>
						</div>
					</div>
				</perfect-scrollbar>
			</div>
		</div>
	</div>
</div>
<!-- client Modal Ends -->
<!-- waiting List modal starts -->

<div bsModal #serviceNotesModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
	tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="width: 730px;">
		<div class="modal-content">
			<table>
				<tbody>
					<tr>
						<td style="padding: 10px;">
							<img src="assets/images/declinedIcon.png">
						</td>
						<td>There Is Booking Alert For This Client.</td>
				</tbody>
			</table>
			<table style="margin: 0px 25px;">
				<thead>
					<tr>
						<!-- <th> -->
						<strong> {{fullName}} </strong> has a booking alert for the following reason(s):
						{{Booking_Restriction_Type__c}}
						<!-- </th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td *ngIf="noEmail">{{noEmail}}</td>
					</tr>
					<tr>
						<td *ngIf="acctCharge"> {{acctCharge}}</td>
					</tr>

					<tr>
						<td *ngIf="depReq"> {{depReq}}</td>
					</tr>
					<tr>
						<td *ngIf="clientShow"> {{clientShow}} </td>
					</tr>
					<tr>
						<td *ngIf="other"> {{other}} </td>
					</tr>
					<tr>
						<td *ngIf="note"> Notes: {{note}}</td>
					</tr>
				</tbody>

			</table>

			<div class="modal-footer">
				<table>
					<tbody>
						<tr>
							<td>
								<a *ngIf="btnBook === 1" (click)="bookanywayPopup();">
									<button
										class="save-btn">{{'WAITINGLIST_APPOINTMENT.BOOK_ANYWAY' | translate}}</button>
								</a>
								<a (click)="serviceNotesModal.hide()">
									<button
										class="cancel-btn">{{'WAITINGLIST_APPOINTMENT.DONT_BOOK' | translate}}</button>
								</a>
								<a *ngIf="expressClientIds" [routerLink]="['/client/edit/' + expressClientIds]"
									class="btn btn-default mb-5">
									<i class="fa fa-pencil"></i>
									{{'WAITINGLIST_APPOINTMENT.GOTO_FULL_CLIENT_CARD' | translate}}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div bsModal #waitingListModal="bs-modal" class="modal fade bluemodal" tabindex="-1" role="dialog" aria-hidden="true"
	[config]="{ backdrop: 'static', keyboard: false}">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<span id="cancel1" (click)="closeWaitingListModal()" class="close close-list">&times;</span>
			<div class="modal-body">
				<h5 class="appoinment-heading">
					<span>{{'WAITINGLIST_APPOINTMENT.WAITING_LIST_DETAIL' | translate}}</span>
				</h5>
				<div class="clearfix">
					<div class="col-md-5">
						<span class="red">*</span>
						<label>{{ 'APPOINTMENTS_MAIN_PAGE.FIRST_NAME' | translate }} </label>
					</div>
					<div class="col-md-7 mb-5">
						<input type="text" class="form-control" [disabled]="disField" [(ngModel)]="firstName" />
					</div>
				</div>
				<div class="clearfix">
					<div class="col-md-5">
						<span class="red">*</span>
						<label>{{ 'APPOINTMENTS_MAIN_PAGE.LAST_NAME' | translate }} </label>
					</div>
					<div class="col-md-7 mb-5">
						<input type="text" class="form-control" [disabled]="disField" [(ngModel)]="lastName" />
					</div>
				</div>
				<div class="clearfix" *ngIf="hideClientInfo === 0">
					<div class="col-md-5">
						<span class="red" *ngIf="allowQuickAddAccess == true && clientfieldMobilePhone == true">*</span>
						<label>{{ 'APPOINTMENTS_MAIN_PAGE.MOBILE' | translate }}</label>
					</div>
					<div class="col-md-7 mb-5">
						<input type="text" class="form-control" disabled style="width:70px !important; float: left;"
							name="countrycode" [(ngModel)]="countrycode">

						<input type="text" class="form-control" style="width:calc(100% - 80px) !important; float:right;"
							maxlength="13"
							onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
							id="mobileNumber" (keypress)='hyphen_generate_mobile(mobileNumber,"mobileNumber");' name="mobileNumber"
							[(ngModel)]="mobileNumber"
							(paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))">
						<div class="check-new">
							<label for="c_mobile"
								style="font-size: 12px;">{{'MEMBER_CHECKIN.MESSAGE' | translate}}</label>
							<input id="c_mobile" type="checkbox" style="position: absolute;right: 21px;"
								[(ngModel)]="sms_checkbox" [disabled]="mobileNumber ? false : true"
								(change)="SmscheckOrUnCheck($event.target.checked)">
						</div>
					</div>
				</div>
				<div class="clearfix" *ngIf="hideClientInfo === 0">
					<div class="col-md-5">
						<span class="red"
							*ngIf="allowQuickAddAccess == true && clientfieldPrimaryEmail == true">*</span>
						<label> {{'APPOINTMENTS_MAIN_PAGE.PRIMARY_EMAIL' | translate }}</label>
					</div>
					<div class="col-md-7 mb-5">
						<input type="text" class="form-control" [(ngModel)]="primaryEmail" />
					</div>
				</div>
				<div class="clearfix">
					<div class="col-md-5">
						<label>{{'WAITINGLIST_APPOINTMENT.APPOINTMENT_DATE_RANGE' | translate}}</label>
					</div>
					<div class="col-md-3 mb-5" style="padding-right:0">
						<div class="d-flex">
							<span class="red" style="font-size: 15px; margin-right: 5px;">*</span>
							<input type="text" class="datefield form-control" [(ngModel)]="startDate"
								[(bsValue)]="startDate" value="{{ startDate | date:'MM/d/y'}}" [minDate]="minDate"
								bsDatepicker [bsConfig]="datePickerConfig">
						</div>
					</div>
					<div class="col-md-1">
						<span>TO</span>
					</div>
					<div class="col-md-3 mb-5" style="padding-left:0">
						<input type="text" class="datefield form-control" [(ngModel)]="endDate"
							value="{{ endDate | date:'MM/d/y'}}" [minDate]="minDate" bsDatepicker [(bsValue)]="endDate"
							[bsConfig]="datePickerConfig">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h5 class="appoinment-heading">
							<span>{{ 'APPOINTMENTS_MAIN_PAGE.SERVICES' | translate }}</span>
						</h5>
						<div class="mt-10">
							<div class="">

								<div class="table-responsive mb-5 font-300">
									<table class="table form_cont_one mb-5">
										<tbody>
											<tr *ngFor="let input of inputs; let i='index'">
												<td class="form_cont" style="border:0; padding-left:0;">
													<select class="select-bg1" id='ExpworkerIds' style="width:100%;"
														[(ngModel)]="input.fullWorker"
														(change)="expressService($event.target.value, i, true)">
														<option *ngFor="let workers of getWorker"
															value='{{workers.workerId}}${{workers.workerName}}'>
															{{workers.workerName}}
														</option>
													</select>
												</td>

												<td class="form_cont" style="border:0;">
													<select class="select-bg1" [(ngModel)]="input.serviceId"
														id="listServices"
														(change)="listServices($event.target.value ,i )"
														style=" width:100%;" required>
														<option id="amountDuration"
															*ngFor="let express of bookingExpress[i]"
															[value]="express.serviceId">{{express.Name}}</option>
													</select>
												</td>
												<td *ngIf='inputs.length > 1' class="text-center"
													style="border:0;  padding-right:0;">
													<a (click)="deleteFieldValue(i)" style="cursor: pointer;"
														data-toggle="tooltip" data-placement="top" title=""
														data-original-title="Remove">
														<span class="wt-clr">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</span>
													</a>
												</td>
											</tr>

										</tbody>

									</table>
									<div *ngIf='inputs.length < 6' class="text-center mb-20">
										<button class="btn btn-gradient-txt" (click)="addInput(index)">
											<span>{{'WAITINGLIST_APPOINTMENT.ADD_NEW_SERVICES' | translate}}</span>
										</button>
									</div>
									<p class="text-left font-500">
										{{ 'APPOINTMENTS_MAIN_PAGE.TOTAL_PRICE' | translate }}
										<strong>{{servicePrice | currency: "USD": "symbol-narrow"}} </strong>
										<!-- <input type="hidden" [(ngModel)]="servicePrice" id="servicePrice" value=" {{servicePrice}}" /> -->
										<span class="ml-10">
											{{ 'APPOINTMENTS_MAIN_PAGE.TOTAL_DURATIONS' | translate }}
											<strong> {{ serviceDurations }} Minutes</strong>
											<!-- <input type="hidden" [(ngModel)]="sumDuration" id="expressSumDuration" value=" {{serviceDurations}}" /> -->
										</span>
									</p>

								</div>
								<div class="clearfix">
									<textarea class="form-control mb-5" id="textArea" maxlength="500"
										[(ngModel)]="textArea" style="width:100%;color:#fff; border-color:#fff;">
										</textarea>
									<div class="text-center">
										<div class="text-center">
											<button *ngIf="actionPopup ==='add'" class="btn btn-sucess btn-gradient-txt"
												(click)="saveData('')"><span>{{'BUTTON.SAVE' | translate}}</span></button>
											<button *ngIf="actionPopup ==='edit'"
												class="btn btn-sucess btn-gradient-txt"
												(click)="saveData(waitingListId)"><span>{{'BUTTON.SAVE' | translate}}</span></button>
											<button class="btn btn-danger" (click)="closeWaitingListModal()"
												id="cancelExpress2">{{'BUTTON.CANCEL' | translate}}</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- waiting List modal ends -->