<div id="wrapper_setup_new">
  <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
  <section class="setsubcont" id="inner_cont">
    <div class="container form_cont" id="dvContents">
      <div class="row mt-20">
        <div class="col-12 col-sm-12 col-lg-10 col-lg-offset-2">
          <div class="row">
            <div class="col-12 col-md-12">
              <ul class=" nav nav-tabs service-menu">
                <li class='tablinks {{activeTabClass[0]}}' (click)="upateTabs(0);">
                  <a>SERVICE <br>
                    SALES </a></li>
                <li class='tablinks {{activeTabClass[1]}}' (click)="upateTabs(1);"><a>REBOOK <br>
                    %</a></li>
                <li class='tablinks {{activeTabClass[2]}}' (click)="upateTabs(2);"><a>AVERAGE <br>
                    TICKET </a></li>
                <li class='tablinks {{activeTabClass[3]}}' (click)="upateTabs(3);"><a>RETAIL TO <br>
                    SERVICE %</a></li>
                <li class='tablinks {{activeTabClass[4]}}' (click)="upateTabs(4);"><a>PRODUCT <br>
                    SALES </a></li>
                <li class='tablinks {{activeTabClass[5]}}' (click)="upateTabs(5);"><a>RETAIL PER <br>
                    TICKET</a></li>
                <li class='tablinks {{activeTabClass[6]}}' (click)="upateTabs(6);"><a># RETAIL <br>
                    PER GUEST</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="service-menu-main">
        <div class="row">
          <div class="col-12 col-md-12 col-md-offset-0">
            <div class="service-tab">
              <div class="row">
                <div class="col-sm-7">
                  <div class="ser-check-list">
                    <input class="er-check" type="checkbox" (click)='clear()' [(ngModel)]="automaticCheck">
                    <span>Automatically increase monthly by</span>
                    <div class="form-group">
                      <input type="text" class="form-control" (keypress)='clear()'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;"
                        [(ngModel)]="percent">
                    </div>
                    <span>%</span>
                    <p>of last month's</p>
                    <div class="ser-par-con">
                      <span><input class="er-check radio-check" name="goal" value="goal" style="display: inline-block;"
                          [(ngModel)]="goalOrPerformance" type="radio" (click)='clear()'>Goal</span>
                      <span><input class="er-check radio-check" name="performance" value="performance"
                          style="display: inline-block;" [(ngModel)]="goalOrPerformance" type="radio"
                          (click)='clear()'>Performance</span>
                    </div>
                  </div>
                  <p class="red text-center">{{error}}</p>
                </div>
                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[0]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='standardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(standardGoalValue,'serviceSales')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner " *ngIf='tabsArray[1]===true '>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='rebookstandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(rebookstandardGoalValue,'rebook')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[2]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='avgTicktStandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(avgTicktStandardGoalValue,'averageTicket')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[3]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='retailSrvcStandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(retailSrvcStandardGoalValue,'retailToService')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[4]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='prodcutSaleStandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(prodcutSaleStandardGoalValue,'productSales')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[5]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='retailTicktStandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(retailTicktStandardGoalValue,'retailPerTicket')">
                      APPLY TO ALL</a> </div>
                </div>

                <div class="col-sm-5 ser-list-inner" *ngIf='tabsArray[6]===true'>
                  <div class="ser-check-list ser-check-list-right mt-20"> <span>Standard Goal</span>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]='retailGuestStandardGoalValue'
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                    </div>
                  </div>
                  <div class="show-btn show-btn-pad pointer">
                    <a (click)="applyToAll(retailGuestStandardGoalValue,'retailPerGuest')">
                      APPLY TO ALL</a> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-9 col-md-offset-3">
                  <div class="row mt-50 set-list">
                    <div class="col-md-6 col-sm-6 set-list-left">
                      <label class="label">Month:</label>
                      <select class="select-new-trans select-input" [(ngModel)]='month'
                        (change)="changeMonth($event.target.value)">
                        <option *ngFor='let months of monthsData' value="{{months.value}}">{{months.option}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-sm-6 set-list-left">
                      <label class="label">Year:</label>
                      <select class="select-new-trans select-input" [(ngModel)]='year'
                        (change)="changeYear($event.target.value)">
                        <option *ngFor="let year of yearsDataList; let i='index'" value="{{year}}" id="year{{i}}">
                          {{year}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="main-street-main">
                    <div class="row">
                      <div class="main-street col-md-12 col-sm-12" *ngFor="let worker of workerList; let i = 'index'">
                        <div class="main-st-con">
                          {{worker.workerName}}
                        </div>
                        <div class="main-st-con" *ngIf="(worker.Image && worker.Image !== '')">
                          <img alt="img" class="workerimage" src="{{imgPath | translate }}{{worker.Image | translate }}"
                            width="40px">
                        </div>
                        <div class="main-st-con" *ngIf="worker.Id ==''">
                          <img alt="img" src="assets/images/trophy.png" width="40px">
                        </div>
                        <div class="main-st-con"
                          *ngIf="(worker.Image === null || worker.Image === '' || worker.Image === undefined && worker.Id !=='')">
                          <div class="appnt-pro-letter" style="width:50px;height:50px;line-height: 50px;">
                            <strong> {{ worker.workerName[0].toUpperCase() }} </strong>
                          </div>
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[0]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.serviceSales'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con" *ngIf='tabsArray[0]===true && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.serviceSales'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                          <!-- {{billgoalslist.billBoardData | currency: "USD": "symbol-narrow"}} -->
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[1]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.rebook'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con" *ngIf='tabsArray[1]===true  && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.rebook'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>


                        <div class="main-st-con disabled" *ngIf='tabsArray[2]===true  && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.averageTicket'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                        <div class="main-st-con" *ngIf='tabsArray[2]===true  && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.averageTicket'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[3]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.retailToService'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                        <div class="main-st-con" *ngIf='tabsArray[3]===true && automaticCheck === false'>
                          <input type="text" [(ngModel)]='worker.retailToService'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[4]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.productSales'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                        <div class="main-st-con" *ngIf='tabsArray[4]===true && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.productSales'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[5]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.retailPerTicket'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                        <div class="main-st-con" *ngIf='tabsArray[5]===true && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.retailPerTicket'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>

                        <div class="main-st-con disabled" *ngIf='tabsArray[6]===true && automaticCheck===true'>
                          <input type="text" [(ngModel)]='worker.retailPerGuest'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                        <div class="main-st-con" *ngIf='tabsArray[6]===true && automaticCheck===false'>
                          <input type="text" [(ngModel)]='worker.retailPerGuest'
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 46 || key > 57 ) return false; else return true;">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-50">
                      <div class="col-12 col-sm-12 col-md-12 btn-center">
                        <div class="sa-can-btn">
                          <button type="button" class="save-btn"
                            (click)="saveBillboardGoalsData()">{{ 'BUTTON.SAVE' | translate }}</button> &nbsp;&nbsp;
                          <button type="button" class="cancel-btn"
                            (click)="cancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-rightbar></app-rightbar>
</div>