.setsubcont {
    margin-right: 10%;
}

#wrapper_setup_new {
    color: white;
}

.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont select {
    color: white;
}

.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}

.word-break {
    word-break: break-all!important;
}

.service-menu-main {
    padding: 0 !important;
}

.ser-list-inner {
    border-left: 2px solid #fff;
}

.service-menu {
    background: #6dacc7 !important;
    font-size: 0;
    margin: 0 !important;
    line-height: 0;
    border-radius: 6px !important;
    padding: 0px !important;
    display: inline-block !important;
    border: 0 !important;
    text-align: center;
}

.service-menu li {
    border: 0 !important;
    display: inline-block !important;
    cursor: pointer !important;
    padding: 0;
    margin: 0;
}

.service-menu li a.active, .service-menu li.active a {
    background: #fff !important;
    color: #0f6496 !important;
    border-radius: 6px !important;
}

.service-menu li a {
    border: 6px !important;
    margin: 0 !important;
    background: transparent !important;
    color: #fff !important;
    padding: 10px 20px !important;
    display: block !important;
    line-height: 18px !important;
    font-size: 15px !important;
}

.ser-check-list {
    padding: 15px 0;
    line-height: 35px;
    vertical-align: sub;
    padding-left: 50px
}

.ser-check-list .form-group {
    display: inline-block;
    margin-bottom: 0;
}

.ser-check-list .form-group .form-control {
    height: 33px !important;
    border: 2px solid #fff !important;
    width: 80px;
}

.ser-check-list-right {
    max-width: 360px;
    text-align: right;
}

.ser-check-list-right .ser-par {
    max-width: 100px;
}

.ser-check-list-right span {
    padding-right: 15px;
}

.er-check {
    vertical-align: sub;
    margin: 0 10px;
    border: solid 2px #fff !important;
}

.radio-check {
    width: 20px !important;
    height: 20px !important;
    vertical-align: middle;
}

.ser-check-list span {
    padding-left: 0px;
    font-size: 18px;
}

.ser-par {
    max-width: 80px;
    width: 100%;
    height: 33px !important;
    border: 2px solid #fff !important;
}

.ser-par-con {
    display: inline-block;
    padding-left: 20px;
}

.ser-check-list p {
    display: inline-block;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 50px;
}

.ser-par-con span {
    margin-right: 50px;
}

.show-btn {
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
}

.show-btn a {
    color: #0f6496;
    background: #fff;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 13px;
    letter-spacing: 0;
}

.show-btn-pad {
    padding: 25px 0 0;
}

.service-tab {
    max-width: 1050px;
    margin: 30px auto;
}

.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-weight: 500 !important;
    height: 38px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.set-list-left {}

.set-list-left label {
    display: inline-block;
}

.set-list-left .select-new-trans {
    display: inline-block;
    max-width: 200px;
}

.set-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin: 50px auto 20px;
}

.st-innerset-list-left .form_cont select {
    color: #fff;
}

.main-street-main {
    text-align: center;
}

.main-st-con {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    padding: 10px 0;
    font-size: 17px;
}

.main-st-con input {
    width: 120px;
    color: #fff !important;
    border: solid 2px #fff;
    height: 40px;
    font-size: 19px;
}

.main-st-con input:focus {
    border: solid 2px #fff;
    background: transparent;
}

.main-st-con input::-webkit-input-placeholder {
    color: #fff !important;
}

.main-st-con input::-moz-placeholder {
    color: #fff !important;
}

.main-st-con input::-moz-placeholder {
    color: #fff !important;
}

.main-st-con input::-ms-input-placeholder {
    color: #fff !important;
}

.service-menu li a:hover {
    background: #fff;
    color: #0f6496;
    border-radius: 6px;
}

.pointer {
    cursor: pointer !important;
}

.workerimage {
    border-radius: 50px !important;
    width: 50px !important;
    height: 50px !important;
    border: 2px solid #fff !important;
    line-height: 50px !important;
}

@media (max-width: 1079px) {
    .service-menu {
        max-width: 870px;
    }
    .service-menu li a {
        padding: 10px 25px;
        text-align: center;
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .service-menu {
        display: block;
        text-align: left;
        max-width: 640px;
    }
    .service-menu li a {
        padding: 10px 8px;
        font-size: 13px;
        text-align: center;
    }
    .ser-check-list {
        padding-left: 0;
    }
    .ser-check-list-right {
        text-align: left;
    }
    .ser-par-con {
        display: block;
        text-align: center;
    }
}