#inner_cont {
    color: white;
    padding-right: 115px;
    padding-left: 115px;
}

.form_cont {
    padding-bottom: 35px;
    color: white;
}

.form_cont input[type=text] {
    color: white;
}

.form_cont input[type=text]:focus {
    color: black;
}

.line-bolder {
    text-transform: uppercase;
    font-weight: 1000;
}
.ft-bolder{
    font-weight: 700;
}

.table2 {
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    line-height: 30px;
    table-layout: fixed;
}

.line-bg{
    background: #ddeef3;
    color: #608aa8;
    line-height: 3rem;
    padding: 0.2rem 1.5rem;
    border-radius: 3px;
}

.top-title{
    text-align: center;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}
.align-right{
    float: right;
}
.ml-bottom {
    margin-bottom: 5px;
}
.fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */