<!doctype html>
<html>
<style>
    #showAll_Button {
        margin-top: 1px;
        margin-left: 12cm;
    } 
</style>
<body class="drawer drawer--left" id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
        <section id="inner_cont">
            <div class="container form_cont">
                <div class="row mt-20">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CLIENTS.SEARCH' | translate}}</label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input type="text" [(ngModel)]="searchKey" (click)="clearmessage()" (keyup.enter)="searchClients()" />
                        <div class="col-sm-8">
                            <p class="red"> {{error1 | translate }} </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        &nbsp;
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <button type="button" class="btn btn-primary" (click)="searchClients()">
                            <i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'CLIENTS.SEARCH' | translate }}</button>
                    </div>
                </div>


                <hr class="mt-50" />

                <div class="row mt-20">
                    <div class="col-md-12 col-sm-12 text-center">
                        <label>{{activeCount}} {{ 'CLIENTS.CLIENTS_ACTIVE' | translate }} / {{ActiveCount}} {{ 'CLIENTS.CLIENTS_INACTIVE' | translate }}</label>
                    </div>
                </div>

                <div class="row mt-20 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <!-- <p-dataTable [responsive]="true" [stacked]="stacked" [value]="DataObj" [rows]="rowsPerPage" [paginator]="true" [pageLinks]="2"
                                expandableRows="true"> -->
                            <p-dataTable [responsive]="true" [value]="DataObj" [rows]="rowsPerPage" [paginator]="true" [pageLinks]="2"
                                expandableRows="true">
                                <p-column field="Active__c" header="{{ 'COMMON.ACTIVE' | translate }}">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <span *ngIf='user.Active__c == 1'>
                                            <input disabled type="checkbox" checked />
                                        </span>
                                        <span *ngIf='user.Active__c == 0'>
                                            <input disabled type="checkbox" />
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="" header="">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <span>
                                            <a class="btn btn-default mb-5" (click) = "getUserData(user)" [routerLink]="['/appointment/findAppt/' + user.Id]">
                                                <i class="fa fa-calendar"></i> {{'CLIENTS.BOOK APPT'| translate }}</a>
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="FullName" header="{{'CLIENTS.FULL_NAME'| translate }}">
                                    
                                        <ng-template let-user="rowData" pTemplate="body">
                                                <span>
                                                    <a (click) = "getUserData(user)" [routerLink]="['/client/quick/edit/' + user.Id]">{{user.FullName}}</a>
                                                </span>
                                            </ng-template>
                                </p-column>
                                <p-column field="Phone" header="{{'CLIENTS.PRIMARY_PHONE'| translate }}"></p-column>
                                <p-column field="MobilePhone" header="{{'CLIENTS.MOBILE_PHONE'| translate }}"></p-column>
                                <p-column field="Email" header="{{'CLIENTS.PRIMARY_EMAIL'| translate }}"></p-column>
                            </p-dataTable>
                            <div class="clients-bottom-div">
                                <a class="white" (click)="showData()">
                                    <button class="btn btn-default" id= "showAll_Button">{{'BUTTON.SHOW ALL'| translate }}</button>
                                </a>
                                <a  class="white">
                                        <!-- <a *ngIf="DataObj =='' || showNewButton == true" class="white"> -->
                                    <button class="btn btn-primary" (click)= "addNewClient()">
                                        <i class="fa fa-plus"></i> {{'BUTTON.NEW'| translate }} </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>