#wrapper_setup_new {
    padding-right: 90px;
}

#inner_cont {
    padding-top: 0px;
    margin-top: 10px;
}

.update-select:focus {
    border: 1px solid #111;
    color: #111;
}

.update-select {
    border: 1px solid #111;
    color: #111;
}

.enter-manually input, select {
    width: 100%
}

.nav-tabs {
    border: 0;
}

.nav-tabs>li {
    border: 0;
}

.nav-tabs>li>a {
    padding: 6px 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    font-weight: 400;
    color: #fff;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.nav-tabs>li.active a {
    background: #fff;
    font-weight: 600;
}

.nav-tabs>li.active a span {
    background: -webkit-linear-gradient(0deg, #16337d 0, #05c9d0 100%);
    background: -moz-linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.tab-content {
    border: 0;
    padding: 0;
}

.form_cont {
    padding-left: 0;
    padding-bottom: 0;
}

.fav_box {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 2px solid transparent;
    color: #fff !important;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.fav_box-arrow {
    border-width: 0 !important;
}

.fav_box-arrow::before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: inherit;
    border-width: 30px;
    margin-left: 0;
    right: -30px;
    bottom: -30px;
    transform: rotate(135deg);
}

.fav_box:hover {
    background: rgba(255, 255, 255, 0.3) !important;
    border-width: 2px;
}

.fav_box h4 {
    color: #fff !important;
    font-size: 12px;
    line-height: 20px;
    /* word-break: break-all; */
}

.row-10 {
    margin-left: -5px;
    margin-right: 89px;
    margin-top: 0px;
}

.fav_box_main {
    padding-left: 4px;
    padding-right: 4px;
    width: 20%;
    float: left;
    /* margin-left: -5px;
    margin-right: 85px;
    margin-top: -2px; */
}

.fav_box_main a {
    display: block;
    padding-bottom: 100%;
    position: relative;
    cursor: pointer;
}

.fav_box_img {
    /* background: inherit !important; */
    border: 0px solid transparent;
    color: #fff !important;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.fav_box_img-view {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fav_box_img span {
    background: inherit;
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: calc(100% - 40px);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: auto;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}

.fav_box_img span small {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    opacity: 1;
    z-index: 0;
}

.fav_box_img span em {
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 5;
}

.fav_box_img:hover span {
    font-size: 16px;
    line-height: 20px;
    top: 0px;
    white-space: normal;
    font-weight: 600;
}

.fav_box_img:hover span small {
    opacity: 0.5;
}

.fav_box_img:hover span em {
    overflow: visible;
    white-space: normal;
    /* word-break: break-all; */
}

.profile-list-view-txt {
    padding: 20px 30px;
    min-height: 560px;
}

.check-profile-list {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7px;
    cursor: pointer;
}

.check-profile-list-img {
    width: 61px;
    height: 61px;
    float: left;
    margin-left: -70px;
    font-family: 'Raleway', sans-serif !important;
}

.check-profile-list-img img {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}

.check-profile-list-name {
    width: calc(100% - 80px);
    float: right;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;
    font-family: 'Raleway', sans-serif !important;
    margin-left: 10px;
}

.check-profile-details-in {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.sub-item-service {
    display: table;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 15px;
    color: #062675;
}

.drawer-button {
    /* margin-top: -25px;
    /* margin-bottom: -13px;  
    margin-bottom: -22px; */
    padding: 0 15px;
}

/* .text-light .sub-item-service .sub-item1{ } */

.sub-item-service .sub-item1, .sub-item2, .sub-item3 {
    display: table-cell;
    width: auto;
}

.total-charge {
    margin-top: 0;
    /* margin-left: -30px!important; */
}

.merchantDropDown {
    padding: 0 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 0.6;
    /* margin-left: 51px;
    margin-bottom: -22px;
    margin-top: -12px;
    width: 42%;    */
}

.ml-50 {
    margin-left: -30px;
}

.merchantDropDown select {
    padding: 0 15px;
    height: 27px;
    font-size: 12px;
    line-height: 12px;
    width: 52%!important;
}

.checkoutlist {
    /* margin-top: -12px;
    margin-left: 298px;
    margin-bottom: -9px; */
    /* -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1; */
    padding: 0 15px; 
}

.checkoutlist a:hover {
    text-decoration: underline !important;
}

.charge-btn {
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 12px;
}

.sub-item-service.desc {
    margin-bottom: 5px;
}

.sub-item-service .sub-item1 span.disc {
    margin-right: 10px;
    text-transform: uppercase;
    padding: 2px 5px 2px 10px;
}

.sub-item-service .sub-item3 {
    text-align: right;
}

.sub-item3 span {
    text-decoration: line-through;
    padding-right: 10px;
}

.sub-item-service .sub-item1, .sub-item3 {
    white-space: nowrap;
    width: 5%;
}

.sub-item-service .sub-item2 {
    border-bottom: 1px solid rgba(231, 234, 242, 1);
}

.sub-item-sub {
    padding: 0 10%;
}

.sub-item-service {
    font-weight: 600;
}

.sub-item-sub .sub-item-service {
    font-weight: 400;
}

.price-total {
    font-size: 22px;
    line-height: 51px;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;
    margin-left: -20px;
}

.form_cont select:focus {
    /* transition: all 0.4s; */
    /* border: none;
    color: inherit;
    background-image: none; */
}

.total {
    font-size: 20px;
    margin-top: 15px;
    color: #16337d;
}

.listcharge {
    margin-top: -8px
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    /* padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s; */
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'AvenirLTStdBook';
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: normal;
    letter-spacing: 1px;
}

.sidenav li {
    padding-left: 5px;
}

.sidenav li a img {
    padding-right: 15px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.close_menu {
    color: #fff !important;
    font-family: 'AvenirLTStdMedium';
    font-size: 22px !important;
    line-height: 50px !important
}

.dropdown {
    display: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 20px 30px;
    width: 26em;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'AvenirLTStdBook';
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: normal;
    letter-spacing: 2px;
}

img {
    vertical-align: middle;
}

.menu li a img {
    padding-right: 15px;
}

nav {
    background: rgba(0, 0, 0, 0.9);
    padding-right: .25em;
    position: fixed;
    left: -33em;
    top: 0;
    box-sizing: border-box;
    z-index: 20;
    height: 100%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow-y: scroll;
}

nav.active {
    left: 0;
}

.dropdown li {
    margin-left: 50px;
    position: relative;
    padding-left: 10px;
    display: block;
    text-align: left;
}

.dropdown li:before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #02a6e7;
    top: 10px;
}

.dropdown li a {
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    transition: all 0.4s;
    text-align: left;
}

.dropdown li a:hover {
    color: #ccc !important;
    transition: all 0.4s;
}

.dropdown-span span {
    position: relative;
    top: 4px;
}

.dropdown-span span:before {
    content: "+";
    font-family: 'AvenirLTStdBook';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -20px;
    left: 0px;
}

.dropdown-span.open span:before {
    content: "-";
    font-family: 'AvenirLTStdBook';
}

.dropdown-span.open .dropdown {
    display: block;
}

.page-title {
    color: #fff !important;
    font-family: 'AvenirLTStdMedium';
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Header css */

.header-nav {
    display: inline-block;
    font-size: 15px;
}

.header-url span, .header-url a, .header-url i {
    color: #fff;
    font-size: 20px;
    padding: 0px 14px;
}

.header-url a :hover {
    color: #000;
}

.others-input input[type="text"] {
    font-size: 18px;
    line-height: 20px;
    height: 35px;
    font-weight: 300!important;
    color: #fff!important;
    width: 100%!important;
    background: 0 0!important;
    padding: 5px 15px;
    border: 0!important;
    border-bottom: 1px solid rgba(255, 255, 255, .2)!important;
    text-align: center;
    font-family: Raleway, sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.others-input input[type="button"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    background-color: #1496c9;
    border-color: #4bc1ef;
}

.others-input ::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.others-input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.others-input ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.header-nav-icon {
    margin-left: 1px;
    margin-right: 5px
}

.header-sidenav-img {
    margin-top: -10px;
}

.header-bottom-ul {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.header-bottom-ul li {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    text-transform: uppercase;
    border-right: 1px solid #000;
}

.header-bottom-ul li a {
    display: block;
    margin-left: 10px;
    font-weight: bold;
}

.header-bottom-div {
    background-color: white;
    width: 100%;
    border-bottom: solid 1px black;
}

.header-bottom-ul li:nth-last-child(1) {
    border-right: none;
}

.header-bottom-ul img {
    width: 25px;
    height: 25px;
}

/* Header css */

.vertical_tabs .tab-content {
    max-width: 631px;
    margin-top: -9px;
}

.payment-txt {
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.nav-tabs li a {
    font-size: 12px !important;
}

.ml-50 {
    margin-left: -50px;
    margin-top: 4px;
}

.mr-right {
    color: white;
    margin-right: 0px;
}

.word-break {
    word-break: break-word!important;
}

.width-align {
    width: 65%!important;
}

.style-class {
    width: 100%;
    min-width: 65%!important;
    background-color: #1F3D8B;
    color: white;
}

.pd-align {
    padding: 18px 18px!important;
}

@media (min-width:992px) {
    .mt-tp {
        color: white;
        margin-top: 10px;
    }
}

@media (device-width:768px) {
    .ml-50 {
        margin-left: 2%;
        margin-top: 5px;
    }
    .row-10 {
        margin-left: -5px;
        margin-right: 4%;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .col-md-7 {
        padding-right: 10px;
    }
    /* .merchantDropDown{
        margin-top: -34px;
    } */
    .mr-right {
        margin-left: 30%;
    }
    .mt-top {
        margin-top: -5%!important;
    }
    .width-align {
        width: 50%!important;
    }
    .mt-tp {
        color: white;
        margin-top: 15px ! important;
        margin-bottom: 10px !important;
    }
}

@media (device-width:1024px) {
    .col-md-7 {
        width: 91.333333%;
    }
    .row-10 {
        margin-right: 24px;
    }
    .col-md-5 {
        width: 71.666667%;
        margin-top: 10px;
    }
    .mr-right {
        margin-left: 35%;
    }
    .ml-50 {
        margin-top: 5px;
    }
    .mt-top {
        margin-top: -5%!important;
    }
    .style-class {
        width: 70%;
    }
    .mt-tp {
        margin-top: 15px;
    }
}

@media (max-width:1023px) {
    .fav_box h4 {
        font-size: 13px;
        line-height: 16px;
    }
    .fav_box_img span {
        font-size: 13px;
        line-height: 16px;
    }
    .fav_box_img:hover span {
        background: rgba(22, 51, 125, 0.5);
        font-size: 15px;
        line-height: 18px;
    }
    .payment-txt {
        font-size: 10px;
        line-height: 14px;
    }
    .mr-right {
        color: white;
    }
}

@media (max-width:767px) {
    .fav_box_main {
        width: 33.33333%;
    }
}

@media (max-width:599px) {
    .fav_box_main {
        width: 50%;
    }
    .row-10 {
        margin-right: -5px !important;
    }
}

.calculater {
    margin-top: 6px;
}

.calculater input[type=button], .calculater .button {
    padding: 6px 5px !important;
    width: 80px !important;
    height: 80px;
    text-align: center !important;
    font-size: 16px;
}

.per-btn {
    background-color: #337ab7
}

.white-lable {
    color: white;
}

.check-profile-details-in perfect-scrollbar {
    height: 367px;
    max-width: 100%;
    max-height: 367px;
    max-width: 400px;
}

/* :host ::ng-deep bs-datepicker-container{
    top: 238px;
    left: 317px;
 } */

.gift-card-bar {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    text-transform: uppercase
}

.form_cont12 {
    text-align: center;
    margin-top: -28px;
}

.form_cont12 h1 {
    font-family: 'AvenirLTStdRoman';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.mt-top {
    margin-top: -6%;
}

input[type="number"]:disabled {
    background: #dddddd;
}

.mt-10 {
    margin-top: 8px;
}

.value-align {
    margin-top: 150px;
    color: white;
    font-size: 30px;
}

.pd-lr {
    padding: 6px 10px!important;
}

.list-style {
    font-size: 13px;
    line-height: 16px;
    color: white;
    font-weight: 500;
}

.margin-css {
    margin-left: 33%;
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1025px) and (orientation: landscape) {
    .ml-wd {
        width: 53%!important;
    }
    .calculater input[type=button], .calculater .button {
        padding: 6px 5px !important;
        width: 70px !important;
        height: 70px;
        text-align: center !important;
        font-size: 10px;
    }
    .value-align {
        font-size: 20px;
    }
    .mt-tp {
        color: white;
        margin-top: 10px;
    }
    .size-align {
        font-size: 10px!important;
    }
    .btn-align {
        padding: 4px 5px!important;
    }
    .emotion-icons ul {
        display: inline-block;
        margin-left: -8px!important;
    }
    .pd-lr {
        padding: 4px 5px!important;
    }
    .nav-tabs li a {
        font-size: 8.5px !important;
    }
    .fav_box h4 {
        font-size: 10px;
        line-height: 12px;
    }
    .mt-top {
        margin-top: -5%!important;
    }
    .checkoutlist {
        padding: 0px 0px 10px 0px!important;
    }
    .merchantDropDown select {
        padding: 0 15px;
        height: 27px;
        font-size: 12px;
        line-height: 12px;
        width: 48%!important;
        margin-left: -13px;
    }
}

@media screen and (max-width: 1222px) and (orientation: landscape) {
    .nav-tabs li a {
        font-size: 10px !important;
    }
    .pd-lr {
        padding: 4px 5px!important;
    }
    .list-style {
        font-size: 11px;
        line-height: 16px;
        color: white;
        font-weight: 700;
    }
    .checkoutlist {
        padding: 0px 0px 6px 0px;
    }
    .emotion-icons ul li i {
        font-size: 35px;
    }
    .btn {
        padding: 6px;
    }
    .mt-10 {
        margin-top: 10px;
    }
    .mt-top {
        margin-top: -8%!important;
    }
    .payment-txt {
        font-size: 10px;
        line-height: 14px;
        display: block;
    }
    .total {
        font-size: 17px;
        margin-top: 19px;
        color: #16337d;
    }
    .btn-lg {
        font-size: 14px;
    }
    .col-md-6 {
        width: 50%;
    }
    .calculater input[type=button], .calculater .button {
        width: 60px !important;
        height: 60px;
    }
}
.filter tr th:nth-child(1) {
    width: 60px;
}
.filter tr th:nth-child(2) {
    width: 126px;
}
.filter tr th:nth-child(3) {
    width: 290px;
}
.filter_1 tr td:nth-child(1) {
    width: 68px;
}
.filter_1 tr td:nth-child(2) {
    width: 126px;
}
.filter_1 tr td:nth-child(3) {
    width: 290px;
}
.point-number{
    text-align: right;
    font-size: 20px;
    color: #568e5a;
    font-family: 'AvenirLTStdRoman';
}
.point-number h4{
    display: inline-block;
}

.point-number-img{
    float: right;
}
/* .mr-2{
    margin-right:1rem;
} */
.error-modal.in {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
}
.error-modal .modal-dialog{
    width:100%;
    max-width: 600px;
}
.error-modal .modal-header {
    padding:0 !important;
    border:0 !important;
}
.error-modal .close {
    padding: 0;
    opacity: 1 !important;
    font-size: 40px !important;
    line-height: 40px !important;
    color: #000;
    font-weight: 300 !important;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    font-family: Arial, Helvetica, sans-serif;
}
.error-modal-mid {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px 30px 20px 10px;
}
.error-modal-mid-lft {
   font-size: 100px;
   line-height: 110px;
   width:100px;
   float: left;
   color:red;
   text-align: center;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
}
.error-modal-mid-rgt {
    width:calc(100% - 100px);
    float: left;
    text-align: center;
 }
 .error-modal-mid-rgt h4, .error-modal-mid-rgt p {
    font-size:18px;
    line-height:25px;
    margin:0;
    padding:0;
    color:red;
    font-weight: 600;
 }
