.mr-10{
    margin-right: 8% !important;
}
.form_cont, .form_cont select{
    color: white;
}
/* .form_cont table {
    font-size: 13px;
} */
.font-weight{
    /* background: rgb(76, 141, 184); */
    font-weight: bolder;
}
.align-right{
    float: right;
}
.ml-bottom {
    margin-bottom: 5px;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */
.fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
@media (max-width: 768px){
	.mr-10{
        margin-right: 10% !important;
    }
}