<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue' (ngModelChange)='isGenerate = false' bsDatepicker
                        [(bsValue)]="bsValue" [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue1' (ngModelChange)='isGenerate = false' bsDatepicker
                        [(bsValue)]="bsValue1"  [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isGenerate">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <hr />
            <ng-container *ngIf="isGenerate">
                <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">

                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12">
                            <div class="padding-align">{{'TOTAL_SHEETS.COMPANY_SALES' | translate }}</div>
                        </div>
                    </div>
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'TICKET_SALES_REPORT.APPOINTMENT_OR_TICKETNUMBER' |
                                                translate
                                                }}
                                            </th>
                                            <th class="thcss">{{'TICKET_SALES_REPORT.CLIENT' | translate }} </th>
                                            <th class="thcss">{{'COMMON.TOTAL' | translate }}</th>
                                            <th class="thcss">{{'TICKET_SALES_REPORT.VISIT_TYPE' | translate }}</th>
                                            <th class="thcss">{{'COMMON.STATUS' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let list1 of salesList; let i='index'">
                                            <tr *ngFor='let list of list1'>
                                                <td>{{list.Name}}</td>
                                                <td>{{list.ClientName !==null?list.ClientName:'NO CLIENT'}}</td>
                                                <td>{{list.Payments__c  | currency: "USD": "symbol-narrow"}}</td>
                                                <td>{{list.Client_Type__c !=='null'?list.Client_Type__c:''}}</td>
                                                <td>{{list.Status__c}}</td>
                                            </tr>
                                            <tr class="background-color">
                                                <th>**{{list1.date}}</th>
                                                <th>&nbsp;</th>
                                                <th>{{list1.total | currency: "USD": "symbol-narrow"}}</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>