<div id="wrapper_setup_new">
  <app-header [newMenu]="'nav'"></app-header>
  <section class="setsubcont" id="inner_cont">
    <div class="container form_cont">
      <!-- <div class="col-sm-12 col-sm-offset-0 col-lg-11 col-lg-offset-1"> -->
      <div class="row" style="text-align: center">
        <!-- <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-5 bill-label-set-month"> -->
        <label class="street-label label" style="margin-left: 100px">Select:</label>
        <select class="select-new-trans street-label-set select-input" (change)="mainSelectChange($event.target.value)"
          style="max-width: 25rem;">
          <option value="" *ngIf="decodedToken['Home'] && decodedToken['Home'][2]['allowAcces']">Company</option>
          <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">{{worker.workerName}}</option>
        </select>
        <!-- </div> -->
        <!-- <div [class.disabled]="!showWorkers" style="margin-top:10px"
            class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-5 bill-label-set-month">
            <label class="street-label label">Worker:</label>
            <select class="select-new-trans street-label-set select-input"
              (change)="workerOnChange($event.target.value)">
              <option value="">--select worker--</option>
              <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">
                {{worker.workerName}}</option>
            </select>
          </div> -->
      </div>
      <!-- dashboard reports for day starts -->
      <div class="row mt-50">
        <div class="col-sm-3 col-xs-12 chats-list-1">
          <h1 class="chart-hed">Day</h1>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div [chart]='bookedDayChart' style="height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p></p>
              </div>
              <div class="fil-cont">
                <p>{{bookedDay.percentage}}% BOOKED</p>
                <p>{{bookedDay.count}} BOOKED APPTS</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='bookedTicketedDayChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">
            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #00ff3f;"></p>
                <p style="background: #38b6ff;"></p>
              </div>
              <div class="fil-cont">
                <p>{{bookedTicketed | currency:"USD":"symbol-narrow" }} TICKETED</p>
                <p>{{bookedTicketedCheckedIn | currency:"USD":"symbol-narrow" }}
                  CHECKED IN</p>
                <p>{{bookedTicketedBooked | currency:"USD":"symbol-narrow" }} BOOKED</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='retailToServiceDayChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">
            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #ffa51d;"></p>
                <p style="background: #ff1ddb;"></p>
              </div>
              <div class="fil-cont">
                <p>{{retailToServiceDay.othersTotal | currency:"USD":"symbol-narrow" }} OTHER</p>
                <p>{{retailToServiceDay.productTotal | currency:"USD":"symbol-narrow" }}
                  RETAIL</p>
                <p>{{retailToServiceDay.serviceTotal | currency:"USD":"symbol-narrow" }} SERVICE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12 text-center"></div>
        <div class="col-sm-3 col-xs-12 day-min-list">
          <div class="chary-img" [chart]='rebookDayChart' style="text-align: center; height:200px; min-width: 200px;">
          </div>
          <div class="chart-list-hed">
            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #ff1ddb;"></p>
              </div>
              <div class="fil-cont">
                <p>{{rebookedDay}}% REBOOKED</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]="bookOnlineDayChart"
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #70faff;"></p>
              </div>
              <div class="fil-cont">
                <p>{{bookedOnlineDay.percentage}}% BOOKED ONLINE</p>
                <p>{{bookedOnlineDay.count}} BOOKED ONLINE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]='newClientDayChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #c488ff;"></p>
              </div>
              <div class="fil-cont">
                <p>{{newClientsDay.percentage}}% NEW CLIENTS</p>
                <p>{{newClientsDay.count}} NEW CLIENTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageProductDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Product<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageServiceDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Service<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageTicketDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Ticket<p>
          </div>
        </div>

      </div>
      <div class='row mt-100 week-list '>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{productSalesDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{serviceSalesDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Service Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{retailPerGuestDay | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail per Guest<p>
          </div>
        </div>
      </div>
      <div class='row mt-100 week-list'>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrPrdImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['day'].length > 0">
            <img [src]="topProductWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrPrdImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['day'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topProductWorkerName? topProductWorkerName[0].toUpperCase() : '' }} </strong>
          </div>
          <div
            *ngIf="!tpWrkrPrdImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['day'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Product Sales
              {{topProductWorkerName}}</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrSrvImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['day'].length > 0">
            <img [src]="topServiceWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrSrvImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['day'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topServiceWorkerName ? topServiceWorkerName[0].toUpperCase() :  '' }}
            </strong>{{topServiceWorkerName}}
          </div>
          <div
            *ngIf="!tpWrkrSrvImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['day'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Service Sales
              {{topServiceWorkerName}}</p>
          </div>
        </div>
      </div>
      <!-- dashboard reports for day ends -->
      <!-- dashboard reports for week starts -->
      <div class="row mt-50">
        <div class="col-sm-3 col-xs-12 chats-list-1">
          <h1 class="chart-hed">Week</h1>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div [chart]='bookedWeekChart' style="height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #faff00;"></p>
              </div>
              <div class="fil-cont">
                <p>{{bookedWeek.percentage}}% BOOKED</p>
                <p>{{bookedWeek.count}} BOOKED APPTS</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='bookedTicketedWeekChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #00ff3f;"></p>
                <p style="background: #38b6ff;"></p>

              </div>
              <div class="fil-cont">
                <p>{{bookedTicketedBookedWeek | currency:"USD":"symbol-narrow"}}
                  TICKETED</p>
                <p>{{bookedTicketedCheckedInWeek | currency:"USD":"symbol-narrow" }}
                  CHECKED IN</p>
                <p>{{bookedTicketedWeek | currency:"USD":"symbol-narrow" }} BOOKED</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='retailToServiceWeekChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #ffa51d;"></p>
                <p style="background: #ff1ddb;"></p>

              </div>
              <div class="fil-cont">
                <p>{{retailToServiceWeek.othersTotal | currency:"USD":"symbol-narrow" }} OTHER</p>
                <p>{{retailToServiceWeek.productTotal | currency:"USD":"symbol-narrow" }}
                  RETAIL</p>
                <p>{{retailToServiceWeek.serviceTotal | currency:"USD":"symbol-narrow" }} SERVICE</p>


              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12 text-center"></div>
        <div class="col-sm-3 col-xs-12 day-min-list">
          <div class="chary-img" [chart]='rebookWeekChart' style="text-align: center; height:200px; min-width: 200px;">
          </div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #ff1ddb;"></p>

              </div>
              <div class="fil-cont">
                <p>{{rebookedWeek}}% REBOOKED</p>


              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]="bookedOnlineWeekChart"
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #70faff;"></p>

              </div>
              <div class="fil-cont">
                <p>{{bookedOnlineWeek.percentage}}% BOOKED ONLINE</p>
                <p>{{bookedOnlineWeek.count}} BOOKED ONLINE</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]='newClientWeekChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #c488ff;"></p>

              </div>
              <div class="fil-cont">
                <p>{{newClientsWeek.percentage}}% NEW CLIENTS</p>
                <p>{{newClientsWeek.count}} NEW CLIENTS</p>


              </div>
            </div>



          </div>
        </div>

      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageProductWeek | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Product<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageServiceWeek | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Service<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageTicketWeek | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Ticket<p>
          </div>
        </div>

      </div>
      <div class='row mt-100 week-list'>
        <div class="col-sm-3 col-xs-12 text-center"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div class='weekly-chart' style="min-width: 200px; height:200px;" [chart]='productSaleWeekChart'></div>
          <div class="chart-list-hed">

              <div class="round-list clarifix" style="padding-left: 50px;">
                  <div class="fil-round">
                    <p style="background: #ffa51d;"></p>
    </div>
                  <div class="fil-cont">
                      <p>Retail Sales<p>
                        <p>{{sumOfProductSalesWk | currency:"USD":"symbol-narrow"}} This Week</p>
    </div>
                </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div class='weekly-chart' style="min-width: 200px; height:200px;" [chart]='serviceSaleWeekChart'></div>
          <div class="chart-list-hed">

              <div class="round-list clarifix" style="padding-left: 50px;">
                  <div class="fil-round">
                    <p style="background: #ff1ddb;"></p>
    </div>
                  <div class="fil-cont">
                      <p>Service Sales<p>
                        <p>{{sumOfServiceSalesWk | currency:"USD":"symbol-narrow"}} This Week</p>
    </div>
                </div>
 
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{retailPerGuestWeek | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">

              <div class="round-list clarifix" style="padding-left: 50px;">
                  <div class="fil-round">
                   
    </div>
                  <div class="fil-cont">
                      <p style="margin: 0 0 25px;">Retail per Guest<p>
    </div>
                </div>

            
          </div>
        </div>
      </div>
      <div class='row mt-100 week-list'>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrPrdWkImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['week'].length > 0">
            <img [src]="topProductWkWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrPrdWkImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['week'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topProductWkWorkerName? topProductWkWorkerName[0].toUpperCase() : '' }} </strong>
          </div>
          <div
            *ngIf="!tpWrkrPrdWkImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['week'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Product Sales
              {{topProductWkWorkerName}}</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrSrvWkImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['week'].length > 0">
            <img [src]="topServiceWkWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrSrvWkImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['week'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topServiceWkWorkerName ? topServiceWkWorkerName[0].toUpperCase() :  '' }} </strong>
          </div>
          <div
            *ngIf="!tpWrkrSrvWkImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['week'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Service Sales
              {{topServiceWkWorkerName}}</p>
          </div>
        </div>
      </div>
      <!-- dashboard reports for week ends -->
      <!-- dashboard reports for month starts -->
      <div class="row mt-50">
        <div class="col-sm-3 col-xs-12 chats-list-1">
          <h1 class="chart-hed">Month</h1>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div [chart]='bookedMonthChart' style="height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #faff00;"></p>

              </div>
              <div class="fil-cont">
                <p>{{bookedMonth.percentage}}% BOOKED</p>
                <p>{{bookedMonth.count}} BOOKED APPTS</p>


              </div>
            </div>



          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='bookedTicketedMonthChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #00ff3f;"></p>
                <p style="background: #38b6ff;"></p>


              </div>
              <div class="fil-cont">
                <p>{{bookedTicketedMonth | currency:"USD":"symbol-narrow" }} TICKETED</p>
                <p>{{bookedTicketedCheckedInMonth | currency:"USD":"symbol-narrow" }}
                  CHECKED IN</p>
                <p>{{bookedTicketedBookedMonth | currency:"USD":"symbol-narrow" }} BOOKED</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='retailToServiceMonthChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #ffa51d;"></p>
                <p style="background: #ff1ddb;"></p>


              </div>
              <div class="fil-cont">
                <p>{{retailToServiceMonth.othersTotal | currency:"USD":"symbol-narrow" }} OTHER</p>
                <p>{{retailToServiceMonth.productTotal | currency:"USD":"symbol-narrow" }}
                  RETAIL</p>
                <p>{{retailToServiceMonth.serviceTotal | currency:"USD":"symbol-narrow" }} SERVICE</p>


              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12 text-center"></div>
        <div class="col-sm-3 col-xs-12 day-min-list">
          <div class="chary-img" [chart]='rebookMonthChart' style="text-align: center; height:200px; min-width: 200px;">
          </div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #ff1ddb;"></p>


              </div>
              <div class="fil-cont">
                <p>{{rebookedMonth}}% REBOOKED</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]="bookedOnlineMonthChart"
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #70faff;"></p>


              </div>
              <div class="fil-cont">
                <p>{{bookedOnlineMonth.percentage}}% BOOKED ONLINE</p>


              </div>
            </div>

            <p>{{bookedOnlineMonth.count}} BOOKED ONLINE</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]='newClientMonthChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #c488ff;"></p>


              </div>
              <div class="fil-cont">
                <p>{{newClientsMonth.percentage}}% NEW CLIENTS</p>
                <p>{{newClientsMonth.count}} NEW CLIENTS</p>


              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageProductMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Product<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageServiceMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Service<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageTicketMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Ticket<p>
          </div>
        </div>

      </div>
      <div class='row mt-100 week-list '>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{productSalesMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{serviceSalesMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Service Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{retailPerGuestMonth | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail per Guest<p>
          </div>
        </div>

      </div>
      <div class='row mt-100 week-list'>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrPrdMnthImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['month'].length > 0">
            <img [src]="topProductMnthWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrPrdMnthImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['month'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topProductMnthWorkerName? topProductMnthWorkerName[0].toUpperCase() : '' }} </strong>
          </div>
          <div
            *ngIf="!tpWrkrPrdMnthImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['month'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Product Sales
              {{topProductMnthWorkerName}}</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrSrvMnthImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['month'].length > 0">
            <img [src]="topServiceMnthWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrSrvMnthImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['month'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topServiceMnthWorkerName ? topServiceMnthWorkerName[0].toUpperCase() :  '' }}
            </strong>
          </div>
          <div
            *ngIf="!tpWrkrSrvMnthImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['month'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Service Sales
              {{topServiceMnthWorkerName}}</p>
          </div>
        </div>
      </div>
      <!-- dashboard reports for month ends -->
      <!-- dashboard reports for year starts -->
      <div class="row mt-50">
        <div class="col-sm-3 col-xs-12 chats-list-1">
          <h1 class="chart-hed">Year</h1>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div [chart]='bookedYearChart' style="height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #faff00;"></p>


              </div>
              <div class="fil-cont">
                <p>{{bookedYear.percentage}}% BOOKED</p>
                <p>{{bookedYear.count}} BOOKED APPTS</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
          <div class="chary-img" [chart]='bookedTicketedYearChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #00ff3f;"></p>
                <p style="background: #38b6ff;"></p>

              </div>
              <div class="fil-cont">
                <p>{{bookedTicketedYear | currency:"USD":"symbol-narrow" }} TICKETED</p>
                <p>{{bookedTicketedCheckedInYear | currency:"USD":"symbol-narrow" }}
                  CHECKED IN</p>
                <p>{{bookedTicketedBookedYear | currency:"USD":"symbol-narrow" }} BOOKED</p>


              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="chary-img" [chart]='retailToServiceYearChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #d9d9d8;"></p>
                <p style="background: #ffa51d;"></p>
                <p style="background: #ff1ddb;"></p>

              </div>
              <div class="fil-cont">
                <p>{{retailToServiceYear.othersTotal | currency:"USD":"symbol-narrow" }} OTHER</p>
                <p>{{retailToServiceYear.productTotal | currency:"USD":"symbol-narrow" }}
                  RETAIL</p>
                <p>{{retailToServiceYear.serviceTotal | currency:"USD":"symbol-narrow" }} SERVICE</p>



              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12 text-center"></div>
        <div class="col-sm-3 col-xs-12 day-min-list">
          <div class="chary-img" [chart]='rebookYearChart' style="text-align: center; height:200px; min-width: 200px;">
          </div>
          <div class="chart-list-hed">

            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #ff1ddb;"></p>

              </div>
              <div class="fil-cont">
                <p>{{rebookedYear}}% REBOOKED</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]="bookedOnlineYearChart"
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">
            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #70faff;"></p>
              </div>
              <div class="fil-cont">
                <p>{{bookedOnlineYear.percentage}}% BOOKED ONLINE</p>
                <p>{{bookedOnlineYear.count}} BOOKED ONLINE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center day-min-list">
          <div class="chary-img" [chart]='newClientYearChart'
            style="text-align: center; height:200px; min-width: 200px;"></div>
          <div class="chart-list-hed">
            <div class="round-list clarifix">
              <div class="fil-round">
                <p style="background: #c488ff;"></p>
              </div>
              <div class="fil-cont">
                <p>{{newClientsYear.percentage}}% NEW CLIENTS</p>
                <p>{{newClientsYear.count}} NEW CLIENTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-100 week-list">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageProductYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Product<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageServiceYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Service<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{averageTicketYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Average Ticket<p>
          </div>
        </div>
      </div>
      <div class='row mt-100 week-list '>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{productSalesYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{serviceSalesYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Service Sales<p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <h1 class="chart-hed  chart-hed-rice">{{retailPerGuestYear | currency:"USD":"symbol-narrow"}}</h1>
          <div class="chart-list-hed">
            <p>Retail per Guest<p>
          </div>
        </div>
      </div>
      <div class='row mt-100 week-list'>
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrPrdYrImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['year'].length > 0">
            <img [src]="topProductYrWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrPrdYrImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['year'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topProductYrWorkerName? topProductYrWorkerName[0].toUpperCase() : '' }} </strong>
          </div>
          <div
            *ngIf="!tpWrkrPrdYrImg && dashboardData.TopWorkerProductSales && dashboardData.TopWorkerProductSales['year'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Product Sales
              {{topProductYrWorkerName}}</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
          <div
            *ngIf="tpWrkrSrvYrImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['year'].length > 0">
            <img [src]="topServiceYrWorkerImage.srcURL" class="circle-img-160">
          </div>
          <div
            *ngIf="!tpWrkrSrvYrImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['year'].length > 0"
            class='new-client-pro-letter'>
            <strong> {{ topServiceYrWorkerName ? topServiceYrWorkerName[0].toUpperCase() :  '' }}
            </strong>
          </div>
          <div
            *ngIf="!tpWrkrSrvYrImg && dashboardData.TopWorkerServiceSales && dashboardData.TopWorkerServiceSales['year'].length === 0">
            <img src="assets/images/user-icon.png" class="circle-img-160">
          </div>
          <div class="chart-list-hed">
            <p>Top Worker Service Sales
              {{topServiceYrWorkerName}}</p>
          </div>
        </div>
      </div>
      <!-- dashboard reports for year ends -->
    </div>
  </section>
  <app-rightbar></app-rightbar>
</div>