.setsubcont {
	margin-right: 10%;
}

#wrapper_setup_new {
	color: white;
}

.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont select {
	color: white;
}

.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
	color: black;
}

.word-break {
	word-break: break-all!important;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
	margin-left: 0px!important;
	text-align: left;
}

:host ::ng-deep .text-capitalize {
	text-transform: uppercase;
}

/* end of css page name title   */

/* .wrapper_setup_new canvas {
    width: 300px !important;
    background: none !important;
    border-radius: 20px;
    border-color: white
} */

.select-new-trans {
	background-image: url(/assets/images/arrow-new-down.png) !important;
	background-repeat: no-repeat !important;
	background-position: calc(100% - 10px) center !important;
	background-color: rgba(255, 255, 255, 0.2) !important;
	color: #fff !important;
	border: 0px solid #fff !important;
	font-size: 16px !important;
	border-radius: 5px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	font-weight: 500 !important;
	height: 38px !important;
	padding-left: 15px !important;
	padding-right: 30px !important;
}

.circle-img-160 {
	width: 168px;
	height: 168px;
	object-fit: cover;
	border-radius: 100%;
	border: 2px solid white;
}

.new-client-pro-letter {
	width: 168px;
	height: 168px;
	border-radius: 100%;
	overflow: hidden;
	font-size: 100px;
	line-height: 160px;
	border: 2px solid #efefef;
	background: #fff;
	text-align: center;
	margin: 0 auto;
	display: block;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	object-fit: cover;
}

.plot-clr {
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50px;
	margin-right: 10px;
}

.new-client-pro-letter strong {
	background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
	background-position: 50% 50%;
	background-origin: padding-box;
	background-size: auto auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

.week-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.street-label {
	display: inline-block;
}

.street-label-set {
	display: inline-block;
}

.chart-hed {
	font-size: 4.5rem;
}

.chart-list-hed {
	padding: 10px 0 0;
	text-align: center;
}

.chart-list-hed p {
	font-size: 17px;
	margin: 0;
}

.chats-list-1 {
	text-align: center;
}

.chart-sum-list-main {
	justify-content: space-between;
	width: 100%;
	display: flex;
}

/* .sum-list-des-tion-main{justify-content: space-between;width: 100%;display: flex;    align-items: self-start;} */

.chart-sum-hed {
	font-size: 42px;
}

.sum-list-des-tion {
	text-align: center;
	padding: 40px 0 0;
}

.sum-list-des-tion li {
	padding: 0 0 10px;
}

.sum-list-des-tion li strong {
	padding: 0 0 15px;
	display: block;
	font-size: 17px;
}

.chart-num {
	text-align: center;
}

.chart-num h2 {
	font-size: 42px;
}

.chart-num p {
	padding: 50px 0 0;
	font-size: 18px;
}

.chart-num p em {
	font-size: 18px;
	color: #ccc;
}

.work-phone-hed {
	font-size: 42px;
	padding: 30px 0;
	text-align: center;
}

.chart-sum-hed-price {
	padding: 96px 0;
	font-size: 36px;
}


.round-list{
	padding-left:25px;
    text-align: left;
}
.fil-round {
	float: left;
	width: 12%;}
.fil-round p {
	width: 17px;
    height: 17px;
    background: #faff00;
    border-radius: 50px;
    vertical-align: middle;
    display: inline-block;
    margin: 3px 0 5px;
    }
.fil-cont {
	float: left;
	width: 88%;
}
.fil-cont p {
	padding: 0;
	line-height: 25px;
}
.day-min-list{
	height: 260px;
}
.weekly-chart{
	height: 400px;
}
.chart-hed-rice{
	font-size: 40px !important;
}

@media (max-width: 1079px) {
	.chart-sum-list-main {
		display: block;
	}
	.chart-sum-hed-price {
		padding: 96px 0;
		text-align: center;
	}
	.chart-hed {
		text-align: left;
	}
	.chary-img {
		text-align: center;
	}
	.chart-sum-list {
		width: 100%;
	}
}

@media (max-width: 991px) {
	.chary-img img {
		width: 100%;
		display: block;
	}
	.chart-sum-list {
		width: 100%;
		display: block;
	}
	.chart-hed-rice {
		text-align: center;
	}
	.chart-sum-hed-price {
		text-align: center;
	}
	.device-pb-20 {
		padding-bottom: 20px;
	}
	.chart-hed {
		padding-bottom: 10px;
	}
}