<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont" id="dvContents" style="color: white;" class="form_cont">
        <div class="container">
            <div class="row mt-20 arc">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" [(ngModel)]="startDate" (ngModelChange)="generateReport()" bsDatepicker
                        [(bsValue)]="startDate" [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield"
                        [disabled]="datePicDis" [attr.value]="PrintSdate">
                </div>
                <div class="col-md-4 col-sm-4" *ngIf="arcButt">
                    <button class="btn btn-gradient-txt" type="button" (click)="archiveButt();">
                        <span style="font-size: 14px">
                            <i class="fa fa-file-archive-o"></i> {{'PROCESS_COMPENSATION.ARCHIVE' | translate }}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 arc">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="text" [(ngModel)]="endDate" (ngModelChange)="generateReport()" bsDatepicker
                        [(bsValue)]="endDate" [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield"
                        [disabled]="datePicDis" [attr.value]="PrintEdate">
                </div>
                <div class="col-md-4 col-sm-4" *ngIf="topBarPrintButt">
                    <button class="btn btn-gradient-txt" type="button" (click)="printDiv('dvContents')">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <p class='red'>{{error | translate}}</p>
            <span >
                <div class="row mt-20 res-mt-15 ml-5" *ngIf="startDate && endDate && processCompObj.length > 0">
                    <div class="col-md-12" class="mt-top">
                        <div class="table-responsive" style="max-width: 85%">
                            <table class="table table-hover table-bordered form_cont_one">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.INCLUDE' | translate }}</th>
                                        <th class="thcss">{{'COMMON.NAME' | translate }}</th>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.SETUP_COMPENSATION_METHODS' |
                                            translate
                                            }}
                                        </th>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.REGULAR_HOURS' | translate }}</th>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.OVERTIME_HOURS' | translate }}</th>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.EXTRA_PAY' | translate }}</th>
                                        <th class="thcss">{{'PROCESS_COMPENSATION.DEDUCTION' | translate }}</th>
                                        <th class="thcss">{{'COMMON.TOTAL' | translate }}</th>
                                        <th class="thcss">{{'COMMON.TIPS' | translate }}</th>
                                        <th class="thcss" *ngIf="fullview">{{'BUTTON.VIEW' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of processCompObj" class="pri">
                                        <td>
                                            <input type="checkbox" [(ngModel)]="item.include" [attr.checked]="item.include ? 'checked' : null" />
                                        </td>
                                        <td>{{item.workerName}}</td>
                                        <td>{{item.compensationName}} </td>
                                        <td>
                                            <input type="text" [(ngModel)]="item.regularHours" [attr.value]="item.regularHours" />
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="item.overtimeHours" [attr.value]="item.overtimeHours" />
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="item.extraPay" [attr.value]="item.extraPay"/>
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="item.deduction" [attr.value]="item.deduction"/>
                                        </td>
                                        <td>
                                            <span *ngIf="item.compensationAmount !== ''">${{item.compensationAmount | number:'2.2-2'}}</span>
                                        </td>
                                        <td>
                                            {{item.tipAmount | currency:"USD":"symbol-narrow"}}
                                        </td>
                                        <td *ngIf="fullview && item.id !== ''">
                                            <span *ngIf="decodedToken['Reports'] && decodedToken['Reports'][7]['allowAcces']" class="add" style="line-height: 22px;cursor: pointer;" (click)="view(item)"title="view">
                                                <!--** fa-eye icon is not displaying in print screen time if i use img it displaying **-->
                                                <img style="width:14px;" src="assets/images/view.png" alt="View">
                                                <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12 total">{{'PROCESS_COMPENSATION.TOTAL_PERIOD_COMPENSATION' | translate }} :
                                {{totalCount | currency:"USD":"symbol-narrow"}}</div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-md-6 col-sm-8 res-tleft width-align">
                                <button type="button" class="btn btn-gradient-txt" (click)="unSelectAll()">
                                    <span style="font-size: 14px">{{'PROCESS_COMPENSATION.UNSELECT_ALL_WORKERS' | translate }}</span>
                                </button>
                                <button type="button" class="btn btn-gradient-txt" (click)="selectAll()">
                                    <span style="font-size: 14px">{{'PROCESS_COMPENSATION.SELECT_ALL_WORKERS' | translate }}</span>
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-8 res-tleft width-align">
                                <button type="button" class="btn btn-gradient-txt" *ngIf="resetButt" (click)="resetFun()">
                                    <span style="font-size: 14px"> {{'PROCESS_COMPENSATION.RESET' | translate }} </span>
                                </button>
                                <button type="button" class="btn btn-gradient-txt" (click)="generateButt()">
                                    <span style="font-size: 14px">
                                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

        <!-- Compensation Detail start-->
        <!-- <span *ngIf="fullviewSetup">
            <div class="col-md-12" class="mt-top">
                <div class="table-responsive" style="max-width: 85%">
                    <table class="table table-bordered form_cont_one">
                        <thead>
                            <tr>
                                <th class="thcss">{{'COMMON.NAME' | translate }}</th>
                                <th class="thcss">Compensation</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.REGULAR_HOURS' | translate }}</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.OVERTIME_HOURS' | translate }}</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.EXTRA_PAY' | translate }}</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.DEDUCTION' | translate }}</th>
                                <th class="thcss">{{'COMMON.TOTAL' | translate }}</th>
                                <th class="thcss">{{'COMMON.TIPS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{viewList.workerName}}</td>
                                <td>{{viewList.compensationName}}</td>
                                <td>{{viewList.regularHours}}</td>
                                <td>{{viewList.overtimeHours}}</td>
                                <td>{{viewList.extraPay | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{viewList.deduction | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{viewList.compensationAmount | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{viewList.tipAmount | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" class="mt-top">
                <div class="table-responsive setsubcont" style="max-width: 85%">
                    <hr>
                    <h1>{{'PROCESS_COMPENSATION.COMPENSATION_DETAILS' | translate }}</h1>
                    <br>
                    <table class="table table-hover table-bordered form_cont_one">
                        <thead>
                            <tr>
                                <th class="thcss">{{'SETUP_COMPANY_HOURSE.DATE' | translate }}</th>
                                <th class="thcss">{{'SETUP_WORKERS_DETAILS.SERVICES' | translate }}</th>
                                <th class="thcss">{{'CLIENTS.CLASSES' | translate }}</th>
                                <th class="thcss">{{'CLIENTS.PRODUCTS' | translate }}</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.HOURS_WORKED' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let items of finAry">
                                <td>{{items.date | date : 'MM/dd/yyyy'}}</td>
                                <td>{{items.services | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{items.classes | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{items.products | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{items.hoursWorked | number : '1.2-2'}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-md-12" class="mt-top">
                <div class="table-responsive setsubcont" style="max-width: 85%;text-transform: capitalize;">
                    <br>
                    <table class="table table-hover table-bordered form_cont_one">
                        <thead>
                            <tr>
                                <th class="thcss">{{'SETUP_COMPENSATION_METHODS.STEP' | translate }}</th>
                                <th class="thcss">{{'COMMON.ACTION' | translate }}</th>
                                <th class="thcss">{{'SETUP_COMPENSATION_METHODS.VALUE' | translate }}</th>
                                <th class="thcss">{{'COMMON.NUMBER' | translate }}</th>
                                <th class="thcss">{{'PROCESS_COMPENSATION.RESULT' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of viewResdata;let i = 'index'">
                                <td>{{i + 1}}</td>
                                <td>{{item.operator}}</td>
                                 <td>
                                    {{item.operand}}
                                    <span *ngIf="(item.operand === 'Gross Service' && item.operandSubOption) ||
                                     (item.operand === 'Gross Retail' && item.operandSubOption) ||
                                     (item.operand === 'Services Performed' && item.operandSubOption) ||
                                     (item.operand === 'Products Sold' && item.operandSubOption) ||
                                     (item.operand === 'Services Performed' && item.operandSubOption)">:
                                     {{item.operandSubOption}}</span>
                                    </td>
                                <td>{{item.ticketNum | number:'2.2-2'}}</td>
                                <td><span *ngIf="item.result"></span>{{item.result | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </span> -->
        </div>
        <!-- Compensation Detail end-->
    </section>
    <app-rightbar></app-rightbar>
</div>
<div bsModal #listModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" id = "divContent">
			<span id="cancel1" (click)="closeListModal()" class="close close-list">&times;</span>
			<div class="modal-body">
                    <button class="btn btn-gradient-txt"  type="button" (click)="printDiv('divContent')">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                <span *ngIf="fullviewSetup" class="pri">
                    <div class="col-md-12" class="mt-top">
                        <div class="table-responsive" style="max-width: 85%">
                            <table class="table table-bordered form_cont_one">
                                <thead>
                                    <tr>
                                        <th class="thcss th-color">{{'COMMON.NAME' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.COMPENSATION' | translate}}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.REGULAR_HOURS' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.OVERTIME_HOURS' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.EXTRA_PAY' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.DEDUCTION' | translate }}</th>
                                        <th class="thcss th-color">{{'COMMON.TOTAL' | translate }}</th>
                                        <th class="thcss th-color">{{'COMMON.TIPS' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{viewList.workerName}}</td>
                                        <td>{{viewList.compensationName}}</td>
                                        <td>{{viewList.regularHours}}</td>
                                        <td>{{viewList.overtimeHours}}</td>
                                        <td>{{viewList.extraPay | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{viewList.deduction | currency:"USD":"symbol-narrow"}}</td>
                                        <td>${{viewList.compensationAmount | number:'2.2-2'}}</td>
                                        <td>{{viewList.tipAmount | currency:"USD":"symbol-narrow"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12" class="mt-top">
                        <div class="table-responsive setsubcont" style="max-width: 85%">
                            <hr>
                            <h1 class="th-color">{{'PROCESS_COMPENSATION.COMPENSATION_DETAILS' | translate}}</h1>
                            <br>
                            <table class="table table-hover table-bordered form_cont_one">
                                <thead>
                                    <tr>
                                        <th class="thcss th-color">{{'SETUP_COMPANY_HOURSE.DATE' | translate }}</th>
                                        <th class="thcss th-color">{{'SETUP_WORKERS_DETAILS.SERVICES' | translate }}</th>
                                        <th class="thcss th-color">{{'CLIENTS.CLASSES' | translate }}</th>
                                        <th class="thcss th-color">{{'CLIENTS.PRODUCTS' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.HOURS_WORKED' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of finAry">
                                        <td>{{items.date | date : 'MM/dd/yyyy'}}</td>
                                        <td>{{items.services | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{items.classes | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{items.products | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{items.hoursWorked | number : '1.2-2'}}</td>
                                    </tr>
                                </tbody>
        
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12" class="mt-top">
                        <div class="table-responsive setsubcont" style="max-width: 85%;text-transform: capitalize;">
                            <br>
                            <table class="table table-hover table-bordered form_cont_one">
                                <thead>
                                    <tr>
                                        <th class="thcss th-color">{{'SETUP_COMPENSATION_METHODS.STEP' | translate }}</th>
                                        <th class="thcss th-color">{{'COMMON.ACTION' | translate }}</th>
                                        <th class="thcss th-color">{{'SETUP_COMPENSATION_METHODS.VALUE' | translate }}</th>
                                        <th class="thcss th-color">{{'COMMON.NUMBER' | translate }}</th>
                                        <th class="thcss th-color">{{'PROCESS_COMPENSATION.RESULT' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of viewResdata;let i = 'index'">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.operator}}</td>
                                         <td>
                                            {{item.operand}}
                                            <span *ngIf="(item.operand === 'Gross Service' && item.operandSubOption) ||
                                             (item.operand === 'Gross Retail' && item.operandSubOption) ||
                                             (item.operand === 'Services Performed' && item.operandSubOption) ||
                                             (item.operand === 'Products Sold' && item.operandSubOption) ||
                                             (item.operand === 'Services Performed' && item.operandSubOption)">:
                                             {{item.operandSubOption}}</span>
        
                                            </td>
                                        <td>{{item.ticketNum | number:'2.2-3'}}</td>
                                        <td><span *ngIf="item.result"></span>{{item.result | number:'2.2-2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </span>
			</div>
		</div>
	</div>
</div>