<div id="wrapper_setup_new">
  <app-header [newMenu]="'nav'"></app-header>
  <section class="setsubcont" id="inner_cont">
    <div class="container form_cont" id="dvContents">
      <div class="row">
        <div class="col-12 col-md-10 col-md-offset-2">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-1">+100%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="excellent" class="form-control" 
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('1')">RESET</a> </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-2">90-99%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="veryGood" class="form-control" 
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('2')">RESET</a> </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-3">75-89%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="good" class="form-control"
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('3')">RESET</a> </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-4">60-74%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="fair" class="form-control" 
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('4')">RESET</a> </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-5">1-59%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="poor" class="form-control" 
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('5')">RESET</a> </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 virtual-list">
              <h2 class="val-hed hed-6">0%</h2>
              <div class="form-group">
                <textarea maxlength="350" [(ngModel)]="veryPoor" class="form-control" 
                  id="exampleFormControlTextarea1"></textarea>
              </div>
              <div class="reset-btn"> <a class="btn" (click)="reset('6')">RESET</a> </div>
            </div>
          </div>
          <div class="row mt-50">
            <div class="col-12 col-sm-12 col-md-12 btn-center">
              <div class="sa-can-btn">
                <button type="button" class="save-btn" (click)="saveData()">{{ 'BUTTON.SAVE' | translate }}</button>
                &nbsp;&nbsp;
                <button type="button" class="cancel-btn" (click)="cancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-rightbar></app-rightbar>
</div>