.setsubcont{
    margin-right: 10%;
}
#wrapper_setup_new{
	color: white;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setsubcont select {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
}



.virtual-list{text-align: center;}
.virtual-list .val-hed{font-size:60px;color: #7ed957;padding: 10px 0;}
.virtual-list .hed-1{color: #7ed957;}
.virtual-list .hed-2{color: #7ed957;}
.virtual-list .hed-3{color: #ffde59;}
.virtual-list .hed-4{color: #ffa84d;}
.virtual-list .hed-5{color: #ff5757;}
.virtual-list .hed-6{color: #d9d9d8;}
.virtual-list .form-group .form-control{width: 100%;}
.reset-btn a{color: #0f6496;background: #fff;padding: 6px 20px;}
.virtual-list .form-group textarea {color: #fff;}
.virtual-list .form-group textarea:focus{color: #000;}

.btn-center{text-align: center;}
.sa-can-btn{padding: 6px;display: inline-block;background:transparent;}
.sa-can-btn a{border-radius: 0;color: #fff;padding: 8px 25px;font-size: 16px;}
.btn-save{background: #35c31b;}
.btn-cancel{background: #f23900;}

@media (max-width: 1079px) { 
.virtual-list .val-hed{font-size: 52px;}
}