<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont ">
            <div class="col-sm-8 ">
                    <p class="red mb-0"> {{hrserror | translate }} </p>
                </div>    
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center mt-40">
                    <div class="clearfix" >
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control dates-align" [(ngModel)]="toDate" style="border-color:#fff;"
                                value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="toDate" [bsConfig]="datePickerConfig"
                                [minDate]="minDate" class="datefield" [disabled]="disNote" (click)="clrHrserr()"(keyup)="clrHrserr()"(keypress)="clrHrserr()">
                            <label class="text-center" style=" width:100%;"><span class="red">*</span>{{'COMMON.START_DATE' | translate}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="fromDate" style="border-color:#fff;"
                                value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="fromDate" [bsConfig]="datePickerConfig"
                                [minDate]="minDate" class="datefield" [disabled]="disNote" (click)="clrHrserr()"(keyup)="clrHrserr()"(keypress)="clrHrserr()">
                            <label class="text-center" style=" width:100%;">{{'COMMON.END_DATE' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center mt-40">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12">
                            <label class="text-center col-sm-3">{{'COMMON.NOTE' | translate}}</label>
                            <input type='text' [(ngModel)]="hoursNote" [maxlength]="25" class="form-control col-sm-9 col-xs-12" style="border-color:#fff;" [disabled]="disNote" (click)="clrHrserr()"(keyup)="clrHrserr()"(keypress)="clrHrserr()">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 text-center"style="margin-bottom: 20px;">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        &nbsp;
                    </div>
                    <div class="col-md-7 col-sm-8 mt-40">
                        <button *ngIf="actionPopup ==='add'"type="button" class="save-btn" (click)="saveHours('')">{{'BUTTON.SAVE' | translate }}
                        </button>
                        <button *ngIf="actionPopup ==='edit'" class="save-btn" type="button" (click)="saveHours(uniqueId)">{{'BUTTON.SAVE' | translate }}</button>
                        <button *ngIf="actionPopup ==='delete'" class="cancel-btn" type="button" (click)="deleteHoursData(uniqueId)">Delete</button>
                        <button type="button" class="cancel-btn" (click)="cancelHrs('cancel')">{{'BUTTON.CANCEL' | translate }}
                        </button>
                    </div>
                </div>
            <div class="col-sm-12 white" *ngIf="displayTempList.length > 0">
                    <div class="col-sm-8">
                        <h5>{{'COMMON.COMPANY_DAYS_OFF' | translate}}</h5>
                    </div>
                    <div class="col-sm-4">
                            <input type="checkbox" [(ngModel)]="showExpiry"(change)="showExpiredHrs()">
                            <label class="lebel-align">{{'COMMON.SHOW_EXPIRED' | translate}}</label>
                    </div>
                </div>
            <!-- custom hours list table -->
            <div class="row mt-20 res-mt-15">
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table white">
                            <tbody>
                                <tr *ngFor = "let hoursData of displayTempList">
                                    <td *ngIf="decodedToken['Setup Company'] && decodedToken['Setup Company'][0]['allowAcces']">
                                        <a class="cursor-css"(click)="editHoursData(hoursData.uniqId)">{{'BUTTON.EDIT' | translate }}</a> <span  *ngIf="hoursData.delStatus">|
                                        <a class="cursor-css" (click)="deleteFn(hoursData.uniqId)" *ngIf="hoursData.delStatus">{{'BUTTON.DELETE' | translate }}</a></span>
                                    </td>
                                    <td>{{hoursData.message}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>