<div id="wrapper_setup_new ">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)=loadCompanyData($event)></app-header>
    <section id="inner_cont">
        <div id="divContents">
            <div class="container form_cont">
                <div class="row mt-20">
                    <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                        <label>
                            <b>{{'COMMON.BEGIN_DATE' | translate}}</b>
                        </label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input type="text" bsDatepicker [(ngModel)]='startDate' (ngModelChange)='isGenerate = false'
                            [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield">
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                        <label>
                            <b>{{'COMMON.END_DATE' | translate}}</b>
                        </label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input type="text" bsDatepicker [(ngModel)]='endDate' (ngModelChange)='isGenerate = false'
                            [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield">
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        &nbsp;
                    </div>

                    <div class="col-md-7 col-sm-8">
                        <button type="button" (click)="generateReport();" class="btn btn-primary">
                            <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE' | translate}}
                        </button>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="isGenerate">
                    <div class="col-md-11 col-sm-11 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-20" *ngIf="isGenerate">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered form_cont_one style-align" border="0"
                            cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="thcss">{{companyName}}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.TOTAL_SHEET' | translate}}</th>
                                    <th class="thcss">{{startDate | date: 'MM/dd/yyyy'}} -
                                        {{endDate | date: 'MM/dd/yyyy'}}</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="table-heading-detail">{{'TOTAL_SHEETS.WORKER_SALES' | translate}}</div>
                        <table class="table-style">
                            <tr>
                                <th>{{'TOTAL_SHEETS.WORKER_NAME' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.SERVICE_SALES' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.PRODUCT_SALES' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.TOTAL_SALES' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.TOTAL_TIPS' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.GUEST_CHARGE' | translate}}</th>
                            </tr>
                            <tr *ngFor="let workerSales of workerSalesObj">
                                <td>{{workerSales.workerName}}</td>
                                <td>{{workerSales.serviceSales | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{workerSales.productSales | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{workerSales.totalSales | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{workerSales.totalTips | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{workerSales.guestCharge | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                        <div class="table-heading-detail">{{'TOTAL_SHEETS.COMPANY_SALES' | translate}}</div>
                        <table class="table-style">
                            <tr>
                                <th>{{'TOTAL_SHEETS.SALES_TYPE' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.FULL_PRICE' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.DISCOUNTS' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.DISCOUNTED_SALES' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.TAX_TOTAL' | translate}}</th>
                            </tr>
                            <tr *ngFor="let companySales of companySalesObj">
                                <td>{{companySales.salesType}}</td>
                                <td>{{companySales.fullPrice | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{companySales.discounts |currency:"USD":"symbol-narrow"}}</td>
                                <td>{{companySales.discountedSales | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{companySales.taxTotal | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                        <div class="table-heading-detail">{{'TOTAL_SHEETS.ACCOUNT_BALANCES' | translate}}</div>
                        <table class="table-style">
                            <tr>
                                <th>{{'TOTAL_SHEETS.ACCOUNT_BALANCE_TYPE' | translate}}</th>
                                <th>{{'COMMON.AMOUNT' | translate}}</th>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.PACKAGE' | translate}}</td>
                                <td>{{accountBalanceObj.package | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.PACKAGE_ONLINE' | translate}}</td>
                                <td>{{accountBalanceObj.packageRefund | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.DEPOSIT' | translate}}</td>
                                <td>{{accountBalanceObj.deposit | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.RECIEVED_ON_ACCOUNT' | translate}} </td>
                                <td>{{accountBalanceObj.receivedOnAccount | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.DEPOSIT_ONLINE' | translate}}</td>
                                <td>{{accountBalanceObj.depositOnline | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TOTAL_SHEETS.PREPAYMENT' | translate}}</td>
                                <td>{{accountBalanceObj.prepayment | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <th>{{'TOTAL_SHEETS.TOTALS' | translate}}</th>
                                <td>{{accountBalanceObj.totals | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                        <div class="table-heading-detail">{{'TOTAL_SHEETS.PAYMENTS' | translate}}</div>
                        <table class="table-style">
                            <tr>
                                <th>{{'TOTAL_SHEETS.PAYMENT_TYPE' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.ELECTRONIC' | translate}}</th>
                                <th>{{'COMMON.NUMBER' | translate}}</th>
                                <th>{{'COMMON.AMOUNT_PAID' | translate}}</th>
                            </tr>
                            <tr *ngFor="let paymentObj of paymentsData">
                                <td>{{paymentObj.paymentType}}</td>
                                <td *ngIf="paymentObj.electronic">{{'TOTAL_SHEET.Y' | translate}}</td>
                                <td *ngIf="!paymentObj.electronic"></td>
                                <td>{{paymentObj.number}}</td>
                                <td>{{paymentObj.amountPaid | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                        <div class="table-heading-detail">{{'TOTAL_SHEETS.GRAND_TOTALS' | translate}}</div>
                        <table class="table-style">
                            <tr>
                                <th>{{'TOTAL_SHEETS.ALL_SALES' | translate}}</th>
                                <th>{{'COMMON.AMOUNT' | translate}}</th>
                                <th>{{'COMMON.TAX' | translate}}</th>
                                <th>{{'TOTAL_SHEETS.AMOUNT_WITH_TAX' | translate}}</th>
                            </tr>
                            <tr *ngFor="let grandTotalData of grandTotalObj">
                                <td>{{grandTotalData.allSales}}</td>
                                <td>{{grandTotalData.amount | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{grandTotalData.tax | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{grandTotalData.amountTax | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>