<div id="wrapper_setup_bar">
    <app-header [newMenu]="'nav'"></app-header>
    <!-- <div id="wrapper_setup"> -->
    <section>
        <div [style.height]="'450px'" class="col-md-1">
            <p class="sumTot">{{'TICKET_SALES_CHART.SUM_OF_TOTALS' | translate }}</p>

        </div>
        <div class="col-md-9" #barChart>
            <!-- <h4 style="text-align: center; color:white;">Ticket Sales Last Month</h4> -->

            <p-chart width="100%" height="400" type="bar" [options]="options" [data]="data"></p-chart>

            <!-- <p-chart width="190px !important" height="190px !important" type="bar" [data]="videoDashboardData"></p-chart> -->
        </div>
        <div class="col-md-12">
            <p class="apptDt">{{'TICKET_SALES_CHART.APPOINTMENT_DATE_TIME' | translate }}</p>
        </div>

    </section>
    <!-- </div> -->
    <app-rightbar></app-rightbar>
</div>