:host ::ng-deep #wrapper_setup_bar{font-family:'Raleway', sans-serif;}
:host ::ng-deep #wrapper_setup_bar canvas{width:100% !important;background:white;border-radius:10px; height: 450px;}

.apptDt{

    margin-top: 40px;
    text-align: center;    
    color: white;
}
.sumTot{
    margin-top: 201px;
    color: white;
    width: 150px;
    height: 80px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(270deg);
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */
@media (device-width:768px){ 
    :host ::ng-deep #wrapper_setup_bar canvas{
        width:650px !important;height:274px !important;
    }
    .sumTot {
        margin-top: 0%;
    }
    .col-md-1 {
        display: none;
    }
    .apptDt {
        display: none; 
    }
}
@media (device-width:1024px){
    :host ::ng-deep #wrapper_setup_bar canvas{ 
         width:800px !important;
    }
    .sumTot {
        margin-top: 80px;
    }
    .col-md-1 {
        height: 300px;
    }
}