<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row d-flex">
                <div class="col-sm-12 col-md-1"></div>
                <div class="col-sm-8 col-md-7">
                    <div class="row mt-20">
                        <div class="col-md-7 col-sm-5  text-right res-tleft">
                            <label class="label">{{'COMMON.BEGIN_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-5 col-sm-7">
                            <input type="text" bsDatepicker [(ngModel)]='startDate' [maxDate]="minDate"
                                (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig" class="datefield">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-7 col-sm-5 text-right res-tleft">
                            <label class="label">{{'COMMON.END_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-5 col-sm-7">
                            <input type="text" bsDatepicker [(ngModel)]='endDate' [maxDate]="minDate"
                                (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig" class="datefield">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-7 col-sm-5 text-right res-tleft">
                            <label class="label"># of Referrals required</label>
                            <!--# of Referrals required-->
                        </div>
                        <div class="col-md-5 col-sm-7">
                            <input type="text" [(ngModel)]='numOfRef' [attr.value]='numOfRef'
                                (ngModelChange)='itemsDisplay = false' (keypress)="isNumeric($event);" (paste)="false">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-5 col-sm-7 pull-right text-center">
                            <button type="button" (click)="generateReferralReport()" class="btn btn-primary">
                                <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 dropwidth">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-5 col-md-offset-1 text-right res-tleft">
                            <label class="label" style="margin-top: 8px;">{{'REWARDS.SORT_BY' | translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <select class="select-new-trans select-input"
                                (change)="selectTypeOnChange($event.target.value)" [(ngModel)]="selectType">
                                <option *ngFor="let data of staticData" value={{data.value}}>{{data.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-max-rewards">
                        <div class="table-responsive">
                            <table class="table table-center table-responsive">
                                <tr>
                                    <th>{{'REFERRAL_REPORT.NUMBER_OF_REFERRALS' | translate}}</th>
                                    <th>{{'ACCOUNT_BALANCE.CLIENT_NAME' | translate}}</th>
                                    <th>{{'REFERRAL_REPORT.DATE' | translate}}</th>
                                    <th>{{'REFERRAL_REPORT.REFERRED' | translate}}</th>
                                </tr>
                                <tr *ngFor="let data of refferalData">
                                    <td>{{data.ReferCount}}</td>
                                    <td><a [routerLink]="['/client/edit/' + data.ClientId]"
                                            [queryParams]="{ actionMethod: 'referralreport'}"
                                            *ngIf="data.ClientName !== null">{{data.ClientName}}</a></td>
                                    <td>
                                        <span *ngFor="let disDate of data.displayDates">{{disDate}}<br></span>
                                    </td>
                                    <td>
                                        <span *ngFor="let refCli of data.displayClients">{{refCli}}<br></span>
                                    </td>
                                </tr>
                            </table>
                            <p style="font-weight: bolder">{{'REFERRAL_REPORT.TOTAL_REFERRALS' | translate}} :
                                {{totalReferrals}} </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>