<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="sub_titles">{{'CREATE_TOKEN.PROCESS_PAYMENT' | translate}}</h1>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CREATE_TOKEN.CARD_PRESENT' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="checkbox" class="crt-tkn-chkbox" [(ngModel)]="checkboxFlag"
                        (change)="autofocusSwipe()" />
                </div>
            </div>
            <div *ngIf="!checkboxFlag">
                <div class="row">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <h2>{{'CREATE_TOKEN.BILL_INFO' | translate}}</h2>
                    </div>
                    <div class="col-md-7 col-sm-8"></div>
                </div>
                <div class="row mt-15">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CREATE_TOKEN.CARD_NAME' | translate}}</label>
                        <span class="red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input type="text" maxlength="50" [(ngModel)]="clientName" (keypress)="updateErrMsg(0);" />
                        <div class="red crt-tkn-error">{{errorMsgAry[0]}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <h2>{{'CREATE_TOKEN.PAYMENT_INFO' | translate}}</h2>
                    </div>
                    <div class="col-md-7 col-sm-8"></div>
                </div>
                <div class="row mt-15">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CREATE_TOKEN.CARD_NUMBER' | translate}}</label>
                        <span class="red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input type="number" [(ngModel)]="cardNum" (keypress)="updateErrMsg(6);"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                            onKeyDown="if(this.value.length==20 && event.keyCode!=8) return false;" />
                        <small>{{'CREATE_TOKEN.NO_DASHES' | translate}}</small>
                        <div class="red crt-tkn-error">{{errorMsgAry[6]}}</div>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CREATE_TOKEN.EXPIRES' | translate}}</label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <select class="crt-tkn-select" [(ngModel)]="expMonth" (click)="updateErrMsg(8);">
                            <option *ngFor="let month of monthList; let i='index'" value="{{i+1}}">{{month}}</option>
                        </select>
                        <select class="crt-tkn-select" [(ngModel)]="expYear" (click)="updateErrMsg(8);">
                            <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                        </select>
                    </div>
                </div>
                <div class="red crt-tkn-error" style="text-align:center;"> {{errorMsgAry[8]}} </div>
                <div class="row mt-15">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CREATE_TOKEN.CVV' | translate}}</label>
                        <span class="red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input class="crt-tkn-cvv" type="number" [(ngModel)]="cardCVV" (keypress)="updateErrMsg(7);"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                            onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;" />
                        <div class="red crt-tkn-error">{{errorMsgAry[7]}}</div>
                    </div>
                </div>
                <div class="row mt-25">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <button type="button" class="save-btn"
                            (click)="saveCrtTkn()">{{'BUTTON.SAVE' | translate}}</button>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <button type="button" class="cancel-btn"
                            (click)="cancelCrtTkn()">{{'BUTTON.CANCEL' | translate}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="checkboxFlag">
                <div class="row mt-15">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <label>{{'CREATE_TOKEN.READY_SWIPE' | translate}}</label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <input class="crt-tkn-cvv" type="password" [(ngModel)]="swipePwd" id="swipeId" autofocus />
                    </div>
                </div>
                <div class="row mt-25" *ngIf="swipePwd">
                    <div class="col-md-5 col-sm-4 text-right res-tleft">
                        <button type="button" class="save-btn"
                            (click)="getCardDetails()">{{'BUTTON.SUBMIT' | translate }}</button>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <button type="button" class="save-btn"
                            (click)="clearSwipe()">{{'BUTTON.CLEAR' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>