/* virtual-scroll {
    display: block;
    width: 350px;
    height: 200px;
  } */
.form_cont select {
    color: #fff;

}

.table-responsive {
    overflow-x: none !important;
}

.table-responsive td {
    color: white;
}

:host ::ng-deep .ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* vertical-align: middle; */
    width: 110px !important;
    display: block;
    list-style: none;
    position: absolute;
    margin-top: -17px;
    border-radius: 0px;
}

:host ::ng-deep .ui-dropdown .ui-dropdown-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 .25em;
}

:host ::ng-deep .ui-state-default {
    /* border: 1px solid #d6d6d6 !important; */
    background: #148fb1;
}

:host ::ng-deep .ui-dropdown .ui-dropdown-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    padding-right: 1.5em;
    color: white;
    background-color: #148fb1;
}

:host ::ng-deep .ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border: 0 none;
    cursor: pointer;
    margin: 1px 0;
    padding: .125em .25em;
    text-align: left;
}

:host ::ng-deep .ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: overlay;
    max-height: 140px !important;
}

:host ::ng-deep .ui-dropdown:not(.ui-state-disabled):hover {
    border-radius: 3px !important;
}