#inner_cont {
    margin-right: 10%;
}
#wrapper_setup_new, .form_cont select {
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
    color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}
.modal-lg  input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
    color: black;
}
@media (device-width: 768px){
	#inner_cont {
        margin-right: 11%;
    }
}