#wrapper_setup_new {
    padding-right: 90px;
}
/* .container {
    padding-left: 15px;
    padding-right: 15px;
} */
.form_cont select:focus{
    border:1px solid #000;
    background-color: #fff;
    color:#000;
}
.form_cont table {
    font-size: 14px;
    letter-spacing: 0px;
}
.form_cont input[type=text] {
    width:90%;
}
.m-l-0 {
    margin-left: 0px !important;
}
.m-r-0 {
    margin-right: 0px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-l-15 {
    margin-left: 15px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.va-m {
    vertical-align: middle !important;
}
.select-align {
    width:90%;
}
.appt-box {
    border: solid 1.5px #3583a1;
}
#inner_cont {
    /* margin-right: 4%; */
}
#box-align {
    margin-right:-2%;
}
.align-select {
    width:90%;
    margin-left: 10px;
    margin-bottom:5px;
}
.align1-select {
    width:90%;
    margin-left: 10px;
}
#height-align {
    min-height: 330px;
    max-height:auto;
}
.form_cont12{
    text-align: center;
    margin-top: -28px;
}
.form_cont12 h1 {
    font-family: 'AvenirLTStdRoman';
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}
.para-align{
    text-align: center;
    color: #075877;
    font-weight: bold;
}
.btn-style{
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.b-0 {
    border: 0 !important;
}
.d-inline-block {
    display: inline-block !important
}
.v-alm {
    vertical-align: middle !important;
}
.br-5 {
    border-radius: 5px !important;
}
.m-0 {
    margin: 0px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.form_cont .btn-default {
    color: #fff !important;
    background-color: #1496c9;
}
.min-150 {
    min-width: 150px !important;
}
.min-100 {
    min-width: 100px !important;
}
.min-110 {
    min-width: 110px !important;
}
.max-150 {
    max-width: 150px !important;
}
.max-100 {
    max-width: 100px !important;
}
.max-110 {
    max-width: 110px !important;
}
.f-none {
    float: none !important;
}
.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.wt-line {
    width: 100%;
    border:0;
    height: 1px;
    background: #fff;
}
.pl-0 {
    padding-left: 0 !important;
}
.table-border-0 td {
    border: 0 !important;
}

.form-text {
    background: transparent !important;
    color:#fff !important;
    border:1px solid #fff !important;
    resize: none !important;
}
.btn-new-wt {
    background: #fff !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-blue {
    background: #30afe0 !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-lgt-trans {
    background: rgba(255,255,255,0.9) !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-wt.big-btn, .btn-new-blue.big-btn, .btn-new-lgt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:18px !important;
    line-height: 25px !important;
    font-weight: normal;
}
.table-bg-trans tbody {
    background: rgba(255,255,255,0.2) !important;
}
.td-para {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 10px 0 0 15px !important;
    margin: 0px 0 0 0 !important;
}
.td-para-main {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 0px 0 0 0px !important;
    margin: 0px 0 0 0 !important;
    font-weight: bold;
}
@media (device-width: 768px) {
    #box-align {
        margin-right:0px;
    }
    /* #inner_cont {
        margin-right: 10%;
    }
     */
    .col-sm-4 {
        width: 20.333333%;
    }
    .select-align {
        width:50%;
    }
    .form_cont input[type=text] {
        width:50%;
    }
    .align-select {
        width:40%;
       float:left;
    }
    .align1-select {
        width:40%;
    }
    .form_cont12 {
        margin: 0;
    }
    
}
@media (min-device-width: 992px) {
    .align-select {
        width: 35%;
        float:left;
    }
    .align1-select {
        width: 50%;  
    }
}
@media (device-width: 1024px) {
    /* #inner_cont {
        margin-right: 5%;
    } */
    .button-align {
        margin-left:15%;
    }
    #box-align {
        margin-right:-2.5%;
    }
   #text-align {
       padding-left:1px;
   }
   #align-box {
       width:113%
   }
   #padding-align {
        width: 103%;
        padding-left: 3px;
    }
    .align-select {
        width: 35%;
        margin-left:15px;
        float:left;
    }
    .align1-select {
        width: 50%;  
    }
    .select-align {
        width:100%;
    }
    .form_cont input[type=text] {
        width:100%;
    }
}
@media screen and (max-width: 1222px) and (orientation: landscape) {
    .col-md-8 {
        width: 66.66666667%!important;
    }
    .form_cont h1 {
        font-family: 'AvenirLTStdRoman';
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .col-md-10 {
        width: 150%;
    }
}