<div id="wrapper_setup_new" style="color:white;">
  <app-header [newMenu]="'noNav'" [standCliName]="showCliName"></app-header>
  <!-- <div class="form_cont12">
    <h1>{{showCliName}}</h1>
  </div> -->
  <section id="inner_cont">
    <div class="col-sm-8">
      <p class="red mb-0"> {{ (!checkConflictError) ? (bookStandErr | translate) : '' }} </p>
    </div>
    <div class="container form_cont">
      <div class="row clearfix">
        <div class="col-sm-12 col-md-6 ">
          <div class="row clearfix">
            <div class="col-sm-12 col-md-6 mb-20">
              <label class="min-100">{{'COMMON.START_DATE' | translate}}
                <span class="red">*</span>
              </label>
              <input type="text" (ngModelChange)="getWorkersFromDate(); populateFromDate()" [(ngModel)]="bsValue"
                bsDatepicker [(bsValue)]="bsValue" value="{{ bsValue | date:'MM/d/y'}}" class="datefield"
                [minDate]="minDate" (click)="clearErrorMsg();clearAppts();" [bsConfig]="datePickerConfig"
                style="max-width:110px; width:100%;" />
              <span class="m-l-5"><img src="../../assets/images/calender.png" alt="close" width="20"></span>
            </div>
            <div class="col-sm-12 col-md-6 mb-20">
              <label class="min-100">
                {{'COMMON.END_DATE' | translate}}
                <span class="red">*</span>
              </label>
              <input type="text" [(ngModel)]="bsValue1" bsDatepicker [(bsValue)]="bsValue1" class="datefield"
                [minDate]="minDate" (click)="clearErrorMsg();clearAppts();" [bsConfig]="datePickerConfig"
                value="{{ bsValue1 | date:'MM/d/y'}}" style="max-width:110px; width:100%;" />
              <span class="m-l-5"><img src="../../assets/images/calender.png" alt="close" width="20"></span>
            </div>
          </div>
          <div class="row clearfix mb-20">
            <div class="col-sm-12 col-md-6">
              <label class="min-100">
                {{'COMMON.START_TIME' | translate}}
                <!-- {{'BOOKSTANDING_APPT.TIME' | translate}} -->
                <span class="red">*</span>
              </label>
              <select class="select-align select-new-trans" [(ngModel)]='bookStandingTime'
                (click)="clearErrorMsg();clearAppts();" style="max-width:110px; width:100%;">
                <option value="">--None--</option>
                <option *ngFor="let time of TimeData" [selected]="time == bookStandingTime">{{time}}</option>
              </select>
            </div>
          </div>
          <div class="row clearfix mb-20">
            <div class="col-sm-12 col-md-12">
              <label class="min-100">Book {{'BOOKSTANDING_APPT.EVERY' | translate}}</label>
              <select class="align-select select-new-trans max-110 f-none m-l-0" [(ngModel)]='bookEvery'
                (click)="clearAppts();calculateEndDate();">
                <option *ngFor='let data of bookEveryData'>{{ data.value }}</option>
              </select>
              <select class="align1-select select-new-trans m-l-10 max-110 f-none" [(ngModel)]='bookEvery1'
                (click)="clearAppts();calculateEndDate();">
                <option *ngFor='let data1 of everyData'>{{ data1.type }}</option>
              </select>
            </div>
          </div>
          <div class="row clearfix mb-20">
            <div class="col-md-12">
              <hr class="wt-line mt-10 mb-10">
            </div>
          </div>
          <div class="row clearfix mb-50">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-border-0 form_cont_one m-0">
                  <tbody>
                    <tr *ngFor="let row of rows; let i=index">

                      <td class="pl-0">
                        <select class="select-new-trans" id='ExpworkerIds' [(ngModel)]="row.fullWorker"
                          (change)="expressService($event.target.value, i, true); clearAppts();" style="width:100%;">
                          <option *ngFor="let workers of getWorker" value='{{workers.workerId}}${{workers.workerName}}'>
                            {{workers.names}} </option>
                        </select>
                      </td>
                      <td>
                        <select class="select-new-trans" [(ngModel)]="row.serviceId" id="listServices"
                          (change)="listServices($event.target.value ,i ); clearAppts();" style=" width:100%;">
                          <option id="amountDuration" *ngFor="let express of bookingExpress[i]"
                            [value]="express.serviceId">{{express.Name}}</option>
                        </select>
                      </td>

                      <td class="va-m text-center">
                        <a (click)="addServices(index)" *ngIf='rows.length < 6' data-toggle="tooltip"
                          data-placement="top" title="" data-original-title="Add">
                          <img src="../../assets/images/plus-new.png" alt="close" width="20">
                        </a>
                      </td>
                      <td class="va-m text-center" *ngIf="rows.length>1">
                        <a (click)="removeServices(i)" data-toggle="tooltip" data-placement="top" title=""
                          data-original-title="Remove">
                          <img src="../../assets/images/close-new.png" alt="close" width="20">
                        </a>
                      </td>
                      <!-- <td>
                                <span title="{{row.desc}}" *ngIf="row.desc">
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </span>
                              </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row clearfix mb-20">
            <div class="col-md-8">
              <div class="mb-30">
                <label>{{'BOOKSTANDING_APPT.CLIENT_NOTES' | translate}}</label>
                <p *ngIf="clientNotes">
                  {{clientNotes}}
                </p>
              </div>
              <textarea class="w90 form-text" maxlength="500" [(ngModel)]="bookStandingText"></textarea>

            </div>
            <div class="col-md-4">
              <div class="mb-40">
                <label> {{serviceDurations}} : Mins</label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary btn-new-wt big-btn" *ngIf="searchBtn"
                  (click)="searchAppointmentData()">
                  {{'BUTTON.SEARCH' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 ">
          <div class="mb-20 text-center">
            <button type="button" class="btn btn-new-wt big-btn mr-5 mb-5" *ngIf="appointmentData.length!==0"
              (click)="showpopUp('false')">{{'BUTTON.BOOK_ALL' | translate}}</button>
            <!-- && !scheduleAvailableButton -->
            <button type="button" class="btn btn-new-lgt-trans big-btn mb-5" *ngIf="appointmentData.length!==0"
              (click)="showpopUp('true')">{{'BUTTON.BOOK_AVAILABLE' | translate}}</button>
            <!-- && scheduleAvailableButton -->
            <button type="button" class="btn btn-new-blue big-btn mr-5 mb-5" *ngIf="appointmentData.length!==0"
              [routerLink]="['/appointments']">{{'BUTTON.CANCEL' | translate}}</button>
          </div>
          <div class="mb-20">
            <div class="table-responsive">
              <table class="table table-border-0 table-bg-trans form_cont_one">
                <thead>
                  <tr>
                    <!-- <th class="thcss">{{'BOOKSTANDING_APPT.DATE' | translate}}</th> -->
                    <th class="thcss">
                      <!-- {{'COMMON.START' | translate}} -->
                      {{'COMMON.SEARCH_RESULTS' | translate}}
                    </th>
                    <th class="thcss text-right">{{'COMMON.STATUS' | translate}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="appointmentData.length > 0 && showMore==false">
                  <tr *ngFor="let bookoutData of  appointmentData.slice(0,10); let i='index'">
                    <td>{{bookoutData[0].displayDate[0] | date: 'EEEE MMMM d y' }}</td>
                    <!-- <td>{{bookStandingTime}}</td> -->
                    <td class="text-right">{{bookoutData|status}} {{resStatus[bookoutData[0].displayDate[0]]}}</td>
                    <!-- <td *ngIf=<td>{{bookoutData|status}}{{bookoutData.Status__c}}</td> -->
                    <!-- <td class="text-right" *ngIf="bookoutData[0].Status__c !== 'Booked'">{{bookoutData|status}} {{resStatus[bookoutData[0].displayDate[0]]}}
                    </td> -->
                  </tr>
                </tbody>
                <tbody *ngIf="appointmentData.length > 0 && showMore==true">
                  <tr *ngFor="let bookoutData of  appointmentData; let i='index'">
                    <td>{{bookoutData[0].displayDate[0] | date: 'EEEE MMMM d y'}}</td>
                    <!-- <td>{{bookStandingTime}}</td> -->
                    <td class="text-right">{{bookoutData|status}} {{resStatus[bookoutData[0].displayDate[0]]}}</td>
                    <!-- <td *ngIf=<td>{{bookoutData|status}}{{bookoutData.Status__c}}</td> -->
                    <!-- <td class="text-right" *ngIf="bookoutData[0].Status__c !== 'Booked'">{{bookoutData|status}} {{resStatus[bookoutData[0].displayDate[0]]}}
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <button *ngIf="appointmentData.length>10 && showMore == false" (click)="moreAppointments();"
                style="color:black">{{'BUTTON.MORE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
















    <!-- <div class="container form_cont">
      <div class="row">
        <div class="col-md-6" id="box-align">
          <div class="appt-box">
            <h1 class="sub_titles">{{'BOOKSTANDING_APPT.SERVICES' | translate}}</h1>

            <div class="mt-20">
              <div class="col-md-12">
                <label>{{'BOOKSTANDING_APPT.ADD_OR_REMOVE_SERVICES' | translate}}</label>
              </div>
            </div>
            <div class="mt-20">
              <div class="col-md-12" id="padding-align">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered form_cont_one">
                    <tbody>
                      <tr *ngFor="let row of rows; let i=index">
                        <td>
                          <select style="width:90%;" [(ngModel)]="row.serviceGroupName"
                            (change)="categoryOfService($event.target.value, i)" (click)="clearErrorMsg()">
                            <option *ngFor="let groupData of serviceGroupList; let i='index'"
                              value="{{groupData.serviceGroupName}}${{groupData.serviceGroupColor}}"
                              id="groupData{{i}}">{{groupData.serviceGroupName}}</option>
                          
                            <option value="-" disabled="disabled">--- Packages ---</option>
                            <option *ngFor="let packageName of packageGroupList; let i='index'"
                              value="scale:{{packageName.Id}}" id="packageName{{i}}">{{packageName.Name}}</option>
                          </select>
                        </td>
                        <td>
                          <select style="width:90%;" [(ngModel)]="row.Id"
                            (change)="servicesListOnChange($event.target.value, i)" (click)="clearErrorMsg()">
                            <option value="">--select--</option>
                            <option *ngFor="let serviceData of serviceDetailsList[i]; let i='index'"
                              [value]="serviceData.Id" id="serviceData{{i}}">{{serviceData.Name}}</option>

                          </select>
                        </td>
                        <td>
                          <select style="width:90%;" [(ngModel)]="row.workerName"
                            *ngIf='workerList[i]?workerList[i].length>0:false'
                            (change)="workerListOnChange($event.target.value,i)" (click)="clearErrorMsg()">
                            <option *ngFor="let workerData of workerList[i]; let i='index'"
                              value="{{workerData.workername}}" id="serviceData{{i}}">{{workerData.name}}</option>
                          </select>
                        </td>
                        <td>
                          <a (click)="addServices(index)" data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Add">
                            <span class="add">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </a>
                        </td>
                        <td>
                          <a *ngIf="rows.length>1" (click)="removeServices(i)" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Remove">
                            <span class="del">
                              <i class="fa fa-minus" aria-hidden="true"></i>
                            </span>
                          </a>
                        </td>
                        <td>
                          <span title="{{row.desc}}" *ngIf="row.desc">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div>
              <div class="col-md-12">
                <label>{{'BOOKSTANDING_APPT.TOTAL_SERVICE_DURATION' | translate}}:{{sumOfServiceDurations}} {{'BOOKSTANDING_APPT.MINUTES'
                  | translate}} </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="appt-box" id="align-box">
            <h1 class="sub_titles" id="text-align">{{'BOOKSTANDING_APPT.APPOINTMENT_START_DATE_AND_TIME' | translate}}
            </h1>
            <div class="mt-20">
              <div class="col-md-10">
                <label>{{'COMMON.START_DATE' | translate}}
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-md-10">
                <input type="text" (ngModelChange)="getWorkersFromDate()" [(ngModel)]="bsValue" bsDatepicker
                  [(bsValue)]="bsValue" class="datefield" [minDate]="minDate" (click)="clearErrorMsg();clearAppts();"
                  [bsConfig]="datePickerConfig" />
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-20">
              <div class="col-md-10">
                <label>{{'BOOKSTANDING_APPT.TIME' | translate}}
                  <span class="red">*</span>
                </label>
              </div>
              <div class="col-md-10">
                <select class="select-align" [(ngModel)]="bookStandingTime" (click)="clearErrorMsg();clearAppts();">
                  <option>--None--</option>
                  <option *ngFor="let time of TimeData">{{time}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="appt-box">
            <h1 class="sub_titles">{{'BOOKSTANDING_APPT.BOOK' | translate}}</h1>
            <div class="mt-20">
              <div class="col-md-12 ">
                <label>{{'BOOKSTANDING_APPT.NUMBER_OF_APPOINTMENTS' | translate}}</label>
              </div>
              <div class="col-md-12">
                <select style="width:40%;" [(ngModel)]="numberOfBookStandings"
                  (click)="clearAppts();calculateEndDate();">
                  <option *ngFor="let number of numberOfBooks">{{number.availability}}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-20">
              <div class="col-md-12">
                <label>{{'BOOKSTANDING_APPT.EVERY' | translate}}</label>
              </div>
              <div class="">
                <select class="align-select" [(ngModel)]='bookEvery' (click)="clearAppts();calculateEndDate();">
                  <option *ngFor='let data of bookEveryData'>{{ data.value }}</option>
                </select>
              </div>
              <div class="">
                <select class="align1-select" [(ngModel)]='bookEvery1' (click)="clearAppts();calculateEndDate();">
                  <option *ngFor='let data1 of everyData'>{{ data1.type }}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-20">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" (click)="searchAppointmentData()">
                  <i class="fa fa-binoculars" aria-hidden="true"></i> {{'BUTTON.SEARCH' | translate}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          {{'BOOKSTANDING_APPT.THESE_OPTINS_END_DATE_OF' | translate}} &nbsp;{{ apptEndDate | date:'MM/dd/yyyy'}}
          {{bookStandingTime}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="box-align">
          <div class="appt-box">
            <h1 class="sub_titles"> {{'BOOKSTANDING_APPT.APPOINTMENT_DETAILS' | translate}}</h1>

            <div class="mt-20">
              <div class="col-md-12">
                <label>{{'BOOKSTANDING_APPT.CLIENT_NOTES' | translate}}</label>
              </div>
              <div class="col-md-12">
                &nbsp;
              </div>
            </div>
            <div class="mt-20">
              <div class="col-md-12">
                <label>
                  {{'BOOKSTANDING_APPT.VISIT_TYPE' | translate}}</label>
              </div>
              <div class="col-md-12">
                <select [(ngModel)]="bookStandingVisitType" (change)="onVisitTypeChange($event.target.value)">
                  <option value=''>--None--</option>
                  <option *ngFor="let listData of visitTypesList; let i='index'" value="{{listData.visitType}}"
                    id="listData{{i}}">{{listData.visitType}}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-20">
              <div class="col-md-12">
                <label>{{'BOOKSTANDING_APPT.APPOINTMENT_NOTES' | translate}}</label>
              </div>
              <div class="col-md-12">
                <textarea class="w90" [(ngModel)]="bookStandingText"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="appt-box" id="height-align">
            <h1 class="sub_titles">{{'BOOKSTANDING_APPT.APPOINTMENT_SEARCH_RESULTS' | translate}}</h1>
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-bordered form_cont_one">
                  <thead>
                    <tr>
                      <th class="thcss">{{'BOOKSTANDING_APPT.DATE' | translate}}</th>
                      <th class="thcss">{{'COMMON.START' | translate}}</th>
                      <th class="thcss">{{'COMMON.STATUS' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="appointmentData.length!==0">
                    <tr *ngFor="let bookoutData of  appointmentData; let i='index'">

                      <td>{{bookoutData[0].displayDate[0]}}</td>
                      <td>{{bookStandingTime}}</td>
                      <td>{{bookoutData|status}} {{resStatus[bookoutData[0].displayDate[0]]}}
                   
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-40">
        <div class=" col-md-12 text-center">
          <button type="button" class="save-btn" *ngIf="appointmentData.length!==0 && !scheduleAvailableButton"
          (click)="showpopUp()">{{ 'BUTTON.SCHEDULE_ALL_DATES'| translate}}</button>
          <button type="button" class="save-btn" *ngIf="appointmentData.length!==0 && scheduleAvailableButton"
            (click)="showpopUp()">{{ 'BUTTON.SCHEDULE_AVAILABLE'| translate}}</button>
          <button type="button" class="cancel-btn"
            [routerLink]="['/appointments']">{{'BUTTON.CANCEL' | translate}}</button>
        </div>
      </div>
    </div> -->
  </section>
  <app-rightbar></app-rightbar>
</div>

<!-- ----------------------popup--------- -->
<div bsModal #serviceNotesModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="width: 590px;">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" (click)="closeServiceNotesModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> -->
      </div>
      <table>
        <tbody>
          <tr>
            <td style="padding: 10px;">
              <img src="assets/images/declinedIcon.png">
            </td>
            <td>
              There is a booking alert for this client.
            </td>
          </tr>
        </tbody>
      </table>
      <label style="margin: 0px 12px;">{{clientData?.FirstName+' '+clientData?.LastName}} has a booking alert for the
        following reason(s):</label>
      <table style="margin-left:100px">
        <tbody>
          <tr *ngIf="clientData?.BR_Reason_No_Email__c === 1">
            <td>
              <label>No Email</label>
            </td>
          </tr>
          <tr *ngIf="clientData?.BR_Reason_Account_Charge_Balance__c === 1">
            <td>
              <label>Account Charge Balance</label>
            </td>
          </tr>
          <tr *ngIf="clientData?.BR_Reason_Deposit_Required__c === 1">
            <td>
              <label>Deposit Required</label>
            </td>
          </tr>
          <tr *ngIf="clientData?.BR_Reason_No_Show__c === 1">
            <td>
              <label>Persistant No Show</label>
            </td>
          </tr>
          <tr *ngIf="clientData?.BR_Reason_Other__c === 1">
            <td>
              <label>Other</label>
            </td>
          </tr>
        </tbody>
      </table>
      <label style="margin: 0px 12px;" *ngIf="clientData?.BR_Reason_Other_Note__c">Notes :
        {{clientData?.BR_Reason_Other_Note__c}}</label>
      <div class="modal-footer">
        <table>
          <tbody>
            <tr>
              <td>
                <button class="save-btn" (click)="bookAnyWay()"
                  *ngIf="clientData?.Booking_Restriction_Type__c !== 'Do Not Book'"> Book Anyway</button>
                <button type="button" class="cancel-btn"
                  [routerLink]="['/appointments']">{{clientData?.Booking_Restriction_Type__c === 'Do Not Book'?'Ok':'Don\'t Book'}}</button>
                <a *ngIf='clientId' [routerLink]="['/client/edit/' + clientId]" [queryParams]="{action:'bookstanding'}"
                  class="btn btn-default mb-5">
                  <i class="fa fa-pencil"></i> Go To Full Client Card</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- Notification model-->
<div bsModal #notificationModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" style="width: 590px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeNotifyModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="border-radius: 10px;">
        <p class="para-align">Would you like to email a list of the Standing Appointments?</p>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
          <div class="col-md-2 col-sm-2 text-right">&nbsp;</div>
          <div class="col-md-8 col-sm-8 text-left">
            <input type="text" style="border-color: black; width: 100%;" [(ngModel)]="cliEmail"
              (click)="clearErrorMsg();" (keypress)="clearErrorMsg();">
            <p class="red">{{cliEmailErr | translate }}</p>
          </div>
        </div>
      </div>
      <div class="text-center mt-40 mb-10">
        <button type="button" style="background-color: grey;" class="btn btn-secondary"
          (click)="sendNotification(false)"><span class="btn-style">Go To Appt Book</span></button>
        <button type="button" style="background-color: #4bc45b;" class="btn btn-success"
          (click)="sendNotification(true)"><span class="btn-style">Send</span></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>