<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"(emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="col-md-12">
                <p class="red mb-0"> {{error}} </p>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENT_RETENTION.RETENTION_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.retentionType" (change)="clear()">
                        <option [value]="'New'">{{'VISIT_TYPE_OVERVIEW.NEW_CLIENTS' | translate }}</option>
                        <option [value]="'Recurring'">{{'VISIT_TYPE_OVERVIEW.RECURRING_CLIENTS' | translate }}</option>
                    </select>

                </div>
                <div class="col-md-12 mt-10">
                    <p>
                        <i>{{'CLIENT_RETENTION.NEW_CLIENT_RETENTION_DETAIL' | translate }}</i>
                    </p>
                    <p>
                        <i>{{'CLIENT_RETENTION.RECURRING_CLIENT_RETENTION_DETAIL' | translate }}</i>
                    </p>
                    <p>
                        <i>{{'CLIENT_RETENTION.RETENTION_VISIT_DESCRIPTION' | translate }}</i>
                    </p>
                </div>
            </div>
            <!-- <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue1 | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue1" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div> -->
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.BEGIN_DATE' | translate}}</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input class="datefield" type="text" [maxDate]="reportAnalysis.endDate" [(ngModel)]="reportAnalysis.startDate" bsDatepicker
                        (ngModelChange)="clear()" [(bsValue)]="reportAnalysis.startDate" [bsConfig]="datePickerConfig">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.END_DATE' | translate}}</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-7 col-sm-8" [ngClass]="{'disabled':!reportAnalysis.startDate}">
                    <input class="datefield" type="text" [minDate]="reportAnalysis.startDate" [disabled]="!reportAnalysis.startDate" (ngModelChange)="clear()"
                        [(ngModel)]="reportAnalysis.endDate" [maxDate]="maxDate" bsDatepicker [(bsValue)]="reportAnalysis.endDate" [bsConfig]="datePickerConfig">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENT_RETENTION.NUMBER_OF_VISITS_REQUIRED' | translate }}</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="number" [(ngModel)]="reportAnalysis.noOfVisits" [attr.value]="numberOfVisit" [min]="1" [step]="1" (input)="clear()" (keypress)="isNumeric($event);"
                        (paste)="false">
                </div>
            </div>
            <!-- <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select>
                        <option>Company</option>
                        <option>Worker</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select disabled>
                        <option>select worker</option>
                        <option></option>
                    </select>
                </div>
            </div> -->
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }} </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.type" (change)="selectReportsType($event.target.value);clear()">
                        <option [value]="'Company'">{{'HEADER.COMPANY' | translate }}</option>
                        <option [value]="'Worker'">{{'COMMON.WORKER' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.WORKER' | translate }} </label>
                </div>
                <div class="col-md-7 col-sm-8" [ngClass]="{'disabled':reportAnalysis.type === 'Company'}">
                    <select [disabled]="reportAnalysis.type === 'Company'" (change)="clear();selectWorker();" [(ngModel)]="reportAnalysis.worker">
                        <option [value]="''">{{'CLIENT_RETENTION.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList" [value]='worker.Id'>{{worker.FirstName+' '+ worker.LastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
            <hr />
            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12 text-center mt-20" *ngIf="clientsList.length === 0">
                    <b> {{'CLIENT_RETENTION.NO_RECORDS_FOUND' | translate}}</b>
                </div>
                <ng-container *ngIf="clientsList.length > 0">
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{companyName }}</th>
                                            <th class="thcss">{{cliType}} {{reportAnalysis.type}}
                                                <br> {{'CLIENT_RETENTION.NUMBER_OF_VISITS' | translate}} {{reportAnalysis.noOfVisits}}</th>
                                            <th class="thcss"> {{reportAnalysis.startDate|date:'MM/dd/yyyy'}} - {{reportAnalysis.endDate|date:'MM/dd/yyyy'}}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'CLIENT_RETENTION.RETENTION_RATE' | translate }}</th>
                                            <th class="thcss"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{'CLIENT_RETENTION.TOTAL_CLIENTS' | translate }}</td>
                                            <td>{{this.clientRetentionData['Total_Recurring_Visits']}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'CLIENT_RETENTION.TOTAL_RETAINED' | translate }}</td>
                                            <td>{{clientRetentionData['Total_Retained']}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'CLIENT_RETENTION.PERCENTAGE_RETAINED' | translate }}</td>
                                            <td>{{clientRetentionData['Percent_Retained']}}%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.CLIENT_NAME' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.FIRST_VISIT' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.LAST_VISIT' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.NUMBER_OF_VISITS_AFTER_BEGIN_DATE' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.NUMBER_OF_WORKERS_SEEN' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.AVERAGE_NUMBER_OF_DAYS_BETWEEN_VISITS' | translate }}</th>
                                            <th class="thcss"> {{'CLIENT_RETENTION.NUMBER_OF_DAYS_SINCE_LAST_VISIT' | translate }}</th>
                                            <th class="thcss">{{'CLIENT_RETENTION.RETAINED' | translate }} </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of clientsList">
                                            <td>{{client.clientName}}</td>
                                            <td>{{client.firstVisitDate|date:'MM/dd/yyyy'}}</td>
                                            <td>{{client.lastVisitDate|date:'MM/dd/yyyy'}}</td>
                                            <td>{{client.numVisitsAfterStartDate}}</td>
                                            <td>{{client.numWorkersSeen}} </td>
                                            <td>{{client.averageDaysBetweenVisits}}</td>
                                            <td>{{client.numDaysSinceLastVisit | number}}</td>
                                            <td>
                                                <input type="checkbox" [checked]="client.isRetained" disabled />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>