<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont">
			<div class="row mt-20">
				<div>
					<p class='red'>{{error | translate}}</p>
				</div>
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'COMMON.APPOINTMENT_DATE_TIME' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{appointmentDate[0]}} {{appointmentDate[1]}}
					<!-- {{appointmentDate | date: 'MM/dd/yyyy h:mm a'}} -->
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'COMMON.DURATION' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{apptData.aptDuration}} mins.
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'COMMON.STATUS' | translate}}</label>
				</div>
				<div style="text-align: left" class="col-md-7 col-sm-8 text-right res-tleft">
					<select class="appointment-select-width" [(ngModel)]="apptData.apstatus"
						(change)="setStatusList(apptData.apstatus)" style="display:inline">
						<option *ngFor="let apptStatus of apptStatus" value="{{apptStatus.status}}">
							{{apptStatus.status}} </option>
					</select>
					<input type="text" style="width:50px" [ngStyle]="statusColor" disabled>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'CLIENTS.NOTES' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<textarea maxlength="500" [(ngModel)]="apptData.notes">{{apptData.notes}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-25">
					<h1 class="sub_titles">Worker</h1>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'WORKER_GOALS.SELECT_WORKER' | translate}}:</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<select [(ngModel)]="workerName" (click)="clearErrorMsg()"
						(change)="workerListOnChange($event.target.value)">
						<option *ngFor="let workerList of workerList; let i='index'" value="{{workerList.Id}}">
							{{workerList.FullName}}</option>
						<!-- [selected]="workerList.FullName == workerId" -->
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-25">
					<h1 class="sub_titles">Start Date and Time</h1>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'SETUP_COMPANY_HOURSE.DATE' | translate}}:</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<input class="datefield" type="text" [minDate]="minDate" [(ngModel)]="bsValue" bsDatepicker
						[(bsValue)]="bsValue" [bsConfig]="datePickerConfig" />
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'SETUP_COMPANY_HOURSE.START_TIME' | translate}}:</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<!-- <select [(ngModel)]="startTime" (click)="clearErrMsg()">
						<option *ngFor="let time of TimeData" [selected]="time == startTime">{{time}}</option>
					</select> -->
					<select #times [(ngModel)]="startTime" (click)="clearErrMsg()">
						<option [value]="timeStartTime">{{appointmentDate[1]}}</option>
						<option *ngFor="let time of TimeData" [value]="time">{{time}}</option>
					</select>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'SETUP_COMPANY_HOURSE.END_TIME' | translate}}:</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<!-- <select [(ngModel)]="endTime" (click)="clearErrMsg()">
						<option *ngFor="let time of TimeData" [selected]="time == endTime">{{time}}</option>
					</select> -->
					<select #times [(ngModel)]="endTime" (click)="clearErrMsg()">
						<option [value]="timeEndTime">{{endbsValue[1]}}</option>
						<option *ngFor="let time of TimeData" [value]="time">{{time}}</option>
					</select>
				</div>
			</div>
			<hr />
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.BOOKOUT_START_DATE' | translate}} </label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{appointmentDate[0]}} {{appointmentDate[1]}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.BOOKOUT_END_DATE' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{ appointmentEndDate[0]}} {{ appointmentEndDate[1]}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.WORKERS' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{apptData.workers}}
				</div>
			</div>
			<hr />
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.CREATED_DATE' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{ createdDate[0]}} {{ createdDate[1]}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.LAST_MODIFIED_DATE' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{ modifiedDate[0]}} {{ modifiedDate[1]}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.CREATED_BY' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{apptData.CreatedUser}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'BOOKOUTDETAIL.LAST_MODIFIED_BY' | translate}}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					{{apptData.modifiedUser}}
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					&nbsp;
				</div>
				<div class="col-md-7 col-sm-8">
					<button type="button" class="save-btn"
						(click)="bookOutDetail()">{{'BUTTON.SAVE' | translate}}</button>
					<button type="button" class="cancel-btn"
						(click)="cancelBookoutDetails()">{{'BUTTON.CANCEL' | translate}}</button>
					<button type="button" class="delete-btn"
						(click)="opencancelModal()">{{'BOOKOUTDETAIL.DELETE_ALL' | translate}}</button>
				</div>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{ show: false, backdrop: 'static', keyboard: false}"
	tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
	<div class="modal-dialog modal-sm" style="width: 590px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="staticModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="border-radius: 10px;">
				<p class="para-align">Would you like to delete this and future appointments associated to this book out
					time for one worker ({{wName}}) or all workers?</p>
			</div>
			<div class="text-center mt-20 mb-10">
				<button type="button" style="background-color: #267731;" class="btn btn-success"
					(click)="cancelAppts('single')"><span
						class="btn-style">{{'BOOKOUTDETAIL.ONE_WORKER' | translate}}</span></button>
				<button type="button" style="background-color: #4bc45b;" class="btn btn-success"
					(click)="cancelAppts('multiple')"><span
						class="btn-style">{{'BOOKOUTDETAIL.ALL_WORKER' | translate}}</span></button>
				<button type="button" style="background-color: grey;" class="btn btn-secondary"
					(click)="staticModal.hide()"><span
						class="btn-style">{{'MY_ACCOUNT.GO_BACK' | translate}}</span></button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>