<div class="signup-maindiv">
  <div class="signup-middle">
    <img src="assets/images/logo.png" class="signup-logo" />
  </div>
  <div class="signup-caption">
    Thank you for your interest in a Free Trial!
  </div>
  <div class="head-large mb-10 mt-10 text-uppercase">
    About You
  </div>
  <div class="staff-cont-rgt col-xs-12 col-sm-12 col-md-12 form-new">
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <input class="form-control" [(ngModel)]="firstName" maxlength="14" type="text" placeholder="Business Owner First Name *">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <input class="form-control" [(ngModel)]="lastName" maxlength="25" type="text" placeholder="Business Owner Last Name *">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <input class="form-control" [(ngModel)]="email" maxlength="50" type="email" placeholder="Email *">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <div class="input-group form-input-group-list">
        <span class="input-group-addon" style="width: 11%; padding: 0px 0px;">
          <input type="text" placeholder="Code" maxlength="3" [(ngModel)]="countryCode" style="margin-bottom:-2px;border-bottom-color: white!important;"
            disabled>
        </span>
        <input autocomplete="off" class="form-control" [(ngModel)]="phone" type="text" placeholder="Phone *" maxlength="13"
          id="mobile_id1" (keypress)='hyphen_generate_mobile1(phone)' 
          onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;">
      </div>
      <p class="country_Code" style="color: white;"> Country Code </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <input class="form-control" [(ngModel)]="companyName" maxlength="50" type="text" placeholder="Company Name *">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <select class="form-control signup-options" [(ngModel)]="timeZone" style="text-align-last: center;">
        <option value=''>Time zone *</option>
        <option *ngFor="let time of getTimezones let i='index'" value="{{time}}">{{time}} </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <select class="form-control signup-options" [(ngModel)]="country" style="text-align-last: center;"
        (change)="getStates($event.target.value);">
        <option value="">Country *</option>
        <option *ngFor="let mailingcountrieslist of allCountry; let i='index'" value="{{mailingcountrieslist.NAME}}" id="profilePage_timezone_select_option_{{i}}">{{mailingcountrieslist.NAME}}</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <select class="form-control signup-options" [(ngModel)]="mailingState" style="text-align-last: center;">
        <option value="">State</option>
        <option *ngFor="let stateslist of statesList; let i='index'" value="{{stateslist.STATE}}" id="profilePage_timezone_select_option_{{i}}">{{stateslist.STATE}}</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <div class="input-group form-input-group-list">
        <input class="form-control" [(ngModel)]="password" type="{{passwordType1}}" placeholder="Password *" maxlength="50">
        <span class="input-group-addon">
          <span class="glyphicon {{glyphiconClass1}} setworkdtl-show-password" (click)="togglePassword(1);" *ngIf="password && password.length > 0"></span>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <div class="input-group form-input-group-list">
        <input class="form-control" [(ngModel)]="confirmPassword" type="{{passwordType2}}" placeholder="Confirm Password *"
          maxlength="50">
        <span class="input-group-addon">
          <span class="glyphicon {{glyphiconClass2}} setworkdtl-show-password" (click)="togglePassword(2);" *ngIf="confirmPassword && confirmPassword.length > 0"></span>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <input class="form-control" [(ngModel)]="key" type="key" placeholder="Key *" maxlength="5" (keypress)="numOnly($event)">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
      <select class="form-control signup-options" [(ngModel)]="package" style="text-align-last: center;">
        <option value="">Package *</option>
        <option value="Indie">Indie</option>
        <option value="Basic">Basic</option>
        <option value="Enhanced">Enhanced</option>
      </select>
    </div>
  </div>
  <button class="btn btn-gradient-txt btn-align" (click)="signupData()">
    <i class="fa fa-check" style="color: #3d6adc;"></i> <span style="font-size: 17px">SIGN UP</span>
  </button>
  <div class="col-xs-12 col-sm-12 col-md-6 form-group signup-font-white">
    * These fields are required&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="signup-a" href="https://stxsoftware.com/privacy-policy/" target="_blank">Privacy Policy</a>
  </div>
</div>