<div id="bgOnline"></div>
<div class="olb-main">
    <div class="olb-main-in minh-100 wt-clr">


        <div class="text-center" *ngIf='!mainDiv'>
            <div class="mb-20 mt-20 egift-name-email text-center" *ngIf='!error'>
                <p class="mb-20">{{ 'ONLINE_GIFT.THANK_YOU_FOR_YOUR_PURCHASE' | translate }}</p>
                <p>{{giftAmount | currency: "USD": "symbol-narrow"}} eGift - {{giftPurchaseObj.RecipientName}}</p>
                <p>{{ 'ONLINE_GIFT.SEND_TO' | translate }} {{giftPurchaseObj.RecipientEmail}}</p>
            </div>
            <div class="mb-20 mt-20 font-16 text-center" *ngIf='!error'>
                <p class="font-16">{{ 'ONLINE_GIFT.AUTHORIZATION' | translate }} {{authCode}}</p>
            </div>
            <div class="mb-30 mt-20 font-16 text-center" *ngIf='!error'>
                <p class="font-16">{{ 'ONLINE_GIFT.AN_EMAIL_RECEIPT_HAS_BEEN_SEND_TO' | translate }} <br>
                    {{ 'ONLINE_GIFT.PURCHASER_EMAIL' | translate }} </p>
            </div>
            <div class="mt-15 clearfix" *ngIf='error'>
                <div class="text-center">
                    <p class="error-msg-box" *ngIf='error'>{{error | translate}}</p>
                </div>
            </div>

            <!-- <div class="mb-10">
                <a class="olb-lg-br-btn olb-lg-br-btn-large" (click)="gotoRouting('gift')">
                    <span>purchase eGift</span>
                </a>
            </div> -->
            <div class="mb-15 mt-10">
                <a class="olb-lg-br-btn olb-lg-br-btn-large" (click) = "gotoRouting('home')">
                    {{ 'ONLINE_GIFT.HOME' | translate }}</a>
            </div>
        </div>
        <div *ngIf='mainDiv'>
            <div class="home-top" *ngIf="!showPayment">
                <img src="../../../assets/images/home-wt.png" alt="home" width="15" height="13"> <span
                    (click)="reDirectRoute()" class="tbl-txt">{{ 'ONLINE_BOOK.HOME' | translate }}</span>
            </div>
            <div class="home-top-back clearfix mb-20" *ngIf="showPayment">
                <span class="pull-left home-top-back-lft tbl-txt" (click)="directRoute()">
                    < {{ 'ONLINE_BOOK.BACK' | translate }}</span> 
            </div> 
            <div class="pull-right home-top-back-rgt" id="countdownId"></div>
            <div class="text-center" id="deleteErrorApptId"></div>
            

            <div *ngIf="!showPayment">
                <div class="client-logo">
                    <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';"
                        class="signup-logo" />
                </div>
                <!-- <div class="egift-name-email text-center">
                <p>$100.00 eGift - Doc Brown</p>
                <p>send to: docbrown@gmail.com</p>
                    </div>
                <div class="font-12 mb-10 text-center">
                    billing information:
                </div> -->
                <div class="text-center" *ngIf='giftErr'>
                    <p class="error-msg-box"> {{giftErr | translate}} </p>
                </div>

                <div class="clear-fix">

                    <!-- <div class="form-group form-group-olb">
                    <select (change)="amountChange()" class="slect-form-new" [(ngModel)]="giftPurchaseObj.listedAmount">
                        <option *ngFor="let amount of amountList" [value]="amount">{{amount}}</option>
                    </select>
                    <label class="olb-new-label olb-new-label-center text-uppercase">Amount</label>

                </div> -->
                    <div class="mt-10 m-auto w-50">
                        <!--*ngIf="giftPurchaseObj.listedAmount === 'other'"-->
                        <input (input)="clearErr()" maxlength="6" type="text"(keypress)="isNumber($event)" placeholder="" [(ngModel)]="giftAmount"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center text-uppercase">{{ 'COMMON.AMOUNT' | translate }}</label>
                    </div>
                    <!-- <div class="form-group form-group-olb">
                    <select (change)="clearErr()" class="slect-form-new" [(ngModel)]="giftPurchaseObj.deliveryType">
                        <option *ngFor="let type of deliveryTypes" [value]="type">{{type}}</option>
                    </select>
                    <label class="olb-new-label olb-new-label-center text-uppercase">Delivery Type</label>
                </div> -->

                    <div class="form-group form-group-olb">
                        <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.RecipientName"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center text-uppercase">{{ 'ONLINE_GIFT.RECIPIENT_NAME' | translate }}</label>
                    </div>

                    <div class="form-group form-group-olb">
                        <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.RecipientEmail"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_GIFT.EMAIL_TO_SEND_EGIFT_TO' | translate }}</label>
                    </div>

                    <!-- <div class="form-group form-group-olb">
                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.firstname"
                        class="form-control form-control-olb">
                    <label class="olb-new-label olb-new-label-center text-uppercase">Your First Name</label>
                </div>

                <div class="form-group form-group-olb">
                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.lastname"
                        class="form-control form-control-olb">
                    <label class="olb-new-label olb-new-label-center text-uppercase">Your Last Name</label>
                </div> -->

                    <!-- <div class="form-group form-group-olb">
                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.email"
                        class="form-control form-control-olb" />
                    <label class="olb-new-label olb-new-label-center text-uppercase">Your Email</label>
                </div> -->

                    <div class="form-group form-group-olb">
                        <label class="olb-new-label text-uppercase ">{{ 'ONLINE_GIFT.PERSONAL_MESSAGE' | translate }}</label>
                        <textarea (input)="clearErr()"maxlength=500 [(ngModel)]="giftPurchaseObj.PersonalMessage"
                            class="form-control form-control-olb" rows="4"
                            style="border:1px solid #fff !important; height: 100px !important; resize: none;"></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="showPayment">

                <div class="egift-name-email text-center">
                    <p>{{giftAmount | currency: "USD": "symbol-narrow"}} eGift - {{giftPurchaseObj.RecipientName}}</p>
                    <p>{{ 'ONLINE_GIFT.SEND_TO' | translate }} {{giftPurchaseObj.RecipientEmail}}</p>
                </div>
                <div class="font-12 mb-10 text-center">
                    {{ 'ONLINE_GIFT.BILLING_INFORMATION' | translate }}
                </div>

                <div class="clearfix">
                    <div class="mt-15 clearfix">
                        <div class="text-center">
                            <p class="error-msg-box" *ngIf='PckgError'>{{PckgError | translate}}</p>
                            <!-- <p class="error-msg-box" *ngIf='error'>{{error | translate}}</p> -->
                        </div>
                    </div>

                    <div class="form-group form-group-olb">
                        <input type="text" [(ngModel)]="clientFstName" (keyup)="clearErr()" (click)=" clearErr()"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_GIFT.CARDHOLDER_FIRST_NAME' | translate }}</label>
                    </div>
                    <div class="form-group form-group-olb">
                        <input type="text" [(ngModel)]="clientLstName" (keyup)="clearErr()" (click)=" clearErr()"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_GIFT.CARDHOLDER_LAST_NAME' | translate }}</label>
                    </div>
                    <div class="form-group form-group-olb">
                            <input type="text" [(ngModel)]="cardHolderEmail" (keyup)="clearErr()" (click)=" clearErr()"
                                class="form-control form-control-olb">
                            <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_GIFT.CARDHOLDER_EMAIL' | translate }}</label>
                        </div>

                    <!-- <div class="form-group form-group-olb">
                            <input type="text" [(ngModel)]="MailingPostalCode" (keyup)="getLocation();clearErr()"
                                (click)=" clearErr()" class="form-control form-control-olb">
                            <label class="olb-new-label olb-new-label-center">Mailing Zip/Postal Code</label>
                        </div> -->

                    <!-- <div class="form-group form-group-olb">
                        <select [(ngModel)]="mailingCountry" class="slect-form-new" (keyup)="clearErr()"
                            (click)=" clearErr()" (change)="getCountry($event.target.value);">
                            <option value="">{{'CLIENTS.COUNTRY' | translate}}</option>
                            <option *ngFor="let mailingcountrieslist of mailingCountriesList; let i='index'"
                                value="{{mailingcountrieslist.NAME}}" id="profilePage_timezone_select_option_{{i}}">
                                {{mailingcountrieslist.NAME}}
                            </option>
                        </select>
                        <label class="olb-new-label olb-new-label-center">Mailing Country</label>
                    </div> -->

                    <!-- <div class="form-group form-group-olb">
                        <select [(ngModel)]="mailingState" class="slect-form-new" (keyup)="clearErr()"
                            (click)=" clearErr()">
                            <option value="">{{'CLIENTS.STATES' | translate}}</option>
                            <option *ngFor="let stateslist of statesList; let i='index'" value="{{stateslist.STATE}}"
                                id="profilePage_timezone_select_option_{{i}}">
                                {{stateslist.STATE}}</option>
                        </select>
                        <label class="olb-new-label olb-new-label-center">Mailing State/Province</label>
                    </div> -->

                    <!-- <div class="form-group form-group-olb">
                        <input type="text" [(ngModel)]="mailingCity" (keyup)="clearErr()" (click)=" clearErr()"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">Mailing City</label>
                    </div>

                    <div class="form-group form-group-olb">
                        <input type="text" [(ngModel)]="mailingStreet" (keyup)="clearErr()" (click)=" clearErr()"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">Mailing Street</label>
                    </div> -->




                    <!-- <div class="form-group form-group-olb">
                        <select [(ngModel)]="cardType" class="slect-form-new" (keyup)="clearErr()" (click)=" clearErr()"
                            (change)="changeCard($event.target.value);">
                            <option value="">--Select Card--</option>
                            <option *ngFor="let card of cardTypes; let i='index'" value="{{card.Id}}">
                                {{card.Name}}</option>
                        </select>
                        <label class="olb-new-label olb-new-label-center">Card Type</label>
                    </div> -->


                    <div class="form-group form-group-olb">
                        <input type="text" [(ngModel)]="cardNumber" (keyup)="clearErr()" (click)=" clearErr()"
                            class="form-control form-control-olb">
                        <label class="olb-new-label olb-new-label-center">{{ 'CREATE_TOKEN.CARD_NUMBER' | translate }}</label>
                        <!-- <span>**No Dashes or Spaces </span> -->
                    </div>

                    <div class="clearfix row">
                        <div class="col-xs-6">
                            <div class="form-group form-group-olb">
                                <input type="text" [(ngModel)]="cvv" (keyup)="clearErr()" (click)=" clearErr()"
                                    class="form-control form-control-olb">
                                <label class="olb-new-label olb-new-label-center">{{ 'CREATE_TOKEN.CVV' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group form-group-olb">   <!--getLocation()-->
                                <input type="text" [(ngModel)]="MailingPostalCode" (keyup)="clearErr()"
                                    (click)=" clearErr()" class="form-control form-control-olb">
                                <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_GIFT.POSTAL_CODE' | translate }}</label>
                            </div>
                        </div>
                    </div>



                    <div class="row clearfix mt-10">
                        <div class="col-md-4 col-sm-4 text-right ">
                            <label class="font-12 text-uppercase">{{ 'ONLINE_GIFT.CREDIT_CARD_EXPIRATION' | translate }}
                                &nbsp;{{ 'ONLINE_GIFT.DATE' | translate }}</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <select class="crt-tkn-select" class="slect-form-new" (keyup)="clearErr()"
                                (click)=" clearErr()" [(ngModel)]="expMonth" (click)="clearErr()">
                                <option *ngFor="let month of monthList; let i='index'" value="{{i+1}}">{{month}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <select class="crt-tkn-select" class="slect-form-new" [(ngModel)]="expYear"
                                (click)="clearErr()">
                                <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                            </select>
                        </div>
                        <!-- <div class="align-center">
                                <p class="red">{{error | translate}}</p>
                            </div> -->
                    </div>
                </div>

            </div>


            <div class="mt-20 text-center">
                <a *ngIf="!showPayment" class="btn btn-new-blue big-btn mb-5" (click)="purchaseGift()">
                        {{ 'ONLINE_CLIENT_ADD.NEXT' | translate }}</a>
                &nbsp;
                <a *ngIf="showPayment" class="btn btn-new-blue big-btn mb-5" (click)="makePayment()"
                    style="background:#39b54a !important;">
                    {{ 'ONLINE_GIFT.PURCHASE_NOW' | translate }}</a>

                <!-- previously  isTokenExsists is false then displayed now isNew from appt&emails page -->
                <!-- <a *ngIf="!isTokenExsists" [routerLink]="['/online/client/add/'+dbName]" class="btn btn-gradient-txt mb-5" type="button">
                        <span>New to {{companyName}}?</span>
                    </a> &nbsp;
                    <a class="btn btn-default mb-5" (click)="cancel()" style="background-color:red;">
                        <i class="fa fa-remove"></i> Cancel</a> -->

            </div>
        </div>

        <input type="hidden" id="deleteApptId" (click)="deleteAppt()">


    </div>
</div>
<!-- below html element is used for card holder email reciept -->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ 'ONLINE_GIFT.DOCUMENT' | translate }}</title>
    </head>

    <body style="display:none; " id="inner_cont">
        <div class="profile-list-view-txt wt-bg blk-clr head-bar">
            <!-- <div class="check-profile-list"> -->
            <div class="row mt-10">
                <div class="check-profile-list-name">
                    <h4> {{companyData?.Name}}</h4>
                    <h4> {{companyData?.Street_Address__c }}</h4>
                    <h4> {{companyData?.City__c }}, {{companyData?.State_Code__c }} {{companyData?.Postal_Code__c}}</h4>
                    <h4>{{companyData?.Phone__c }} | {{companyData?.Email__c }}</h4>
                </div>
            </div>
            <div class="row ">
                <div class="check-profile-list-name text-uppercase">{{clientFstName ? clientFstName + ' ' + clientLstName : 'NOCLIENT'  }}</div>
            </div>
            <hr>
            <div class="check-profile-details">
                <div class="check-profile-details-in clearfix">
                    <div class="sub-item-main">
                        <div class="col-md-12">
                            <div class="clearfix wt-clr">
                                <div class="profile-list-view-txt wt-bg blk-clr">
                                    <div class="check-profile-list"></div>
                                    <div class="check-profile-details">
                                        <div class="check-profile-details-in clearfix">

                                            <div class="sub-item-main">
                                                <div class="sub-item-service">
                                                    <div class="sub-item1 text-uppercase">{{ 'SETUP_WORKERS_DETAILS.OTHER' | translate }}</div>
                                                    <div class="sub-item2"></div>
                                                    <div class="sub-item3">{{giftPurchaseObj.Amount | currency:"USD":"symbol-narrow"}}</div>
                                                </div>

                                                <div class="sub-item-sub">
                                                    <div class="sub-item-service">
                                                        <div class="sub-item1">
                                                                {{ 'ONLINE_GIFT.GIFT' | translate }} {{giftNumber}}
                                                        </div>
                                                        <div class="sub-item2"></div>
                                                        <div class="sub-item3">{{giftPurchaseObj.Amount | currency:"USD":"symbol-narrow"}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="total-charge clearfix">
                                        <div class="col-md-4 col-sm-4 total">
                                            <b>{{ 'ONLINE_GIFT.TOTAL' | translate }}</b>
                                        </div>
                                        <div class="col-md-4 listcharge">
                                            <h2 class="price-total" id="totalAmountId">{{giftPurchaseObj.Amount | currency:"USD":"symbol-narrow"}}</h2>
                                        </div>
                                    </div>
                                    <div class="check-profile-details">
                                        <div class="check-profile-details-in clearfix">

                                            <div class="sub-item-main">
                                                <div class="sub-item-service">
                                                    <div class="sub-item1 text-uppercase">{{ 'ONLINE_GIFT.PAYMENT_TYPES' | translate }}</div>
                                                    <div class="sub-item2"></div>
                                                    <div class="sub-item3">{{cardName}}</div>
                                                </div>
                                            </div>
                                            <div class="sub-item-main">
                                                <div class="sub-item-service">
                                                    <div class="sub-item1 text-uppercase">{{ 'COMMON.AMOUNT_PAID' | translate }}</div>
                                                    <div class="sub-item2"></div>
                                                    <div class="sub-item3">{{giftPurchaseObj.Amount | currency:"USD":"symbol-narrow"}}</div>
                                                </div>
                                            </div>
                                            <div class="sub-item-main">
                                                <div class="sub-item-service">
                                                    <div class="sub-item1 text-uppercase">{{ 'ONLINE_GIFT.CHANGE_BACK' | translate }}</div>
                                                    <div class="sub-item2"></div>
                                                    <div class="sub-item3">{{ 'ONLINE_GIFT.ZERO' | translate }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-20">
                                        <h4>{{ 'ONLINE_GIFT.CREATED_DATE' | translate }} {{creationDate[0]}} {{creationDate[1]}}</h4>
                                        <h4>{{ 'ONLINE_GIFT.LAST_MODIFIED_DATE' | translate }} {{lastModifiedDate[0]}} {{lastModifiedDate[1]}}</h4>
                                    </div>
                                    <div class="row mt-20"><h4>{{ 'ONLINE_GIFT.TICKET' | translate }}{{apptName}}</h4></div>
                                    <div class="row mt-20" *ngIf="posLists" style="color:#000">
                                        <h4>{{posLists}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

    </html>




































<!-- 
    <div class="signup-maindiv">
        <div class="signup-middle">
            <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
        </div>
        <div class="signup-caption">
            Online Gift Purchase
        </div>
        <div class="apont-head-large mb-10 mt-10 text-uppercase">
            Welcome to {{companyName}}
        </div>
        <div class="container form_cont gift-purchase" *ngIf='!mainDiv'>
            <div class="col-md-12 appt-box-one mt-20">
                <div class="mb-10 mt-10 col-md-12 ">
                    <span class="pull-left" style="font-size: 20px; color: white">Thank you! Your payment was successfully
                        processed</span>
                </div>
                <div class="mb-10 mt-10 col-md-12 text-uppercase">
                    <a class="btn btn-default mb-5" [routerLink]="['/onlinebook/']"
                        style="background-color:#35c31b;color: white">
                        <i class="fa fa-check"></i>OK</a>
                </div>
    
            </div>
        </div>
        <p id="countdown" style="float: right;font-size: 20px;color: white;"></p>
        <div class="container form_cont gift-purchase" *ngIf='mainDiv'>
            <div *ngIf="!showPayment" class="col-md-12 appt-box-one mt-20">
                <div class="mb-10 mt-10 text-uppercase">
                    <span class="pull-left" style="font-size: 20px;">eGift Card</span>
                </div>
                <div class="col-md-12">
                    <p class="red mb-0"> {{giftErr}} </p>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="clear-fix">
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <select (change)="amountChange()" class="select-bg"
                                        [(ngModel)]="giftPurchaseObj.listedAmount">
                                        <option *ngFor="let amount of amountList" [value]="amount">{{amount}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left" *ngIf="giftPurchaseObj.listedAmount === 'other'">
                                    <input (input)="clearErr()" type="text" placeholder="Amount" style="width:30%"
                                        [(ngModel)]="giftAmount">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Delivery Type</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <select (change)="clearErr()" class="select-bg"
                                        [(ngModel)]="giftPurchaseObj.deliveryType">
                                        <option *ngFor="let type of deliveryTypes" [value]="type">{{type}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Recipient Name</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.RecipientName">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Recipient Email</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.RecipientEmail">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Your First Name</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.firstname">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Your Last Name</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.lastname">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-20 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Your Email</label>
                                </div>
                                <div class="col-md-4 col-sm-8 text-left">
                                    <input (input)="clearErr()" type="text" [(ngModel)]="giftPurchaseObj.email" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-25 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Personal Message</label>
                                </div>
                                <div class="col-md-8 col-sm-8 text-left">
                                    <textarea (input)="clearErr()" [(ngModel)]="giftPurchaseObj.PersonalMessage"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div *ngIf="showPayment" class="col-md-12 appt-box-one mt-20">
                <div class="mb-10 mt-10 text-uppercase">
                    <span class="pull-left" style="font-size: 20px;"> Process Payment</span>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="clear-fix">
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label></label>
                                </div>
                                <div class="col-md-8 col-sm-8 text-left">
                                    <p class="red">{{PckgError | translate}}</p>
                                    <p class="red">{{error | translate}}</p>
                                </div>
                            </div>
    
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label style="font-size: 20px;">Billing Information:</label>
                                </div>
                                <div class="col-md-8 text-left">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Cardholder Name</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="clientName" (keyup)="clearErr()" (click)=" clearErr()">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Mailing Zip/Postal Code</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="MailingPostalCode" (keyup)="getLocation();clearErr()"
                                        (click)=" clearErr()">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Mailing Country</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <select [(ngModel)]="mailingCountry" class="select-bg" (keyup)="clearErr()"
                                        (click)=" clearErr()" (change)="getCountry($event.target.value);">
                                        <option value="">{{'CLIENTS.COUNTRY' | translate}}</option>
                                        <option *ngFor="let mailingcountrieslist of mailingCountriesList; let i='index'"
                                            value="{{mailingcountrieslist.NAME}}"
                                            id="profilePage_timezone_select_option_{{i}}">{{mailingcountrieslist.NAME}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Mailing State/Province</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <select [(ngModel)]="mailingState" class="select-bg" (keyup)="clearErr()"
                                        (click)=" clearErr()">
                                        <option value="">{{'CLIENTS.STATES' | translate}}</option>
                                        <option *ngFor="let stateslist of statesList; let i='index'"
                                            value="{{stateslist.STATE}}" id="profilePage_timezone_select_option_{{i}}">
                                            {{stateslist.STATE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Mailing City</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="mailingCity" (keyup)="clearErr()" (click)=" clearErr()">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Mailing Street</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="mailingStreet" (keyup)="clearErr()"
                                        (click)=" clearErr()">
                                </div>
                            </div>
    
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label style="font-size: 20px;">Payment Information:</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Card Type</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <select [(ngModel)]="cardType" class="select-bg" (keyup)="clearErr()"
                                        (click)=" clearErr()" (change)="changeCard($event.target.value);">
                                        <option value="">--Select Card--</option>
                                        <option *ngFor="let card of cardTypes; let i='index'" value="{{card.Id}}">
                                            {{card.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>Card Number</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="cardNumber" (keyup)="clearErr()" (click)=" clearErr()">
                                    <span>**No Dashes or Spaces </span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>CVV</label>
                                </div>
                                <div class="col-md-4 col-sm-4 text-left">
                                    <input type="text" [(ngModel)]="cvv" (keyup)="clearErr()" (click)=" clearErr()">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-15 clearfix">
                                <div class="col-md-4 col-sm-4 text-right">
                                    <label>{{'CREATE_TOKEN.EXPIRES' | translate}}</label>
                                </div>
    
                                <div class="col-md-4 col-sm-4">
                                    <select class="crt-tkn-select" class="select-bg" (keyup)="clearErr()"
                                        (click)=" clearErr()" style="width:100%;" [(ngModel)]="expMonth"
                                        (click)="clearErr()">
                                        <option *ngFor="let month of monthList; let i='index'" value="{{i+1}}">{{month}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 ">
                                    <select class="crt-tkn-select" class="select-bg" style="width:100%;"
                                        [(ngModel)]="expYear" (click)="clearErr()">
                                        <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                                    </select>
                                </div>
                                  <div class="align-center">
                                    <p class="red">{{error | translate}}</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
                <a *ngIf="!showPayment" class="btn btn-default mb-5" (click)="purchaseGift()"
                    style="background-color:#35c31b;">
                    <i class="fa fa-check"></i>Purchase Now</a>
                &nbsp;
                <a *ngIf="showPayment" class="btn btn-default mb-5" (click)="makePayment()"
                    style="background-color:#35c31b;">
                    <i class="fa fa-check"></i>Purchase Now</a>
    
              previously  isTokenExsists is false then displayed now isNew from appt&emails page 
                <a *ngIf="!isTokenExsists" [routerLink]="['/online/client/add/'+dbName]" class="btn btn-gradient-txt mb-5" type="button">
                    <span>New to {{companyName}}?</span>
                </a> &nbsp;
                <a class="btn btn-default mb-5" (click)="cancel()" style="background-color:red;">
                    <i class="fa fa-remove"></i> Cancel</a>
    
            </div>
        </div>
    </div>
    <input type="hidden" id="deleteApptId" (click)="deleteAppt()"> -->