.setsubcont{
    margin-right: 10%;
}
#wrapper_setup_new{
	color: white;
}
tr:nth-child(even) {background-color: rgb(49, 128, 172);}
.set-table .custom-control-check{margin-left: 0;width: 21px;height: 21px;}
.set-table table>tbody>tr>th {border-top: transparent;font-size: 17px;text-align: center;text-transform: uppercase;}
.set-table table>tbody>tr>td {border-top: transparent;text-align: center;padding: 6px 0;}
.list-text{text-align: right !important;}
.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-weight: 500 !important;
    height: 38px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.set-list {display: inline-block; color:white}
.com-set-drp .label{display: inline-block;}

.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
}
@media (max-width: 991px) {  
.com-set-drp{text-align: center;max-width: 560px;margin: 0 auto 20px;}
}
