<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section class="setsubcont" id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row">
                <div class="col-12 col-md-10 col-md-offset-1">
                    <div class="row mt-20 res-mt-15">
                        <div class="col-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-5 mb-20 com-set-drp">
                            <label class="label">{{'COMMON.SELECT'|translate}}</label>
                            <select class="select-new-trans select-input set-list" [(ngModel)]="selectType"
                                (change)="reportTypeOnChange($event.target.value)">
                                <option *ngFor='let obj of reportTypes' value="{{obj}}">{{obj}}</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-5 mb-20 com-set-drp disabled"
                            *ngIf="showWorkers == true">
                            <label class="label">{{'COMMON.WORKER' | translate }}</label>
                            <select class="select-new-trans select-input set-list"
                                (change)="workerListOnChange($event.target.value)" [(ngModel)]="worker">
                                <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                                <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">
                                    {{worker.workerName}}</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-8 col-md-offset-3 col-lg-4 col-lg-offset-5 mb-20 com-set-drp"
                            *ngIf="showWorkers == false">
                            <label class="label">{{'COMMON.WORKER' | translate }}</label>
                            <select class="select-new-trans select-input set-list"
                                (change)="workerListOnChange($event.target.value)" [(ngModel)]="worker">
                                <option *ngFor="let worker of workerList; let i='index'"
                                    value="{{worker.Id}}">{{worker.workerName}}</option>
                            </select>
                        </div><br>
                        <div class="col-md-12">
                            <div class="table-max-rewards set-table">
                                <div class="table-responsive">
                                    <table class="table table-center table-responsive">
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <th>{{'BUTTON.SELECT_ALL' | translate}}</th>
                                                <th>{{'MARKETING_FILTERS.DAY' | translate}}</th>
                                                <th>{{'COMMON.WEEK' | translate}}</th>
                                                <th>{{'MARKETING_FILTERS.MONTH' | translate}}</th>
                                                <th>{{'MARKETING_FILTERS.YEAR' | translate}}</th>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'SETUP_DASHBOARD.BOOKED' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="bookedAll"
                                                            (click)="selectAll($event.target.checked,'1');changeObjects('Booked','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Booked','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Booked','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check"(click)="changeObjects('Booked','month',selectType, worker,$event.target.checked)" type="checkbox"
                                                            [(ngModel)]="bookedMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Booked','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'SETUP_DASHBOARD.BOOKED_TICKETD' | translate }}
                                                </td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="bookedTicktAll"
                                                            (click)="selectAll($event.target.checked,'2');changeObjects('BookedTicketd','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedTicketd','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedTicktDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedTicketd','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedTicktWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedTicketd','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedTicktMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedTicketd','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookedTicktYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'SETUP_DASHBOARD.REBOOKED' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="rebookdAll"
                                                            (click)="selectAll($event.target.checked,'3');changeObjects('Rebooked','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Rebooked','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="rebookdDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Rebooked','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="rebookdWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Rebooked','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="rebookdMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('Rebooked','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="rebookdYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">
                                                    {{'SETUP_DASHBOARD.TOP_WORKER_SERVICE_SALES' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="topWrkSrvcAll"
                                                            (click)="selectAll($event.target.checked,'4');changeObjects('TopWorkerServiceSales','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerServiceSales','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkSrvcDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerServiceSales','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkSrvcWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerServiceSales','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkSrvcMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerServiceSales','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkSrvcYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">
                                                    {{'SETUP_DASHBOARD.TOP_WORKER_PRODUCT_SALES' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="topWrkPrdAll"
                                                            (click)="selectAll($event.target.checked,'5');changeObjects('TopWorkerProductSales','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerProductSales','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkPrdDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerProductSales','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkPrdWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerProductSales','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkPrdMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('TopWorkerProductSales','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="topWrkPrdYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">
                                                    {{'VISIT_TYPE_OVERVIEW.NEW_CLIENTS' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="newClientAll"
                                                            (click)="selectAll($event.target.checked,'6');changeObjects('NewClients','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('NewClients','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="newClientDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('NewClients','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="newClientWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('NewClients','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="newClientMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('NewClients','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="newClientYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">
                                                    {{'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="bookdOnlineAll"
                                                            (click)="selectAll($event.target.checked,'7');changeObjects('BookedOnline','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedOnline','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookdOnlineDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedOnline','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookdOnlineWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedOnline','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookdOnlineMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('BookedOnline','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="bookdOnlineYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">
                                                    {{'SETUP_DASHBOARD.RETAIL_TO_SERVICE' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="retailSrvcAll"
                                                            (click)="selectAll($event.target.checked,'8');changeObjects('RetailToService','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailToService','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailSrvcDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailToService','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailSrvcWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailToService','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailSrvcMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailToService','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailSrvcYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'DASHBOARD.SERVICE_SALES' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="srvcSaleAll"
                                                            (click)="selectAll($event.target.checked,'9');changeObjects('ServiceSales','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ServiceSales','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="srvcSaleDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ServiceSales','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="srvcSaleWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ServiceSales','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="srvcSaleMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ServiceSales','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="srvcSaleYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'DASHBOARD.PRODUCT_SALES' | translate }}</td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="prodctSaleAll"
                                                            (click)="selectAll($event.target.checked,'10');changeObjects('ProductSales','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ProductSales','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="prodctSaleDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ProductSales','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="prodctSaleWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ProductSales','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="prodctSaleMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('ProductSales','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="prodctSaleYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'DASHBOARD.AVERAGE_TICKET' | translate }}
                                                </td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="avgTicktAll"
                                                            (click)="selectAll($event.target.checked,'11');changeObjects('AverageTicket','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageTicket','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgTicktDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageTicket','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgTicktWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageTicket','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgTicktMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageTicket','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgTicktYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'DASHBOARD.AVERAGE_SERVICE' | translate }}
                                                </td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="avgSrvcAll"
                                                            (click)="selectAll($event.target.checked,'12');changeObjects('AverageService','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageService','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgSrvcDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageService','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgSrvcWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageService','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgSrvcMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageService','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgSrvcYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'DASHBOARD.AVERAGE_PRODUCT' | translate }}
                                                </td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="avgProdctAll"
                                                            (click)="selectAll($event.target.checked,'13');changeObjects('AverageProduct','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageProduct','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgProdctDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageProduct','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgProdctWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageProduct','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgProdctMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('AverageProduct','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="avgProdctYear">
                                                    </span></td>
                                            </tr>
                                            <tr>
                                                <td class="list-text">{{'SETUP_DASHBOARD.RETAIL_PER_GUEST' | translate }}
                                                </td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"
                                                            [(ngModel)]="retailPerGuestAll"
                                                            (click)="selectAll($event.target.checked,'14');changeObjects('RetailPerGuest','all',selectType, worker,$event.target.checked)">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailPerGuest','day',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailPerGuestDay">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailPerGuest','week',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailPerGuestWeek">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailPerGuest','month',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailPerGuestMonth">
                                                    </span></td>
                                                <td><span>
                                                        <input class="custom-control-check" type="checkbox"(click)="changeObjects('RetailPerGuest','year',selectType, worker,$event.target.checked)"
                                                            [(ngModel)]="retailPerGuestYear">
                                                    </span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <button type="button" (click)="saveDashBoardData()"
                                            class="save-btn">{{ 'BUTTON.SAVE' | translate }}</button>
                                        <button type="button" (click)="cancel()"
                                            class="cancel-btn">{{ 'BUTTON.CANCEL' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>