<style>
	.boldClass {
		font-weight: 700;
		color: white !important;
	}

	.form_cont select {
		font-weight: 700;
		color: white !important;
	}
</style>
<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont" style="color:white;" id="dvContents">
			<div class="row mt-30 clearfix">
				<div class="col-xs-12 col-sm-6">
					<div class="row clearfix">
						<div class="col-xs-12 col-sm-4 appoint-print-left">
							<div class="appoint-details-staff-90 mt-10">
								<div class="appoint-details-staff">
									<div *ngIf="clientPic && clientPic !== ''" class="appnt-pro-letter">
										<img src="{{clientPic}}" width="50" height="50"
											onerror="this.onerror=null;this.src='assets/images/user-icon.png';">
									</div>
									<div *ngIf="!clientPic || clientPic === ''">
										<div class="appnt-pro-letter" style="margin:0px">
											<strong *ngIf="apptData.clientName">
												{{ apptData.clientName[0].toUpperCase() }} </strong>
											<strong *ngIf="!apptData.clientName"> {{ 'N'.toUpperCase() }} </strong>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 appoint-details-staff-details appoint-print-right">
							<h2>
								<span
									*ngIf="apptData.clientName && apptData.clientName !== '' && apptData.clientName !== 'No Client'"
									style="cursor:pointer" [routerLink]="['/client/edit/'+ clientid]"
									[queryParams]="{ actionMethod: 'appointmentdetail','apptId': apptid }">
									{{apptData.clientName}}
								</span>
								<span *ngIf="!(apptData.clientName && apptData.clientName !== '')">
									{{apptData.clientName}}
								</span>
								<span *ngIf="apptData.clientName === 'No Client'">
									{{apptData.clientName}}
								</span>

							</h2>
							<div class="hidden-xs hidden-sm visible-md visible-lg print-display">
								<!-- this div for desktop version-->
								<ul *ngIf='hideClientInfo===0'>
									<li><span><img src="assets/images/sms-message.svg" width="50"
												height="50"></span>{{apptData.mbphone}}</li>
									<li><span><img src="assets/images/home.svg" width="50"
												height="50"></span>{{apptData.cltphone}}</li>
									<li><span><img src="assets/images/e-mail-envelope.svg" width="50"
												height="50"></span><a href="mailto:{{apptData.cltemail}}"
											style="color: white">{{apptData.cltemail}}</a></li>
								</ul>
							</div>
						</div>
						<div
							class="col-xs-12 col-sm-12 col-md-12 appoint-details-staff-details visible-xs visible-sm hidden-md print-display-none">
							<!-- this div for ipad version-->
							<ul>
								<li><span><img src="assets/images/sms-message.svg" width="50"
											height="50"></span>{{apptData.mbphone}}</li>
								<li><span><img src="assets/images/home.svg" width="50"
											height="50"></span>{{apptData.cltphone}}</li>
								<li><span><img src="assets/images/e-mail-envelope.svg" width="50" height="50"></span><a
										href="mailto:{{apptData.cltemail}}"
										style="color: white">{{apptData.cltemail}}</a></li>
							</ul>
						</div>
					</div>

					<div class="mt-30">
						<button type="button" class="btn btn-new-wt big-btn b-r-o mb-5" (click)="sendReminderEmail()"
							*ngIf="isRemainderEmailAllowed && apptData.cltemail !== '' &&  apptData.Reminder_Primary_Email__c === 1 && tempSt !== 'Canceled'">{{'BUTTON.SEND_REMINDER_EMAIL' | translate}}</button>
						<button type="button" class="btn btn-new-wt big-btn b-r-o mb-5" (click)="sendReminderText()"
							*ngIf="isRemainderTextAllowed && apptData.clientName !== 'No Client' && apptData.apstatus !== 'Checked In' && tempSt !== 'Canceled' && apptData.mbphone !== '' && apptData.Sms_Consent__c === 1  && apptData.Reminder_Mobile_Phone__c === 1">{{'BUTTON.SEND_REMINDER_TEXT' | translate}}</button>
					</div>

					<div class="appoint-date-desc">
						<div class="mb-5">
							<span class="appoint-datetime">{{displayAptdate[0]}} {{displayAptdate[1]}}</span>
							<span class="appoint-datetime" *ngIf='apptData.Business_Rebook__c === 1'>-
								{{'COMMON.REBOOKED' | translate}}</span>
							<span class="appoint-datetime" *ngIf='apptData.Business_Rebook__c === 0'></span>

						</div>
						<div class="appoint-upcoming">
							{{'COMMON.UPCOMING_APPT' | translate}}:
							<span *ngIf="subSeaquentAppointmentDate">{{nextAppt[0]}} {{nextAppt[1]}} -
								{{nextservicename}} {{subSeaquentAppointment}}</span>
						</div>


					</div>

				</div>
				<div class="col-xs-12 col-sm-6 text-right">
					<div class="appointment-chk-in-out">
						<!-- <span class="ticketnumber">Ticket #12345</span> -->
						<span class="ticketnumber tbl-txt" [routerLink]="['/checkout/'+ apptid]"
							style="cursor: pointer;"
							*ngIf="apptData.apstatus == 'Checked In'">{{ 'COMMON.TICKET' | translate}}
							{{apptData.ticketNumber}}</span>
						<button type="button" class="btn btn-new-blue big-btn clr"
							[routerLink]="['/checkout/'+apptData.apptId]"
							*ngIf="apptData.isTicket__c && apptData.apstatus === 'Checked In'">{{ 'BUTTON.CHECK_OUT' | translate}}</button>
						<span class="ticketnumber tbl-txt" style="cursor: pointer;"
							[routerLink]="['/completedticket/'+ apptid]"
							*ngIf="apptData.apstatus == 'Complete'">{{ 'COMMON.TICKET' | translate}}
							{{apptData.ticketNumber}}</span>
						<!-- <button class="btn btn-new-wt big-btn" >Check Out</button> -->
						<button type="button" class="btn btn-new-blue big-btn" *ngIf="isCheckedInAllowed"
							(click)="checkIn()">{{ 'BUTTON.CHECK_IN' | translate}}</button>
					</div>
					<div class="appointment-chk-book-confirm">
						<div
							*ngIf="!(apptData.apstatus == 'Checked In' || apptData.apstatus == 'Complete' || (tempSt == 'Canceled' && actionMethod === 'AppointmentDetail'))">
							<div class="slect-book-clr">
								<input type="text" class="appt-statusColor" style="width:50px" [ngStyle]="statusColor"
									disabled>
								<select class="appointment-select-width select-new-trans"
									[(ngModel)]="apptData.apstatus" style="display:inline"
									[disabled]='isSaveAllowed === false ? true : false'>
									<!-- <option class="boldClass">{{apptData.apstatus}}</option> -->
									<option *ngFor="let apptStatus of apptStatus" value="{{apptStatus.status}}">
										{{apptStatus.status}} </option>
								</select>
							</div>
							<!-- <div class="select-btn-drop" style="max-width:250px;" >
								<button class="appointment-select-width select-new-trans text-left" (click)="changeShowStatus()"><span [ngStyle]="statusColor" style="border-radius: 50%; margin-right:10px; vertical-align: middle; width: 20px; height:20px; display: inline-block;"></span>	{{apptData.apstatus}}</button>
								<ul  *ngIf="showHide" >
									<option *ngFor="let apptStatus of apptStatus" value="{{apptStatus.status}}">
										<small>{{apptStatus.status}}</small>
									</option>
								</ul>
							</div> -->
						</div>
						<div
							*ngIf="apptData.apstatus == 'Checked In' || apptData.apstatus == 'Complete' || (tempSt == 'Canceled' && actionMethod === 'AppointmentDetail')">
							<input type="text" class="appt-statusColor" style="width:50px" [ngStyle]="statusColor"
								disabled>
							<span class="appointment-select-width">{{apptData.apstatus}}</span>
						</div>
					</div>

					<div class="appointment-chk-book-confirm">
						<div class="">
							<label class="m-r-5" *ngIf='apptData.apstatus === "Complete"'>
								<span
									*ngIf='apptData.visttype && (apptData.visttype !== null || apptData.visttype !== "null")'>Visit
									Type:</span>
							</label>
							<label class="m-r-5" *ngIf='apptData.apstatus !== "Complete"'>
								<span>{{'TICKET_DETAILS.VISIT_TYPE' | translate}}:</span>
							</label>
							<div class="d-inline-block v-alm" *ngIf='apptData.apstatus === "Complete"'>
								<p class="m-0"
									*ngIf='apptData.visttype && (apptData.visttype !== null || apptData.visttype !== "null")'>
									{{apptData.visttype}}</p>
							</div>
							<select class="select-new-trans" *ngIf='apptData.apstatus !== "Complete"'
								[(ngModel)]="apptData.visttype">
								<option value="" [selected]="!apptData.visttype"> </option>
								<option *ngFor="let listData of visitTypesList; let i='index'"
									value="{{listData.visitType}}" id="listData{{i}}">{{listData.visitType}}</option>
							</select>
						</div>

					</div>

					<div class="appoint-checks text-right">
						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.pkgbooking === 1'>
							<!-- <input id="packageBooking" type="checkbox" [(ngModel)]="apptData.pkgbooking" checked disabled> -->
							<label for="packageBooking">
								Package Booking &nbsp;
							</label>
						</div>
						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.pkgbooking === 0'>
							<!-- <input id="packageBooking" type="checkbox"  [(ngModel)]="apptData.pkgbooking" disabled> -->
							<!-- <label for="packageBooking">
									Package Booking
							</label> -->
						</div>


						<!-- <div class="checkbox-appoint checkbox-inline" *ngIf='apptData.Rebooked__c === 1'>
							<input id="rebooked" type="checkbox" [(ngModel)]="apptData.Rebooked__c" checked disabled> -->
						<!-- <label for="rebooked">
								Rebooked &nbsp;
						</label>
						</div> -->
						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.Rebooked__c === 0'>
							<!-- <input id="rebooked" type="checkbox" [(ngModel)]="apptData.Rebooked__c" disabled> -->

						</div>

						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.newclient === 1'>
							<!-- <input id="newClient" type="checkbox" [(ngModel)]="apptData.newclient" checked disabled> -->
							<label for="newClient">
								New Client &nbsp;
							</label>
						</div>
						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.newclient === 0'>
							<!-- <input id="newClient" type="checkbox" [(ngModel)]="apptData.newclient" disabled> -->
							<!-- <label for="newClient">
									New Client
							</label> -->
						</div>

						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.standingappt === 1'>
							<!-- <input id="standingAppointment" type="checkbox" [(ngModel)]="apptData.standingappt" checked disabled> -->
							<label for="standingAppointment">
								Standing Appointment &nbsp;
							</label>
						</div>
						<div class="checkbox-appoint checkbox-inline" *ngIf='apptData.standingappt === 0'>
							<!-- <input id="standingAppointment" type="checkbox" [(ngModel)]="apptData.standingappt" disabled>
							<label for="standingAppointment">
									Standing Appointment
							</label> -->
						</div>

						<div class="checkbox-appoint checkbox-inline" *ngIf="apptData.Booked_Online__c === 1">
							<!-- <input id="bookedOnline" type="checkbox" [(ngModel)]="apptData.Booked_Online__c" checked disabled> -->
							<label for="bookedOnline">
								Booked Online &nbsp;
							</label>
						</div>
						<div class="checkbox-appoint checkbox-inline" *ngIf="apptData.Booked_Online__c === 0">
							<!-- <input id="bookedOnline" type="checkbox" [(ngModel)]="apptData.Booked_Online__c" disabled>
							<label for="bookedOnline">
									Booked Online
							</label> -->
						</div>
					</div>

					<div class="appoint-notes text-right">
						<textarea [(ngModel)]="apptData.notes" maxlength="500" placeholder="APPT NOTES"
							[disabled]='isSaveAllowed === false ? true : false'>{{apptData.notes}}</textarea>
					</div>
				</div>
			</div>

			<div class="table-appoint row mb-20">
				<!-- <table class="form_cont_one mobile-table b-0 table-border-0"> removed because of small table for apptdetails -->
				<table class="table b-0 table-border-0" id="tableContentId">
					<thead>
						<tr>
							<!-- <th class="thcss">Service Date/Time</th> -->
							<th class="thcss">{{'COMMON.SERVICE_NAME' | translate}}</th>
							<th class="thcss">{{'COMMON.WORKER' | translate}}</th>
							<th class="thcss">{{'COMMON.DURATION' | translate}}</th>
							<th class="thcss">{{'COMMON.NET_PRICE' | translate}}</th>
							<th class="thcss">{{'COMMON.NOTE' | translate}}</th>
							<!-- <th class="thcss">Package</th>
							<th class="thcss">Status</th>
							<th class="thcss">Rebooked</th>
							<th class="thcss">Resources</th> -->
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of rows; let i = 'index'">
							<!-- <td>{{row.servicedate[0]}} {{row.servicedate[1]}}&nbsp;</td> -->
							<td>{{row.servicedate[1]}}&nbsp;&nbsp;{{row.Name}}&nbsp;</td>
							<td>{{row.name}}&nbsp;</td>
							<td>{{row.Duration__c}}&nbsp;</td>
							<td>{{row.Net_Price__c | currency:"USD":"symbol-narrow"}}&nbsp;</td>
							<td *ngIf="row.Notes__c && row.Notes__c != 'undefined'">
								<a (click)='showNotesModal(row.tsId, i);' title="{{row.Notes__c}}" class="white">
									<img src="assets/images/apptdetailwthNts.png" width="30" alt="img">
								</a>
							</td>
							<td *ngIf="!row.Notes__c || row.Notes__c == 'undefined'">
								<a (click)='showNotesModal(row.tsId, i);' class="white">
									<img src="assets/images/apptDetailNote.png" width="30" alt="img">
								</a>
							</td>
							<!-- <td>{{row.packageName}}&nbsp;</td>
							
							<td>&nbsp;</td>
							<td>
								<div class="" *ngIf='row.Rebooked__c == 1'>
									<input type="checkbox" [(ngModel)]="row.Rebooked__c" checked disabled style="margin: 0;" />
								</div>
								<div class="" *ngIf='row.Rebooked__c == 0'>
									<input type="checkbox" [(ngModel)]="row.Rebooked__c" disabled style="margin: 0;" />
								</div>
							</td>
							<td>{{row.Resources__c}}&nbsp;</td>
							<td *ngIf="row.Notes__c == '' || row.Notes__c == null || row.Notes__c == 'undefined' || row.Notes__c == undefined">
								<a (click)='showNotesModal(row.tsId, i);' class="white">
									<i class="fa fa-sticky-note-o"></i>
								</a>
							</td> -->

						</tr>
					</tbody>
				</table>
			</div>

			<div class="row clearfix mb-50">
				<div class="col-sm-6">
					<div class="appt-create">
						{{'INVENTORY_USAGE.CREATED_BY' | translate}}: {{apptData.CreatedBy}} - {{createdDate[0]}}
						{{createdDate[1]}}
					</div>
					<div class="appt-create">
						{{'COMMON.MODIFIED_BY' | translate}}: {{apptData.LastModifiedBy}} - {{lastModifyDate[0]}}
						{{lastModifyDate[1]}}
					</div>
				</div>
				<div class="col-sm-6 btm-btns">
					<button type="button"
						*ngIf="isOpenAppt && this.apptData.apstatus !=='Complete' && this.apptData.apstatus !== 'Checked In' && apptData.standingappt === 1"
						class="btn btn-new-grn-trans big-btn text-bold m-0 mr-10 mb-5 br-0 print-display-none"
						(click)="cancelApptModal.show()">
						{{'BUTTON.CANCEL_ALL_APPT' | translate}}</button>
					<span *ngIf="decodedToken['Appointments'] && decodedToken['Appointments'][8]['allowAcces']">
						<button *ngIf="isModifyAllowed" type="button"
							class="btn btn-new-wt-trans big-btn text-bold m-0 mr-10 mb-5 br-0 print-display-none"
							[routerLink]="['/appointment/modifyappt/'+ clientid + '/' + apptid]">
							{{'BUTTON.MODIFY' | translate}}</button>
					</span>
					<a *ngIf="isRebookAllowed" [routerLink]="['/appointment/findAppt/' + clientid + '/' + apptid]"
						[queryParams]="{bookingType:'rebook'}"
						class="btn btn-new-wt-trans big-btn text-bold m-0 mr-10 mb-5 br-0 print-display-none">
						{{'BUTTON.REBOOK' | translate}}</a>
					<span *ngIf="decodedToken['Appointments'] && decodedToken['Appointments'][2]['allowAcces']">
						<button *ngIf="isBookApptAllowed && apptData.clientName !== 'No Client'" type="button"
							class="btn btn-new-wt-trans big-btn text-bold m-0 mr-10 mb-5 br-0 print-display-none"
							[routerLink]="['/appointment/findAppt/'+ clientid]">
							{{'BUTTON.BOOK_APPT' | translate}}</button>
					</span>
					<button type="button" class="btn btn-new-blue big-btn text-bold save-btn m-0 mr-10 mb-5 br-0 print-display-none"
						(click)="saveAppointmentDetails()"
						*ngIf="isSaveAllowed && tempSt !== 'Canceled'">{{'BUTTON.SAVE' | translate}}</button>
					<button type="button" class="btn btn-new-blue big-btn text-bold cancel-btn m-0  mb-5 br-0 print-display-none"
						(click)="cancelAppointmentDetails()">{{'BUTTON.CANCEL' | translate}}</button>

				</div>
			</div>
			<div class="row mt-10" *ngIf=" apptData.clientName && apptData.clientName!=='' && apptData.clientName !== 'No Client' && decodedToken['Clients'] && decodedToken['Clients'][0]['allowAcces']">
				<div class="col-sm-12" style='font-size: 30px'>
					<a aria-hidden="true" (click)="etraveler()">
						<img src="{{imagepath}}" width="25" alt="img">
					</a>
					<span
						*ngIf="apptData.clientName && apptData.clientName">
						{{apptData.clientName}}
					</span>
					<!-- <span style='font-size: 35px' *ngIf="!(apptData.clientName && apptData.clientName !== '')">
						{{apptData.clientName}}
					</span>
					<span style='font-size: 35px' *ngIf="apptData.clientName === 'No Client'">
						{{apptData.clientName}}
					</span> -->
					<span>eTraveler</span>
					<div class="pull-right ml-bottom" *ngIf="showEtraveler">
						<button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
							<span style="font-size: 14px">
								<i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
						</button>
					</div>
				</div>
				
			</div>
			<div *ngIf="showEtraveler === true  && decodedToken['Clients'] && decodedToken['Clients'][4]['allowAcces']">
				<div class="row mt-10 clearfix">
					<div class="col-sm-4">
						<span>Referred By:</span>
						<span>{{this.referredClient[0]}} {{this.referredClient[1]}}</span>
					</div>
					<div class="col-sm-4">
						<span>Referred:</span>
						<span>{{referredClientData}}</span>

					</div>
				</div>
				<div class="row mt-20 clearfix d-flex-row">
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/star.png" width="25" alt="img"></span>
						&nbsp;&nbsp;<span class="d-flex-btm">{{rewardPoints}}</span>
					</div>
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/number-one-in-a-circle.png" width="25" alt="img"></span>
						&nbsp;&nbsp;<span class="d-flex-btm">{{clientSince}}</span>
					</div>
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/market-icon2.png" width="25" alt="img"></span>
						&nbsp;&nbsp;<span class="d-flex-btm">{{birthDate}}</span>
					</div>
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/market-icon3.png" width="25" alt="img"></span>
						&nbsp;&nbsp;<span class="d-flex-btm " >{{clientTitle}}</span>
					</div>
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/market-icon1.png" width="25" alt="img"></span>
						&nbsp;&nbsp;
						<pre class="preline d-flex-btm">{{clientFlag}}</pre>
					</div>
					<div class="col-sm-4 col-md-2 d-flex mb-10">
						<span><img src="assets/images/apptDetailNote.png" width="25" alt="img"></span>
						&nbsp;&nbsp;<span class="d-flex-btm">{{clientNote}}</span>
					</div>
				</div>
				<div class="row mt-10 clearfix">
					<p style="font-size: 20px">Service History</p>
					<div class="minus-row-8" *ngIf="clientServicesList.length > 0">
						<table class="table table-no-border table-width-auto" id="tableContentId1">
							<thead>
								<tr>
									<th>Date</th>
									<th>Worker Name</th>
									<th>Price</th>
									<th>Service</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let service of clientServicesList| slice:0:loadmore; let i = index">
									<td>{{service.servdate[0]}} </td>
									<td>{{service.workerName}}</td>
									<td>{{service.Net_Price__c | currency: "USD": "symbol-narrow"}}</td>
									<td *ngIf="service.Notes__c">{{service.serviceName}} <br> :
										<i>{{service.Notes__c}}</i></td>
									<td *ngIf="!service.Notes__c">{{service.serviceName}}</td>

								</tr>


							</tbody>
						</table>
					</div>
					<div class="minus-row-8" *ngIf="clientServicesList.length === 0">
						<p>No service history found..</p>
					</div>

					<span class="tbl-txt" style="font-size: 12px;" *ngIf="clientServicesList.length > 5"
						[style.visibility]="(hideLoadMoreButt === true) ? 'hidden' : 'visible' "
						(click)='showServiceLoadMore(clientServicesList)'><i>more service history...</i></span>

				</div>
				<div class="row">
					<hr style="margin:20px 0; max-width:900px; width:100%; border-color:#fff;">
				</div>
				<div class="row mt-10 clearfix">
					<p style="font-size: 20px">Retail History</p>
					<div class="minus-row-8" *ngIf="clientProductList.length > 0">
						<table class="table table-no-border table-width-auto" id="tableContentId2">
							<thead>
								<tr>
									<th>Date</th>
									<th>Worker Name</th>
									<th>Qty</th>
									<th>Price</th>
									<th>Products</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let clientProduct of clientProductList | slice:0:loadmore; let i='index'">
									<td>{{clientProduct.displaydate[0]}}</td>
									<td>{{clientProduct.workername}}</td>
									<td>{{clientProduct.Qty_Sold__c}}</td>
									<td>{{clientProduct.Net_Price__c | currency: "USD": "symbol-narrow"}}</td>
									<td>{{clientProduct.productName}}</td>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="minus-row-8" *ngIf="clientProductList.length === 0">
						<p>No retail history found..</p>
					</div>

					<span class="tbl-txt" style="font-size: 12px;" *ngIf="clientProductList.length > 5"
						[style.visibility]="(hideLoadMoreButt === true) ? 'hidden' : 'visible' "
						(click)='showProductLoadMore(clientProductList)'><i>more retail history...</i></span>

				</div>

			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>
<!-- ----------------------note popup--------- -->
<div bsModal #serviceNotesModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
	tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="closeServiceNotesModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4>Notes</h4>
			</div>
			<div class="modal-body">
				<textarea class="note" style="color:black" [(ngModel)]="serviceNotes"
					id="notesTestareaId">{{updateNotes}}</textarea>
			</div>
			<div class="text-center">
				<button type="button" class="save-btn" (click)="saveNote()">{{'BUTTON.SAVE' | translate}}</button>
				<button type="button" class="cancel-btn"
					(click)="cancelModel()">{{'BUTTON.CANCEL' | translate}}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<div bsModal #cancelApptModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
	tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width: 590px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="closeCancelApptModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="border-radius: 10px;">
				<p class="para-align">Are you sure you want to cancel all future associated standing appointments?</p>
			</div>
			<div class="text-center mt-20 mb-10">
				<button type="button" style="background-color: #4bc45b;" class="btn btn-success"
					(click)="sendCancelAppts()"><span
						class="btn-style">{{'MARKETING_FILTERS.YES' | translate}}</span></button>
				<button type="button" style="background-color: grey;" class="btn btn-secondary"
					(click)="closeCancelApptModal()"><span
						class="btn-style">{{'MY_ACCOUNT.GO_BACK' | translate}}</span></button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>