#inner_cont {
    color: white;
    padding-right: 115px;
    padding-left: 115px;
}

.form_cont {
    padding-bottom: 35px;
    color: white;
}

.selectoptions {
    text-align: right;
}

.selectoptions select {
    /* width: 50%; */
    display: block;
    max-width: 250px;
    margin: 0 auto;
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
    margin-right:30px !important;
}

.month {
    margin-left:70px;
    font-size: 19px;
    width: 30%;
}

.table>thead {
  font-size: 20px;
  padding-top: 10px;  
}
.totalvalue{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.table>tbody>tr>td{
    border-top:0px;
    font-size: 16px;
}
.estimatevaluesavg{
    text-align: center;
    font-style: italic;
    font-size: 17px;
}
.totalvalue p{
    margin: 0px 0 15px;
}
.align-right{
    float: right;
 }
 .ml-bottom {
    margin-bottom: 5px;
 }

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
 .fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
 }
 .form_cont label {
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 30px;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */

