<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENTS.FULL_NAME' | translate}}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <a [routerLink]="['/client/edit/'+ clientId]" [queryParams]="{ actionMethod: 'newRefund' }"><span
                            style="text-decoration: underline;color: white;">{{clientName}}</span></a>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CHECK_OUTS.REFUND.SELECT_FROM_HISTORY' | translate}}
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <div style="float:left;width: 219px;">
                        <input type="text" [bsConfig]="datePickerConfig" [maxDate]="maxdate" [(ngModel)]="startDate"
                            bsDatepicker class="datefield" (click)="clear();">
                    </div>
                    <div style="float:left;width: 219px;margin-left: -82px;">
                        to &nbsp;
                        <input type="text" [bsConfig]="datePickerConfig" [maxDate]="maxdate" [(ngModel)]="endDate"
                            bsDatepicker class="datefield" (click)="clear();">
                    </div>
                </div>
            </div>
            <p class="red" style="text-align:center;"> {{SdateEdateError | translate}}</p>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" class="btn btn-primary" (click)="refundSearch('', 'searchDate')">
                        <i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'CLIENTS.SEARCH' | translate }}</button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="thcss">{{'COMMON.DATE' | translate}}</th>
                            <th class="thcss">{{'COMMON.TICKET' | translate}}</th>
                            <th class="thcss">{{'COMMON.CLIENT' | translate}} </th>
                            <th class="thcss">{{'COMMON.SERVICE' | translate}}</th>
                            <th class="thcss">{{'COMMON.PRODUCT' | translate}}</th>
                            <th class="thcss">{{'TICKET_DETAILS.OTHER' | translate}} </th>
                            <th class="thcss">{{'TICKET_DETAILS.INCLUDE_TICKET' | translate}} </th>
                            <th class="thcss">{{'SETUP_PACKAGES.TAX' | translate}}</th>
                            <th class="thcss">{{'COMMON.TOTAL'| translate}} </th>
                            <th class="thcss">{{'TICKET_DETAILS.PAYMENT_TYPE' | translate}}</th>
                        </tr>
                        <ng-container *ngIf="apptData.length > 0">
                            <tr *ngFor='let data of apptData'>
                                <td> {{data.disaplayDate[0]}}</td>

                                <td class="tbl-txt" style="text-decoration: underline;"
                                    *ngIf="data.Status__c.trim() == 'Complete'"><a style="color:white;"
                                        [routerLink]="['/checkout/refundnewpage']"
                                        [queryParams]="{ 'apptId': data.appId, 'clientId': data.Client__c, 'apptDataName': data.Name,'apptDataDate': refundApptDate }">
                                        {{data.Name}}</a>
                                </td>
                                <td [routerLink]="['/client/edit/' + data.Client__c]"
                                    [queryParams]="{ actionMethod: 'ticketDetail'}"
                                    style="text-decoration: underline;cursor:pointer;" *ngIf="data.FullName !== null">
                                    {{data.FullName}}</td>
                                <td *ngIf="data.FullName === null">{{'TICKET_LIST.NO_CLIENT'| translate}}
                                </td>
                                <td>{{data.Service_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.Product_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.Other_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.Included_Ticket_Amount__c | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.TotalTax | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.Ticket_Total__c | currency:"USD":"symbol-narrow"}}</td>
                                <td>{{data.Abbreviation__c}}</td>
                            </tr>
                        </ng-container>
                        <!-- <tr *ngIf = "apptValuesTotals__c == 1"> -->
                        <tr>
                            <td>{{'COMMON.TOTAL'| translate}}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{serviceTotal | currency:"USD":"symbol-narrow"}}</td>
                            <td>{{productTotal | currency:"USD":"symbol-narrow"}}</td>
                            <td>{{otherTotal | currency:"USD":"symbol-narrow"}}</td>
                            <td>{{totalInclude | currency:"USD":"symbol-narrow"}}</td>
                            <td>{{taxamount | currency:"USD":"symbol-narrow"}}</td>
                            <td>{{totalTotal | currency:"USD":"symbol-narrow"}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>
<!-- Start of code for Clover -->
<!-- <div bsModal #cloverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" (keyup.esc)="cloverModal.hide()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Connect to Clover device to refund</h4>
                <button type="button" class="close" (click)="cloverModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <canvas ref="canvas" width="300" height="175" id="verify-signature-canvas"></canvas>
            </div>
            <div class="modal-body" style="background-color:#FFFFFF ">
                <div id="cloverPopupId">
                    <div class="row">
                        <div class="clearfix">
                            <div class="col-md-4" class="margin-css">
                                <label>Select Device</label>
                                <select [(ngModel)]="cloverDevice" style="border-color: #000 !important;">
                                    <option *ngFor='let list of cloverDeviceList' value="{{list.id}}">{{list.name}}
                                    </option>
                                </select>
                                <div id="status-message"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-40">
                            <button class="save-btn" type="button" (click)='connectCloverDevice()'
                                id="contDevId">Connect</button>
                            <button class="cancel-btn" type="button" (click)="cloverModal.hide()" id="cancelTransId">
                                {{'BUTTON.CANCEL' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <input type="hidden" id="completeTrsId" (click)="cloverRefund()"> -->
<!-- <input type="hidden" id="toastMsgId" (click)="displayToast()"> -->
<input type="hidden" id="paymentId">
<input type="hidden" id="orderId">
<input type="hidden" id="amtId">
<input type="hidden" id="refundId">
<!-- End of code for Clover -->