label{
    color: white;
}
    
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}
.table-bordered-white>tbody>tr>td {
    color: white;
}
.width-td{
    width: 56%;
}
.word-break {
    word-break: break-all!important;
}
@media screen and (min-width: 992px){
    .col-md-5 {
        width: 33%;
    }
}
@media screen and (device-width: 768px){
    .col-md-5 {
        width: 90%;
    }
}
@media screen and (device-width: 1024px){
.col-md-6 {
    width: 61%;
}
.col-md-5 {
    width: 38%;
}
.width-align{
    width: 100%
}
/* .setsubcont input[type=text] {
    width: 100%
} */
}