<div id="wrapper_setup_new">
  <app-header [newMenu]="'nav'"></app-header>
  <section class="setsubcont" id="inner_cont">
    <div class="container form_cont" id="dvContents">
      <div class="row mt-20">
        <div class="col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-3">
          <div class="row mb-10">
            <div class="col-md-6 col-sm-6 bill-label-set-month">
              <label class="bill-label label">Month:</label>
              <select class="select-new-trans bill-label-set select-input" (change)="changeMonth($event.target.value)">
                <option *ngFor='let months of monthsData' value="{{months.value}}">{{months.option}}
                </option>
              </select>
            </div>
            <div class="col-md-6 col-sm-6 bill-label-set-year" (change)="changeYear($event.target.value)">
              <label class="bill-label label">Year:</label>
              <select class="select-new-trans bill-label-set select-input">
                <option *ngFor="let year of yearsDataList; let i='index'" value="{{year}}" id="year{{i}}">{{year}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-sm-12 col-lg-10 col-lg-offset-2">
          <div class="row">
            <div class="col-12 col-md-12">
              <ul class="nav nav-tabs service-menu">
                <li class='tablinks {{activeTabClass[0]}}' (click)="upateTabs(0); changeType('servicesales');">
                  <a>SERVICE <br>
                    SALES </a></li>
                <li class='tablinks {{activeTabClass[1]}}' (click)="upateTabs(1); changeType('rebook');"><a>REBOOK
                    <br>
                    %</a></li>
                <li class='tablinks {{activeTabClass[2]}}' (click)="upateTabs(2); changeType('averageticket');">
                  <a>AVERAGE <br>
                    TICKET </a></li>
                <li class='tablinks {{activeTabClass[3]}}' (click)="upateTabs(3); changeType('retailtoservice');">
                  <a>RETAIL
                    TO <br>
                    SERVICE %</a></li>
                <li class='tablinks {{activeTabClass[4]}}' (click)="upateTabs(4); changeType('productsales');">
                  <a>PRODUCT <br>
                    SALES </a></li>
                <li class='tablinks {{activeTabClass[5]}}' (click)="upateTabs(5); changeType('retailperticket');">
                  <a>RETAIL PER <br>
                    TICKET</a></li>
                <li class='tablinks {{activeTabClass[6]}}' (click)="upateTabs(6); changeType('retailperguest');">
                  <a># RETAIL <br>
                    PER GUEST</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-0 col-lg-12 col-md-offset-0 bill-mt-40">
          <div class="section-main bill-board-list">
            <!-- <div class="row pro-list">
              <div class="col-sm-6 col-md-4">
                <div class="bill-board-content">
                  <p>Main Street Studio<span><img class="cup-img" alt="img" src="assets/images/trophy.png"
                        width="40px"></span></p>
                </div>
              </div>
              <div class="col-sm-10 col-md-8">
                <div class="progress">
                  <div class="progress-bar active" role="progressbar"  style="width: 82%">
                    <p class="progress-per-ge">82%</p>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="row pro-list">
                <div class="col-sm-6 col-md-4">
                  <div class="bill-board-content">
                    <p>Stephanie Danes <span><img alt="img" src="assets/images/trophy.png"></span></p>
                  </div>
                </div>
                <div class="col-sm-10 col-md-8">
                  <div class="progress">
                    <div class="progress-bar active" role="progressbar" style="width: 98%">
                      <p class="progress-per-ge">98%</p>
                    </div>
                  </div>
                </div>
              </div> -->
            <div class="row pro-list">
              <div class="row pro-list" *ngFor="let obj of data;  let i = 'index'">
                <div class="col-sm-6 col-md-4">
                  <div class="bill-board-content">
                    <p>{{obj.workerName}}<span *ngIf="displayBillboardGoals">
                        <img alt="img" src="assets/images/trophy.png" *ngIf="i === 0">
                        <img alt="img" src="assets/images/trophy.png" *ngIf="i !== 0">
                      </span></p>
                  </div>
                </div>
                <div class="col-sm-10 col-md-8">
                  <div class="progress">
                    <div class="progress-bar active" role="progressbar"
                      [ngStyle]="{'width.%': obj.billBoardData, 'color': white, 'background-color':obj.color}"
                      (click)="showGoalDetails(i);">
                      <p class="progress-per-ge">{{obj.billBoardData}}%</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-md-offset-3 col-lg-9 col-lg-offset-3 mt-20 mb-30" *ngIf="selectedItem === i">
                  <div class="row time-line">
                    <div class="col-sm-6 col-md-6 time-line-center"
                      style="background: url('assets/images/bill-round.png') right 1px;  background-repeat: repeat-y;">
                      <div class="bill-list-left">
                        <h1 [ngStyle]="{'color': obj.color}">{{obj.billBoardData}}%</h1>
                        <h2>{{obj.message}}</h2>
                        <p>Increase {{displayBillboardGoalType}} by an average <br>
                          of 2% per day to meet your goal!</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="bill-list-right">
                        <h2>{{displayBillboardGoalType}} Goals</h2>
                        <p>Current Average per Day 49%</p>
                        <p>Target Average Goal per Day 50%</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="row pro-list">
                <div class="col-sm-6 col-md-4">
                  <div class="bill-board-content">
                    <p>Christina Jones <span><img alt="img" src="assets/images/trophy.png"></span></p>
                  </div>
                </div>
                <div class="col-sm-10 col-md-8">
                  <div class="progress">
                    <div class="progress-bar active" role="progressbar" style="width: 95%">
                      <p class="progress-per-ge">95%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pro-list">
                <div class="col-sm-6 col-md-4">
                  <div class="bill-board-content">
                    <p>Jo Peters <span><img alt="img" src="assets/images/trophy.png"></span></p>
                  </div>
                </div>
                <div class="col-sm-10 col-md-8">
                  <div class="progress">
                    <div class="progress-bar active" role="progressbar" style="width: 85%">
                      <p class="progress-per-ge">85%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pro-list">
                <div class="col-sm-6 col-md-4">
                  <div class="bill-board-content">
                    <p>Shannon Leehr <span><img alt="img" src="assets/images/trophy.png"></span></p>
                  </div>
                </div>
                <div class="col-sm-10 col-md-8">
                  <div class="progress">
                    <div class="progress-bar active" role="progressbar" style="width: 75%">
                      <p class="progress-per-ge">75%</p>
                    </div>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-rightbar></app-rightbar>
</div>