.setsubcont{
    margin-right: 10%;
}
#wrapper_setup_new{
	color: white;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setsubcont select {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
}


.select-new-trans{background-image: url(/assets/images/arrow-new-down.png) !important;
background-repeat: no-repeat !important;background-position: calc(100% - 10px) center !important;
background-color: rgba(255, 255, 255, 0.2) !important;color: #fff !important;
border: 0px solid #fff !important;font-size: 16px !important;border-radius: 5px !important;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
-webkit-box-shadow: none;
box-shadow: none;outline: none;font-weight: 500 !important;height: 38px !important;
padding-left: 15px !important;padding-right: 30px !important;}

.service-menu{background: #6dacc7 !important; font-size: 0; margin: 0 !important; line-height: 0; border-radius: 6px !important;padding:0px  !important; display: inline-block !important; border:0 !important; text-align: center;}
.service-menu li{border:0 !important; display: inline-block  !important;cursor: pointer  !important; padding: 0; margin:0;}
.service-menu li a.active, .service-menu li.active a {background: #fff !important;color: #0f6496 !important;border-radius: 6px !important;}
.service-menu li a{ border:6px !important; margin: 0 !important; background: transparent !important; color: #fff !important;padding: 10px 20px !important;display: block !important;line-height: 18px !important;font-size: 15px !important;}
.service-menu li a:hover{background: #fff;color:#0f6496;border-radius: 6px;} 
.bill-mt-40{margin-top: 30px;}
.section-main{max-width: 1050px;margin:0 auto;}
.bill-board-content{text-align: right;}
.bill-board-content p{font-size: 16px;}
.bill-board-content p span{padding-left: 15px;}
.bill-board-content span img{width: 40px;height: 40px;border-radius: 50px;border: 1px solid #fff;
padding: 0;}
.bill-board-content span img.cup-img {width: 40px;height: 40px;border-radius: 0;border: 0px solid #fff;}
.bill-label{display: inline-block;}
.bill-label-set{display: inline-block;}
.bill-label-set-month{max-width: 320px;width: 100%;}
.bill-label-set-year{max-width: 260px;width: 100%;}
/* .bill-board-list .progress  .progress-bar{animation-name: animateBar;animation-iteration-count: 1;
animation-timing-function: ease-in;animation-duration: 1.0s;}
@keyframes animateBar {0% {transform: translateX(-100%);}100% {transform: translateX(0);}} */
.bill-board-list .pro-list{padding:8px 0;}
.bill-board-list .progress-bar{position: relative;}
.bill-board-list .progress{border-radius:0px;height: 35px;box-shadow: none;background-color: transparent;
margin-bottom: 0px;overflow: inherit;max-width: 620px;}
.bill-board-list .skill-name{text-transform: uppercase;margin-left: 10px;padding-left:10px;padding-top: 2.5px;float:left;font-size: 1.1em;}
.bill-board-list .progress .progress-bar, .progress .progress-bar.progress-bar-default {background-color: #ffde58 ;}
.bill-board-list .progress-bar{background-color: #7dd957;}
.bill-board-list .progress-per-ge{padding: 5px 0 0;font-size: 17px;margin-left: 10px;
display: inline-block;position: absolute;right: -50px;max-width: 30px;width: 100%;}

.time-line{width: 100%;align-items: center;display: flex;}
.time-line-center{padding: 0 0 20px;}
.bill-list-left{text-align: center;}
.bill-list-left h1{color: #7dd957;font-size: 100px;}
.bill-list-left h2{padding-bottom: 15px;}
.bill-list-left p, .bill-list-right p{margin: 0px;}

.bill-list-right{max-width: 300px;text-align: right;}
.bill-list-right h2{padding-bottom: 15px;}








@media (max-width: 1079px) {  
.service-menu{max-width: 870px;} 
.service-menu li a{padding: 10px 25px;text-align: center;font-size: 13px;} 
}
@media (max-width: 991px) {  
.service-menu{display: block;text-align: left;max-width: 640px;} 
.service-menu li a{padding: 10px 10px !important;font-size: 13px !important;text-align: center;} 
.bill-list-left h1{font-size: 84px;text-align: center;}
.bill-board-content {text-align: left;padding: 20px 0 10px;}
.bill-mt-40{margin-top: 0px;}
.time-line-center{padding: 0px;margin: 30px 0;}  
}