.chkout-button {
    margin: 2px 0px;
    border-radius: 9px;
    min-width: 215px;
    text-align: left;
}

#inner_cont {
    margin-right: 10%;
}

#wrapper_setup_new, .form_cont select {
    color: white;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

@media (device-width: 768px) {
    .apointmnet-right {
        margin-top: 10px;
    }
}

.close {
    width: 30px;
    height: 30px;
    background: #000 !important;
    border-radius: 50%;
    color: #fff !important;
    font-size: 20px !important;
    line-height: 30px !important;
    opacity: 1 !important;
    text-align: center;
    text-shadow: none !important;
    font-weight: normal !important;
}

.close span {
    margin: -2px 0 0 0;
    display: block;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal {
    z-index: 9999 !important;
    padding-bottom: 25px;
}

/*blue modal*/

.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}

.bluemodal.small-modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.close-list {
    position: relative;
    z-index: 99;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: -10px;
    position: absolute;
    top: -10px;
}

.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}

.bluemodal.small-modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.appoinment-heading {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.appoinment-heading span {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}

.form-control-italic::-webkit-input-placeholder {
    font-style: italic;
}

.form-control-italic::-moz-placeholder {
    font-style: italic;
}

.form-control-italic:-ms-input-placeholder {
    font-style: italic;
}

.form-control-italic:-moz-placeholder {
    font-style: italic;
}

.btn {
    cursor: pointer;
}

.m-0 {
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

.b-r-0 {
    border: 0 !important;
}

.v-a-t {
    vertical-align: top;
}

.bluemodal .form-control {
    color: #fff !important;
}

.bluemodal .form-control::-webkit-input-placeholder {
    color: #fff !important;
}

.bluemodal .form-control::-moz-placeholder {
    color: #fff !important;
}

.bluemodal .form-control:-ms-input-placeholder {
    color: #fff !important;
}

.bluemodal .form-control:-moz-placeholder {
    color: #fff !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline-block !important;
}

.next-mem {
    background: #8ec6d7;
    color: #fff !important;
    text-align: center;
}

.search-mem {
    background: #004368;
    color: #fff !important;
    text-align: center;
}

.new-mem {
    background: #ffffff !important;
    color: #004368 !important;
    text-align: center;
}

.newmembermodal .modal-dialog {
    margin: 0;
}

.select-bg option {
    background: #2d7aa8 !important;
    color: #fff !important;
    padding: 5px !important;
}

.modal .select-bg {
    height: 28px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

/* end of css page name title   */